In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
Actual_consumption = pd.read_csv("Actual_consumption_202301010000_202503050000_Quarterhour.csv",
                                 on_bad_lines='skip', delimiter=';')

In [3]:
Actual_consumption.head()

,Start date,End date,Total (grid load) [MWh] Original resolutions,Residual load [MWh] Original resolutions,Hydro pumped storage [MWh] Original resolutions
0,"Jan 1, 2023 12:00 AM","Jan 1, 2023 12:15 AM","9,673.00","1,842.50",494.00
1,"Jan 1, 2023 12:15 AM","Jan 1, 2023 12:30 AM","9,593.50","1,691.50",502.50
2,"Jan 1, 2023 12:30 AM","Jan 1, 2023 12:45 AM","9,562.00","1,442.50",561.00
3,"Jan 1, 2023 12:45 AM","Jan 1, 2023 1:00 AM","9,517.50","1,598.50",519.25
4,"Jan 1, 2023 1:00 AM","Jan 1, 2023 1:15 AM","9,433.25","1,325.50",301.00

In [4]:
# Define the expected datetime format
date_format = "%b %d, %Y %I:%M %p"

# Convert 'Start date' and 'End date' with explicit format
Actual_consumption["Start date"] = pd.to_datetime(Actual_consumption["Start date"], format=date_format)
Actual_consumption["End date"] = pd.to_datetime(Actual_consumption["End date"], format=date_format)

In [5]:
Actual_consumption.head()

,Start date,End date,Total (grid load) [MWh] Original resolutions,Residual load [MWh] Original resolutions,Hydro pumped storage [MWh] Original resolutions
0,2023-01-01 00:00:00,2023-01-01 00:15:00,"9,673.00","1,842.50",494.00
1,2023-01-01 00:15:00,2023-01-01 00:30:00,"9,593.50","1,691.50",502.50
2,2023-01-01 00:30:00,2023-01-01 00:45:00,"9,562.00","1,442.50",561.00
3,2023-01-01 00:45:00,2023-01-01 01:00:00,"9,517.50","1,598.50",519.25
4,2023-01-01 01:00:00,2023-01-01 01:15:00,"9,433.25","1,325.50",301.00

In [6]:
# Extract additional time features from 'Start date'
Actual_consumption['hour'] = Actual_consumption['Start date'].dt.hour
Actual_consumption['day'] = Actual_consumption['Start date'].dt.day
Actual_consumption['weekday'] = Actual_consumption['Start date'].dt.weekday
Actual_consumption['week'] = Actual_consumption['Start date'].dt.isocalendar().week
Actual_consumption['month'] = Actual_consumption['Start date'].dt.month
Actual_consumption['year'] = Actual_consumption['Start date'].dt.year

In [7]:
# Replace "-" with NaN and remove commas for proper conversion
Actual_consumption['Total (grid load) [MWh] Original resolutions'] = Actual_consumption['Total (grid load) [MWh] Original resolutions'].replace({',': '', '-': None}, regex=True)
Actual_consumption['Residual load [MWh] Original resolutions'] = Actual_consumption['Residual load [MWh] Original resolutions'].replace({',': '', '-': None}, regex=True)
Actual_consumption['Hydro pumped storage [MWh] Original resolutions'] = Actual_consumption['Hydro pumped storage [MWh] Original resolutions'].replace({',': '', '-': None}, regex=True)

In [8]:
# Convert columns to numeric
Actual_consumption['Total (grid load) [MWh] Original resolutions'] = pd.to_numeric(Actual_consumption['Total (grid load) [MWh] Original resolutions'], errors='coerce')
Actual_consumption['Residual load [MWh] Original resolutions'] = pd.to_numeric(Actual_consumption['Residual load [MWh] Original resolutions'], errors='coerce')
Actual_consumption['Hydro pumped storage [MWh] Original resolutions'] = pd.to_numeric(Actual_consumption['Hydro pumped storage [MWh] Original resolutions'], errors='coerce')

In [9]:
Actual_consumption.rename(columns={'Total (grid load) [MWh] Original resolutions': 
                                   'Actual_consumption_Total (grid load) [MWh]'}, inplace=True)
Actual_consumption.rename(columns={'Residual load [MWh] Original resolutions': 
                                   'Actual_consumption_Residual load [MWh]'}, inplace=True)
Actual_consumption.rename(columns={'Hydro pumped storage [MWh] Original resolutions': 
                                   'Actual_consumption_Hydro pumped storage [MWh]'}, inplace=True)

In [10]:
Actual_consumption.head()

,Start date,End date,Actual_consumption_Total (grid load) [MWh],Actual_consumption_Residual load [MWh],Actual_consumption_Hydro pumped storage [MWh],hour,day,weekday,week,month,year
0,2023-01-01 00:00:00,2023-01-01 00:15:00,9673.00,1842.5,494.00,0,1,6,52,1,2023
1,2023-01-01 00:15:00,2023-01-01 00:30:00,9593.50,1691.5,502.50,0,1,6,52,1,2023
2,2023-01-01 00:30:00,2023-01-01 00:45:00,9562.00,1442.5,561.00,0,1,6,52,1,2023
3,2023-01-01 00:45:00,2023-01-01 01:00:00,9517.50,1598.5,519.25,0,1,6,52,1,2023
4,2023-01-01 01:00:00,2023-01-01 01:15:00,9433.25,1325.5,301.00,1,1,6,52,1,2023

In [95]:
Actual_consumption.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76224 entries, 0 to 76223
Data columns (total 11 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Start date                                     76224 non-null  datetime64[ns]
 1   End date                                       76224 non-null  datetime64[ns]
 2   Actual_consumption_Total (grid load) [MWh]     76207 non-null  float64
 3   Actual_consumption_Residual load [MWh]         75670 non-null  float64
 4   Actual_consumption_Hydro pumped storage [MWh]  76207 non-null  float64
 5   hour                                           76224 non-null  int32
 6   day                                            76224 non-null  int32
 7   weekday                                        76224 non-null  int32
 8   week                                           76224 non-null  UInt32
 9   month                                          76224 non-null  int32
 10  year                                           76224 non-null  int32
dtypes: UInt32(1), datetime64[ns](2), float64(3), int32(5)
memory usage: 4.7 MB

In [21]:
#######################

In [71]:
Actual_generation = pd.read_csv("Actual_generation_202301010000_202503050000_Quarterhour.csv", 
                                on_bad_lines='skip', delimiter=';', low_memory=False)

In [73]:
Actual_generation.head()

,Start date,End date,Biomass [MWh] Original resolutions,Hydropower [MWh] Original resolutions,Wind offshore [MWh] Original resolutions,Wind onshore [MWh] Original resolutions,Photovoltaics [MWh] Original resolutions,Other renewable [MWh] Original resolutions,Nuclear [MWh] Original resolutions,Lignite [MWh] Original resolutions,Hard coal [MWh] Original resolutions,Fossil gas [MWh] Original resolutions,Hydro pumped storage [MWh] Original resolutions,Other conventional [MWh] Original resolutions
0,"Jan 1, 2023 12:00 AM","Jan 1, 2023 12:15 AM","1,006.25",319.75,684.25,"7,145.75",0.50,32.25,615.25,962.75,517.00,453.75,31.75,307.25
1,"Jan 1, 2023 12:15 AM","Jan 1, 2023 12:30 AM","1,003.50",317.25,743.50,"7,158.25",0.25,32.25,614.75,963.25,518.00,453.50,45.00,307.25
2,"Jan 1, 2023 12:30 AM","Jan 1, 2023 12:45 AM","1,003.00",317.00,817.00,"7,302.25",0.25,32.50,615.00,966.50,517.00,456.00,26.75,308.25
3,"Jan 1, 2023 12:45 AM","Jan 1, 2023 1:00 AM","1,001.50",321.25,814.50,"7,104.25",0.25,32.50,614.50,966.75,515.50,454.50,21.75,306.00
4,"Jan 1, 2023 1:00 AM","Jan 1, 2023 1:15 AM",997.50,314.75,785.50,"7,322.00",0.25,32.25,614.50,969.00,513.25,415.00,137.00,306.75

In [75]:
# Check for missing values
missing_values = Actual_generation.isnull().sum()
print("Missing values in each column:\n", missing_values)

# Check data types
print("Data types:\n", Actual_generation.dtypes)

# Check for duplicates
duplicates = Actual_generation.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Missing values in each column:
 Start date                                         0
End date                                           0
Biomass [MWh] Original resolutions                 0
Hydropower [MWh] Original resolutions              0
Wind offshore [MWh] Original resolutions           0
Wind onshore [MWh] Original resolutions            0
Photovoltaics [MWh] Original resolutions           0
Other renewable [MWh] Original resolutions         0
Nuclear [MWh] Original resolutions                 0
Lignite [MWh] Original resolutions                 0
Hard coal [MWh] Original resolutions               0
Fossil gas [MWh] Original resolutions              0
Hydro pumped storage [MWh] Original resolutions    0
Other conventional [MWh] Original resolutions      0
dtype: int64
Data types:
 Start date                                         object
End date                                           object
Biomass [MWh] Original resolutions                 object
Hydropower [MWh] Original resolutions              object
Wind offshore [MWh] Original resolutions           object
Wind onshore [MWh] Original resolutions            object
Photovoltaics [MWh] Original resolutions           object
Other renewable [MWh] Original resolutions         object
Nuclear [MWh] Original resolutions                 object
Lignite [MWh] Original resolutions                 object
Hard coal [MWh] Original resolutions               object
Fossil gas [MWh] Original resolutions              object
Hydro pumped storage [MWh] Original resolutions    object
Other conventional [MWh] Original resolutions      object
dtype: object
Number of duplicate rows: 0

In [77]:
# Remove commas and convert to numeric for all the generation columns
generation_columns = ['Biomass [MWh] Original resolutions',
                      'Hydropower [MWh] Original resolutions',
                      'Wind offshore [MWh] Original resolutions',
                      'Wind onshore [MWh] Original resolutions',
                      'Photovoltaics [MWh] Original resolutions',
                      'Other renewable [MWh] Original resolutions',
                      'Nuclear [MWh] Original resolutions',
                      'Lignite [MWh] Original resolutions',
                      'Hard coal [MWh] Original resolutions',
                      'Fossil gas [MWh] Original resolutions',
                      'Hydro pumped storage [MWh] Original resolutions',
                      'Other conventional [MWh] Original resolutions']

# Replace '-' with NaN, then remove commas and convert columns to float
for col in generation_columns:
    Actual_generation[col] = Actual_generation[col].replace({'-': None, ',': ''}, regex=True)
    Actual_generation[col] = pd.to_numeric(Actual_generation[col], errors='coerce')

Actual_generation.head()

,Start date,End date,Biomass [MWh] Original resolutions,Hydropower [MWh] Original resolutions,Wind offshore [MWh] Original resolutions,Wind onshore [MWh] Original resolutions,Photovoltaics [MWh] Original resolutions,Other renewable [MWh] Original resolutions,Nuclear [MWh] Original resolutions,Lignite [MWh] Original resolutions,Hard coal [MWh] Original resolutions,Fossil gas [MWh] Original resolutions,Hydro pumped storage [MWh] Original resolutions,Other conventional [MWh] Original resolutions
0,"Jan 1, 2023 12:00 AM","Jan 1, 2023 12:15 AM",1006.25,319.75,684.25,7145.75,0.50,32.25,615.25,962.75,517.00,453.75,31.75,307.25
1,"Jan 1, 2023 12:15 AM","Jan 1, 2023 12:30 AM",1003.50,317.25,743.50,7158.25,0.25,32.25,614.75,963.25,518.00,453.50,45.00,307.25
2,"Jan 1, 2023 12:30 AM","Jan 1, 2023 12:45 AM",1003.00,317.00,817.00,7302.25,0.25,32.50,615.00,966.50,517.00,456.00,26.75,308.25
3,"Jan 1, 2023 12:45 AM","Jan 1, 2023 1:00 AM",1001.50,321.25,814.50,7104.25,0.25,32.50,614.50,966.75,515.50,454.50,21.75,306.00
4,"Jan 1, 2023 1:00 AM","Jan 1, 2023 1:15 AM",997.50,314.75,785.50,7322.00,0.25,32.25,614.50,969.00,513.25,415.00,137.00,306.75

In [78]:
# Check the data types after conversion
Actual_generation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76224 entries, 0 to 76223
Data columns (total 14 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Start date                                       76224 non-null  object
 1   End date                                         76224 non-null  object
 2   Biomass [MWh] Original resolutions               76207 non-null  float64
 3   Hydropower [MWh] Original resolutions            76207 non-null  float64
 4   Wind offshore [MWh] Original resolutions         76208 non-null  float64
 5   Wind onshore [MWh] Original resolutions          76207 non-null  float64
 6   Photovoltaics [MWh] Original resolutions         76207 non-null  float64
 7   Other renewable [MWh] Original resolutions       76207 non-null  float64
 8   Nuclear [MWh] Original resolutions               37874 non-null  float64
 9   Lignite [MWh] Original resolutions               76207 non-null  float64
 10  Hard coal [MWh] Original resolutions             76207 non-null  float64
 11  Fossil gas [MWh] Original resolutions            76207 non-null  float64
 12  Hydro pumped storage [MWh] Original resolutions  76207 non-null  float64
 13  Other conventional [MWh] Original resolutions    76207 non-null  float64
dtypes: float64(12), object(2)
memory usage: 8.1+ MB

In [79]:
# Convert 'Start date' and 'End date' to datetime format
Actual_generation['Start date'] = pd.to_datetime(Actual_generation['Start date'], format='%b %d, %Y %I:%M %p')
Actual_generation['End date'] = pd.to_datetime(Actual_generation['End date'], format='%b %d, %Y %I:%M %p')

# Check the conversion
print(Actual_generation[['Start date', 'End date']].head())

           Start date            End date
0 2023-01-01 00:00:00 2023-01-01 00:15:00
1 2023-01-01 00:15:00 2023-01-01 00:30:00
2 2023-01-01 00:30:00 2023-01-01 00:45:00
3 2023-01-01 00:45:00 2023-01-01 01:00:00
4 2023-01-01 01:00:00 2023-01-01 01:15:00

In [80]:
# Extract additional time features from 'Start date'
Actual_generation['hour'] = Actual_generation['Start date'].dt.hour
Actual_generation['day'] = Actual_generation['Start date'].dt.day
Actual_generation['weekday'] = Actual_generation['Start date'].dt.weekday
Actual_generation['week'] = Actual_generation['Start date'].dt.isocalendar().week
Actual_generation['month'] = Actual_generation['Start date'].dt.month
Actual_generation['year'] = Actual_generation['Start date'].dt.year

In [85]:
# Replace infinite values with NaN explicitly
# Actual_generation.replace([np.inf, -np.inf], np.nan, inplace=True)

In [87]:
# Convert all columns to numeric, coercing errors to NaN (this ensures non-numeric values are replaced with NaN)
# Actual_generation = Actual_generation.apply(pd.to_numeric, errors='coerce')

In [89]:
# Create a new column for total energy generation
Actual_generation['Total Generation [MWh]'] = Actual_generation[generation_columns].sum(axis=1)

In [91]:
Actual_generation.head()

,Start date,End date,Biomass [MWh] Original resolutions,Hydropower [MWh] Original resolutions,Wind offshore [MWh] Original resolutions,Wind onshore [MWh] Original resolutions,Photovoltaics [MWh] Original resolutions,Other renewable [MWh] Original resolutions,Nuclear [MWh] Original resolutions,Lignite [MWh] Original resolutions,...,Fossil gas [MWh] Original resolutions,Hydro pumped storage [MWh] Original resolutions,Other conventional [MWh] Original resolutions,hour,day,weekday,week,month,year,Total Generation [MWh]
0,2023-01-01 00:00:00,2023-01-01 00:15:00,1006.25,319.75,684.25,7145.75,0.50,32.25,615.25,962.75,...,453.75,31.75,307.25,0,1,6,52,1,2023,12076.50
1,2023-01-01 00:15:00,2023-01-01 00:30:00,1003.50,317.25,743.50,7158.25,0.25,32.25,614.75,963.25,...,453.50,45.00,307.25,0,1,6,52,1,2023,12156.75
2,2023-01-01 00:30:00,2023-01-01 00:45:00,1003.00,317.00,817.00,7302.25,0.25,32.50,615.00,966.50,...,456.00,26.75,308.25,0,1,6,52,1,2023,12361.50
3,2023-01-01 00:45:00,2023-01-01 01:00:00,1001.50,321.25,814.50,7104.25,0.25,32.50,614.50,966.75,...,454.50,21.75,306.00,0,1,6,52,1,2023,12153.25
4,2023-01-01 01:00:00,2023-01-01 01:15:00,997.50,314.75,785.50,7322.00,0.25,32.25,614.50,969.00,...,415.00,137.00,306.75,1,1,6,52,1,2023,12407.75

In [93]:
Actual_generation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76224 entries, 0 to 76223
Data columns (total 21 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Start date                                       76224 non-null  datetime64[ns]
 1   End date                                         76224 non-null  datetime64[ns]
 2   Biomass [MWh] Original resolutions               76207 non-null  float64
 3   Hydropower [MWh] Original resolutions            76207 non-null  float64
 4   Wind offshore [MWh] Original resolutions         76208 non-null  float64
 5   Wind onshore [MWh] Original resolutions          76207 non-null  float64
 6   Photovoltaics [MWh] Original resolutions         76207 non-null  float64
 7   Other renewable [MWh] Original resolutions       76207 non-null  float64
 8   Nuclear [MWh] Original resolutions               37874 non-null  float64
 9   Lignite [MWh] Original resolutions               76207 non-null  float64
 10  Hard coal [MWh] Original resolutions             76207 non-null  float64
 11  Fossil gas [MWh] Original resolutions            76207 non-null  float64
 12  Hydro pumped storage [MWh] Original resolutions  76207 non-null  float64
 13  Other conventional [MWh] Original resolutions    76207 non-null  float64
 14  hour                                             76224 non-null  int32
 15  day                                              76224 non-null  int32
 16  weekday                                          76224 non-null  int32
 17  week                                             76224 non-null  UInt32
 18  month                                            76224 non-null  int32
 19  year                                             76224 non-null  int32
 20  Total Generation [MWh]                           76224 non-null  float64
dtypes: UInt32(1), datetime64[ns](2), float64(13), int32(5)
memory usage: 10.5 MB

In [97]:
#########################################

In [99]:
# Merge the two dataframes
merged_df = pd.merge(
    Actual_consumption, 
    Actual_generation, 
    on=['Start date', 'End date', 'hour', 'day', 'weekday', 'week', 'month', 'year'], 
    how='inner'
)

# Check the result
merged_df.info()
merged_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76240 entries, 0 to 76239
Data columns (total 24 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Start date                                       76240 non-null  datetime64[ns]
 1   End date                                         76240 non-null  datetime64[ns]
 2   Actual_consumption_Total (grid load) [MWh]       76223 non-null  float64
 3   Actual_consumption_Residual load [MWh]           75686 non-null  float64
 4   Actual_consumption_Hydro pumped storage [MWh]    76223 non-null  float64
 5   hour                                             76240 non-null  int32
 6   day                                              76240 non-null  int32
 7   weekday                                          76240 non-null  int32
 8   week                                             76240 non-null  UInt32
 9   month                                            76240 non-null  int32
 10  year                                             76240 non-null  int32
 11  Biomass [MWh] Original resolutions               76223 non-null  float64
 12  Hydropower [MWh] Original resolutions            76223 non-null  float64
 13  Wind offshore [MWh] Original resolutions         76224 non-null  float64
 14  Wind onshore [MWh] Original resolutions          76223 non-null  float64
 15  Photovoltaics [MWh] Original resolutions         76223 non-null  float64
 16  Other renewable [MWh] Original resolutions       76223 non-null  float64
 17  Nuclear [MWh] Original resolutions               37882 non-null  float64
 18  Lignite [MWh] Original resolutions               76223 non-null  float64
 19  Hard coal [MWh] Original resolutions             76223 non-null  float64
 20  Fossil gas [MWh] Original resolutions            76223 non-null  float64
 21  Hydro pumped storage [MWh] Original resolutions  76223 non-null  float64
 22  Other conventional [MWh] Original resolutions    76223 non-null  float64
 23  Total Generation [MWh]                           76240 non-null  float64
dtypes: UInt32(1), datetime64[ns](2), float64(16), int32(5)
memory usage: 12.3 MB

,Start date,End date,Actual_consumption_Total (grid load) [MWh],Actual_consumption_Residual load [MWh],Actual_consumption_Hydro pumped storage [MWh],hour,day,weekday,week,month,...,Wind onshore [MWh] Original resolutions,Photovoltaics [MWh] Original resolutions,Other renewable [MWh] Original resolutions,Nuclear [MWh] Original resolutions,Lignite [MWh] Original resolutions,Hard coal [MWh] Original resolutions,Fossil gas [MWh] Original resolutions,Hydro pumped storage [MWh] Original resolutions,Other conventional [MWh] Original resolutions,Total Generation [MWh]
0,2023-01-01 00:00:00,2023-01-01 00:15:00,9673.00,1842.5,494.00,0,1,6,52,1,...,7145.75,0.50,32.25,615.25,962.75,517.00,453.75,31.75,307.25,12076.50
1,2023-01-01 00:15:00,2023-01-01 00:30:00,9593.50,1691.5,502.50,0,1,6,52,1,...,7158.25,0.25,32.25,614.75,963.25,518.00,453.50,45.00,307.25,12156.75
2,2023-01-01 00:30:00,2023-01-01 00:45:00,9562.00,1442.5,561.00,0,1,6,52,1,...,7302.25,0.25,32.50,615.00,966.50,517.00,456.00,26.75,308.25,12361.50
3,2023-01-01 00:45:00,2023-01-01 01:00:00,9517.50,1598.5,519.25,0,1,6,52,1,...,7104.25,0.25,32.50,614.50,966.75,515.50,454.50,21.75,306.00,12153.25
4,2023-01-01 01:00:00,2023-01-01 01:15:00,9433.25,1325.5,301.00,1,1,6,52,1,...,7322.00,0.25,32.25,614.50,969.00,513.25,415.00,137.00,306.75,12407.75

In [102]:
#########################################

In [104]:
Automatic_Frequency_Restoration_Reserve = pd.read_csv("Automatic_Frequency_Restoration_Reserve_202301010000_202503050000_Quarterhour.csv", 
                                                      on_bad_lines='skip', delimiter=';', low_memory=False)

In [106]:
Automatic_Frequency_Restoration_Reserve.head()

,Start date,End date,Volume activated (+) [MWh] Original resolutions,Volume activated (-) [MWh] Original resolutions,Activation price (+) [€/MWh] Original resolutions,Activation price (-) [€/MWh] Original resolutions,Volume procured (+) [MW] Original resolutions,Volume procured (-) [MW] Original resolutions,Procurement price (+) [€/MW] Original resolutions,Procurement price (-) [€/MW] Original resolutions
0,"Jan 1, 2023 12:00 AM","Jan 1, 2023 12:15 AM",0.00,15.50,-,-,"1,941.00","2,029.00",0.52,7.52
1,"Jan 1, 2023 12:15 AM","Jan 1, 2023 12:30 AM",20.75,41.75,-,-,"1,941.00","2,029.00",0.52,7.52
2,"Jan 1, 2023 12:30 AM","Jan 1, 2023 12:45 AM",0.00,82.50,-,-,"1,941.00","2,029.00",0.52,7.52
3,"Jan 1, 2023 12:45 AM","Jan 1, 2023 1:00 AM",19.00,11.25,-,-,"1,941.00","2,029.00",0.52,7.52
4,"Jan 1, 2023 1:00 AM","Jan 1, 2023 1:15 AM",155.00,0.00,-,-,"1,941.00","2,029.00",0.52,7.52

In [108]:
# Convert the 'Start date' column to datetime format
Actual_frequency = Automatic_Frequency_Restoration_Reserve.copy()
Actual_frequency['Start date'] = pd.to_datetime(Actual_frequency['Start date'], format='%b %d, %Y %I:%M %p')
Actual_frequency['End date'] = pd.to_datetime(Actual_frequency['End date'], format='%b %d, %Y %I:%M %p')

In [110]:
# Extract time period features
Actual_frequency['hour'] = Actual_frequency['Start date'].dt.hour
Actual_frequency['day'] = Actual_frequency['Start date'].dt.day
Actual_frequency['weekday'] = Actual_frequency['Start date'].dt.weekday
Actual_frequency['week'] = Actual_frequency['Start date'].dt.isocalendar().week
Actual_frequency['month'] = Actual_frequency['Start date'].dt.month
Actual_frequency['year'] = Actual_frequency['Start date'].dt.year

In [112]:
# List of numerical columns to clean
generation_columns = [
    'Volume activated (+) [MWh] Original resolutions',
    'Volume activated (-) [MWh] Original resolutions',
    'Activation price (+) [€/MWh] Original resolutions',
    'Activation price (-) [€/MWh] Original resolutions',
    'Volume procured (+) [MW] Original resolutions',
    'Volume procured (-) [MW] Original resolutions',
    'Procurement price (+) [€/MW] Original resolutions',
    'Procurement price (-) [€/MW] Original resolutions'
]

# Replace '-' with NaN, remove commas, and convert to float
Actual_frequency[generation_columns] = (
    Actual_frequency[generation_columns]
    .replace({'-': np.nan, ',': ''}, regex=True)
    .infer_objects(copy=False)  # Explicitly retain old behavior
    .apply(pd.to_numeric, errors='coerce')
)

# Replace infinite values with NaN
Actual_frequency.replace([np.inf, -np.inf], np.nan, inplace=True)

C:\Users\yunus\AppData\Local\Temp\ipykernel_11472\1146939189.py:16: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .replace({'-': np.nan, ',': ''}, regex=True)

In [114]:
# Drop the specified columns
Actual_frequency = Actual_frequency.drop(columns=[
    'Activation price (+) [€/MWh] Original resolutions',
    'Activation price (-) [€/MWh] Original resolutions'
])

# Verify the columns have been removed
print(Actual_frequency.columns)

Index(['Start date', 'End date',
       'Volume activated (+) [MWh] Original resolutions',
       'Volume activated (-) [MWh] Original resolutions',
       'Volume procured (+) [MW] Original resolutions',
       'Volume procured (-) [MW] Original resolutions',
       'Procurement price (+) [€/MW] Original resolutions',
       'Procurement price (-) [€/MW] Original resolutions', 'hour', 'day',
       'weekday', 'week', 'month', 'year'],
      dtype='object')

In [116]:
Actual_frequency.head()

,Start date,End date,Volume activated (+) [MWh] Original resolutions,Volume activated (-) [MWh] Original resolutions,Volume procured (+) [MW] Original resolutions,Volume procured (-) [MW] Original resolutions,Procurement price (+) [€/MW] Original resolutions,Procurement price (-) [€/MW] Original resolutions,hour,day,weekday,week,month,year
0,2023-01-01 00:00:00,2023-01-01 00:15:00,0.00,15.50,1941.0,2029.0,0.52,7.52,0,1,6,52,1,2023
1,2023-01-01 00:15:00,2023-01-01 00:30:00,20.75,41.75,1941.0,2029.0,0.52,7.52,0,1,6,52,1,2023
2,2023-01-01 00:30:00,2023-01-01 00:45:00,0.00,82.50,1941.0,2029.0,0.52,7.52,0,1,6,52,1,2023
3,2023-01-01 00:45:00,2023-01-01 01:00:00,19.00,11.25,1941.0,2029.0,0.52,7.52,0,1,6,52,1,2023
4,2023-01-01 01:00:00,2023-01-01 01:15:00,155.00,0.00,1941.0,2029.0,0.52,7.52,1,1,6,52,1,2023

In [118]:
Actual_frequency.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76224 entries, 0 to 76223
Data columns (total 14 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Start date                                         76224 non-null  datetime64[ns]
 1   End date                                           76224 non-null  datetime64[ns]
 2   Volume activated (+) [MWh] Original resolutions    30012 non-null  float64
 3   Volume activated (-) [MWh] Original resolutions    30012 non-null  float64
 4   Volume procured (+) [MW] Original resolutions      17372 non-null  float64
 5   Volume procured (-) [MW] Original resolutions      17372 non-null  float64
 6   Procurement price (+) [€/MW] Original resolutions  17372 non-null  float64
 7   Procurement price (-) [€/MW] Original resolutions  17372 non-null  float64
 8   hour                                               76224 non-null  int32
 9   day                                                76224 non-null  int32
 10  weekday                                            76224 non-null  int32
 11  week                                               76224 non-null  UInt32
 12  month                                              76224 non-null  int32
 13  year                                               76224 non-null  int32
dtypes: UInt32(1), datetime64[ns](2), float64(6), int32(5)
memory usage: 6.5 MB

In [120]:
#########################################

In [122]:
# Merge the two dataframes
merged_df2 = pd.merge(
    merged_df, 
    Actual_frequency, 
    on=['Start date', 'End date', 'hour', 'day', 'weekday', 'week', 'month', 'year'], 
    how='inner'
)

# Check the result
merged_df2.info()
merged_df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76272 entries, 0 to 76271
Data columns (total 30 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Start date                                         76272 non-null  datetime64[ns]
 1   End date                                           76272 non-null  datetime64[ns]
 2   Actual_consumption_Total (grid load) [MWh]         76255 non-null  float64
 3   Actual_consumption_Residual load [MWh]             75718 non-null  float64
 4   Actual_consumption_Hydro pumped storage [MWh]      76255 non-null  float64
 5   hour                                               76272 non-null  int32
 6   day                                                76272 non-null  int32
 7   weekday                                            76272 non-null  int32
 8   week                                               76272 non-null  UInt32
 9   month                                              76272 non-null  int32
 10  year                                               76272 non-null  int32
 11  Biomass [MWh] Original resolutions                 76255 non-null  float64
 12  Hydropower [MWh] Original resolutions              76255 non-null  float64
 13  Wind offshore [MWh] Original resolutions           76256 non-null  float64
 14  Wind onshore [MWh] Original resolutions            76255 non-null  float64
 15  Photovoltaics [MWh] Original resolutions           76255 non-null  float64
 16  Other renewable [MWh] Original resolutions         76255 non-null  float64
 17  Nuclear [MWh] Original resolutions                 37898 non-null  float64
 18  Lignite [MWh] Original resolutions                 76255 non-null  float64
 19  Hard coal [MWh] Original resolutions               76255 non-null  float64
 20  Fossil gas [MWh] Original resolutions              76255 non-null  float64
 21  Hydro pumped storage [MWh] Original resolutions    76255 non-null  float64
 22  Other conventional [MWh] Original resolutions      76255 non-null  float64
 23  Total Generation [MWh]                             76272 non-null  float64
 24  Volume activated (+) [MWh] Original resolutions    30036 non-null  float64
 25  Volume activated (-) [MWh] Original resolutions    30036 non-null  float64
 26  Volume procured (+) [MW] Original resolutions      17372 non-null  float64
 27  Volume procured (-) [MW] Original resolutions      17372 non-null  float64
 28  Procurement price (+) [€/MW] Original resolutions  17372 non-null  float64
 29  Procurement price (-) [€/MW] Original resolutions  17372 non-null  float64
dtypes: UInt32(1), datetime64[ns](2), float64(22), int32(5)
memory usage: 15.8 MB

,Start date,End date,Actual_consumption_Total (grid load) [MWh],Actual_consumption_Residual load [MWh],Actual_consumption_Hydro pumped storage [MWh],hour,day,weekday,week,month,...,Fossil gas [MWh] Original resolutions,Hydro pumped storage [MWh] Original resolutions,Other conventional [MWh] Original resolutions,Total Generation [MWh],Volume activated (+) [MWh] Original resolutions,Volume activated (-) [MWh] Original resolutions,Volume procured (+) [MW] Original resolutions,Volume procured (-) [MW] Original resolutions,Procurement price (+) [€/MW] Original resolutions,Procurement price (-) [€/MW] Original resolutions
0,2023-01-01 00:00:00,2023-01-01 00:15:00,9673.00,1842.5,494.00,0,1,6,52,1,...,453.75,31.75,307.25,12076.50,0.00,15.50,1941.0,2029.0,0.52,7.52
1,2023-01-01 00:15:00,2023-01-01 00:30:00,9593.50,1691.5,502.50,0,1,6,52,1,...,453.50,45.00,307.25,12156.75,20.75,41.75,1941.0,2029.0,0.52,7.52
2,2023-01-01 00:30:00,2023-01-01 00:45:00,9562.00,1442.5,561.00,0,1,6,52,1,...,456.00,26.75,308.25,12361.50,0.00,82.50,1941.0,2029.0,0.52,7.52
3,2023-01-01 00:45:00,2023-01-01 01:00:00,9517.50,1598.5,519.25,0,1,6,52,1,...,454.50,21.75,306.00,12153.25,19.00,11.25,1941.0,2029.0,0.52,7.52
4,2023-01-01 01:00:00,2023-01-01 01:15:00,9433.25,1325.5,301.00,1,1,6,52,1,...,415.00,137.00,306.75,12407.75,155.00,0.00,1941.0,2029.0,0.52,7.52

In [ ]:
#########################################

In [124]:
Balancing_energy = pd.read_csv("Balancing_energy_202301010000_202503050000_Quarterhour_Month.csv", 
                                                      on_bad_lines='skip', delimiter=';', low_memory=False)

In [126]:
Balancing_energy.head()

,Start date,End date,Volume (+) [MWh] Original resolutions,Volume (-) [MWh] Original resolutions,Price [€/MWh] Original resolutions,Net income [€] Original resolutions
0,"Jan 1, 2023 12:00 AM","Jan 1, 2023 12:15 AM",-,-,185.56,"31,476,878.85"
1,"Jan 1, 2023 12:15 AM","Jan 1, 2023 12:30 AM",-,-,-78.96,-
2,"Jan 1, 2023 12:30 AM","Jan 1, 2023 12:45 AM",-,-,-76.74,-
3,"Jan 1, 2023 12:45 AM","Jan 1, 2023 1:00 AM",-,-,-60.71,-
4,"Jan 1, 2023 1:00 AM","Jan 1, 2023 1:15 AM",-,-,250.99,-

In [128]:
# Convert 'Start date' and 'End date' to datetime
Balancing_energy['Start date'] = pd.to_datetime(Balancing_energy['Start date'], format='%b %d, %Y %I:%M %p')
Balancing_energy['End date'] = pd.to_datetime(Balancing_energy['End date'], format='%b %d, %Y %I:%M %p')

In [130]:
# Drop the specified columns
Balancing_energy = Balancing_energy.drop(columns=[
    'Volume (+) [MWh] Original resolutions',
    'Volume (-) [MWh] Original resolutions'
])

# Verify the columns have been removed
print(Balancing_energy.columns)

Index(['Start date', 'End date', 'Price [€/MWh] Original resolutions',
       'Net income [€] Original resolutions'],
      dtype='object')

In [132]:
# Replace standalone '-' with NaN, remove commas, and convert numeric columns
num_cols = ['Price [€/MWh] Original resolutions', 
            'Net income [€] Original resolutions']

for col in num_cols:
    # Replace standalone '-' with NaN and remove commas
    Balancing_energy[col] = Balancing_energy[col].replace({'^-$': np.nan, ',': ''}, regex=True)
    
    # Convert to numeric, forcing errors to NaN
    Balancing_energy[col] = pd.to_numeric(Balancing_energy[col], errors='coerce')

# Replace infinite values with NaN
Balancing_energy.replace([np.inf, -np.inf], np.nan, inplace=True)

# Display the cleaned dataset
print(Balancing_energy.head())

           Start date            End date  Price [€/MWh] Original resolutions  \
0 2023-01-01 00:00:00 2023-01-01 00:15:00                              185.56
1 2023-01-01 00:15:00 2023-01-01 00:30:00                              -78.96
2 2023-01-01 00:30:00 2023-01-01 00:45:00                              -76.74
3 2023-01-01 00:45:00 2023-01-01 01:00:00                              -60.71
4 2023-01-01 01:00:00 2023-01-01 01:15:00                              250.99

   Net income [€] Original resolutions
0                          31476878.85
1                                  NaN
2                                  NaN
3                                  NaN
4                                  NaN

In [134]:
# Extract time-based features
Balancing_energy['hour'] = Balancing_energy['Start date'].dt.hour
Balancing_energy['day'] = Balancing_energy['Start date'].dt.day
Balancing_energy['week'] = Balancing_energy['Start date'].dt.isocalendar().week
Balancing_energy['weekday'] = Balancing_energy['Start date'].dt.weekday  # 0=Monday, 6=Sunday
Balancing_energy['month'] = Balancing_energy['Start date'].dt.month
Balancing_energy['year'] = Balancing_energy['Start date'].dt.year

In [138]:
Balancing_energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76224 entries, 0 to 76223
Data columns (total 10 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Start date                           76224 non-null  datetime64[ns]
 1   End date                             76224 non-null  datetime64[ns]
 2   Price [€/MWh] Original resolutions   76152 non-null  float64
 3   Net income [€] Original resolutions  23 non-null     float64
 4   hour                                 76224 non-null  int32
 5   day                                  76224 non-null  int32
 6   week                                 76224 non-null  UInt32
 7   weekday                              76224 non-null  int32
 8   month                                76224 non-null  int32
 9   year                                 76224 non-null  int32
dtypes: UInt32(1), datetime64[ns](2), float64(2), int32(5)
memory usage: 4.1 MB

In [136]:
Balancing_energy.head()

,Start date,End date,Price [€/MWh] Original resolutions,Net income [€] Original resolutions,hour,day,week,weekday,month,year
0,2023-01-01 00:00:00,2023-01-01 00:15:00,185.56,31476878.85,0,1,52,6,1,2023
1,2023-01-01 00:15:00,2023-01-01 00:30:00,-78.96,NaN,0,1,52,6,1,2023
2,2023-01-01 00:30:00,2023-01-01 00:45:00,-76.74,NaN,0,1,52,6,1,2023
3,2023-01-01 00:45:00,2023-01-01 01:00:00,-60.71,NaN,0,1,52,6,1,2023
4,2023-01-01 01:00:00,2023-01-01 01:15:00,250.99,NaN,1,1,52,6,1,2023

In [ ]:
#########################################

In [140]:
# Merge the two dataframes
merged_df3 = pd.merge(
    merged_df2, 
    Balancing_energy, 
    on=['Start date', 'End date', 'hour', 'day', 'weekday', 'week', 'month', 'year'], 
    how='inner'
)

# Check the result
merged_df3.info()
merged_df3.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76336 entries, 0 to 76335
Data columns (total 32 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Start date                                         76336 non-null  datetime64[ns]
 1   End date                                           76336 non-null  datetime64[ns]
 2   Actual_consumption_Total (grid load) [MWh]         76319 non-null  float64
 3   Actual_consumption_Residual load [MWh]             75782 non-null  float64
 4   Actual_consumption_Hydro pumped storage [MWh]      76319 non-null  float64
 5   hour                                               76336 non-null  int32
 6   day                                                76336 non-null  int32
 7   weekday                                            76336 non-null  int32
 8   week                                               76336 non-null  UInt32
 9   month                                              76336 non-null  int32
 10  year                                               76336 non-null  int32
 11  Biomass [MWh] Original resolutions                 76319 non-null  float64
 12  Hydropower [MWh] Original resolutions              76319 non-null  float64
 13  Wind offshore [MWh] Original resolutions           76320 non-null  float64
 14  Wind onshore [MWh] Original resolutions            76319 non-null  float64
 15  Photovoltaics [MWh] Original resolutions           76319 non-null  float64
 16  Other renewable [MWh] Original resolutions         76319 non-null  float64
 17  Nuclear [MWh] Original resolutions                 37930 non-null  float64
 18  Lignite [MWh] Original resolutions                 76319 non-null  float64
 19  Hard coal [MWh] Original resolutions               76319 non-null  float64
 20  Fossil gas [MWh] Original resolutions              76319 non-null  float64
 21  Hydro pumped storage [MWh] Original resolutions    76319 non-null  float64
 22  Other conventional [MWh] Original resolutions      76319 non-null  float64
 23  Total Generation [MWh]                             76336 non-null  float64
 24  Volume activated (+) [MWh] Original resolutions    30068 non-null  float64
 25  Volume activated (-) [MWh] Original resolutions    30068 non-null  float64
 26  Volume procured (+) [MW] Original resolutions      17372 non-null  float64
 27  Volume procured (-) [MW] Original resolutions      17372 non-null  float64
 28  Procurement price (+) [€/MW] Original resolutions  17372 non-null  float64
 29  Procurement price (-) [€/MW] Original resolutions  17372 non-null  float64
 30  Price [€/MWh] Original resolutions                 76264 non-null  float64
 31  Net income [€] Original resolutions                23 non-null     float64
dtypes: UInt32(1), datetime64[ns](2), float64(24), int32(5)
memory usage: 17.0 MB

,Start date,End date,Actual_consumption_Total (grid load) [MWh],Actual_consumption_Residual load [MWh],Actual_consumption_Hydro pumped storage [MWh],hour,day,weekday,week,month,...,Other conventional [MWh] Original resolutions,Total Generation [MWh],Volume activated (+) [MWh] Original resolutions,Volume activated (-) [MWh] Original resolutions,Volume procured (+) [MW] Original resolutions,Volume procured (-) [MW] Original resolutions,Procurement price (+) [€/MW] Original resolutions,Procurement price (-) [€/MW] Original resolutions,Price [€/MWh] Original resolutions,Net income [€] Original resolutions
0,2023-01-01 00:00:00,2023-01-01 00:15:00,9673.00,1842.5,494.00,0,1,6,52,1,...,307.25,12076.50,0.00,15.50,1941.0,2029.0,0.52,7.52,185.56,31476878.85
1,2023-01-01 00:15:00,2023-01-01 00:30:00,9593.50,1691.5,502.50,0,1,6,52,1,...,307.25,12156.75,20.75,41.75,1941.0,2029.0,0.52,7.52,-78.96,NaN
2,2023-01-01 00:30:00,2023-01-01 00:45:00,9562.00,1442.5,561.00,0,1,6,52,1,...,308.25,12361.50,0.00,82.50,1941.0,2029.0,0.52,7.52,-76.74,NaN
3,2023-01-01 00:45:00,2023-01-01 01:00:00,9517.50,1598.5,519.25,0,1,6,52,1,...,306.00,12153.25,19.00,11.25,1941.0,2029.0,0.52,7.52,-60.71,NaN
4,2023-01-01 01:00:00,2023-01-01 01:15:00,9433.25,1325.5,301.00,1,1,6,52,1,...,306.75,12407.75,155.00,0.00,1941.0,2029.0,0.52,7.52,250.99,NaN

In [142]:
# Save DataFrame to CSV file
merged_df3.to_csv('merged_df3.csv', index=False)

In [144]:
#########################################

In [160]:
Costs_of_TSOs = pd.read_csv("Costs_of_TSOs__without_costs_of_DSOs__202301010000_202503050000_Month.csv", 
                                                      on_bad_lines='skip', delimiter=';', low_memory=False)

In [162]:
Costs_of_TSOs.head()

,Start date,End date,Balancing services [€] Original resolutions,Network security of the TSOs [€] Original resolutions,Countertrading [€] Original resolutions
0,"Jan 1, 2023","Feb 1, 2023","71,578,546.31","398,275,875.99","17,519,420.07"
1,"Feb 1, 2023","Mar 1, 2023","40,835,671.81","336,263,255.21","19,384,916.81"
2,"Mar 1, 2023","Apr 1, 2023","71,751,158.39","299,891,586.33","16,184,262.39"
3,"Apr 1, 2023","May 1, 2023","82,581,492.42","217,050,506.56","17,818,622.42"
4,"May 1, 2023","Jun 1, 2023","61,944,912.17","127,817,685.10","18,333,011.12"

In [164]:
# Convert 'Start date' and 'End date' to datetime
Costs_of_TSOs['Start date'] = pd.to_datetime(Costs_of_TSOs['Start date'], format='%b %d, %Y')
Costs_of_TSOs['End date'] = pd.to_datetime(Costs_of_TSOs['End date'], format='%b %d, %Y')

In [166]:
# Extract time-based features
Costs_of_TSOs['hour'] = Costs_of_TSOs['Start date'].dt.hour
Costs_of_TSOs['day'] = Costs_of_TSOs['Start date'].dt.day
Costs_of_TSOs['week'] = Costs_of_TSOs['Start date'].dt.isocalendar().week
Costs_of_TSOs['weekday'] = Costs_of_TSOs['Start date'].dt.weekday  # 0=Monday, 6=Sunday
Costs_of_TSOs['month'] = Costs_of_TSOs['Start date'].dt.month
Costs_of_TSOs['year'] = Costs_of_TSOs['Start date'].dt.year

In [168]:
# Convert cost columns to numeric and handle any missing values or symbols like '-'
cost_columns = ['Balancing services [€] Original resolutions', 
                'Network security of the TSOs [€] Original resolutions', 
                'Countertrading [€] Original resolutions']

for col in cost_columns:
    Costs_of_TSOs[col] = Costs_of_TSOs[col].replace({'-': None, ',': ''}, regex=True)
    Costs_of_TSOs[col] = pd.to_numeric(Costs_of_TSOs[col], errors='coerce')

In [170]:
Costs_of_TSOs.head()

,Start date,End date,Balancing services [€] Original resolutions,Network security of the TSOs [€] Original resolutions,Countertrading [€] Original resolutions,hour,day,week,weekday,month,year
0,2023-01-01,2023-02-01,71578546.31,3.982759e+08,17519420.07,0,1,52,6,1,2023
1,2023-02-01,2023-03-01,40835671.81,3.362633e+08,19384916.81,0,1,5,2,2,2023
2,2023-03-01,2023-04-01,71751158.39,2.998916e+08,16184262.39,0,1,9,2,3,2023
3,2023-04-01,2023-05-01,82581492.42,2.170505e+08,17818622.42,0,1,13,5,4,2023
4,2023-05-01,2023-06-01,61944912.17,1.278177e+08,18333011.12,0,1,18,0,5,2023

In [154]:
#########################################

In [172]:
# Merge on year and month
merged_df4 = pd.merge(
    merged_df3,
    Costs_of_TSOs,
    on=['hour', 'day', 'weekday', 'week', 'month', 'year'], 
    how='left')

# Check the result
merged_df4.info()
merged_df4.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76336 entries, 0 to 76335
Data columns (total 37 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Start date_x                                           76336 non-null  datetime64[ns]
 1   End date_x                                             76336 non-null  datetime64[ns]
 2   Actual_consumption_Total (grid load) [MWh]             76319 non-null  float64
 3   Actual_consumption_Residual load [MWh]                 75782 non-null  float64
 4   Actual_consumption_Hydro pumped storage [MWh]          76319 non-null  float64
 5   hour                                                   76336 non-null  int32
 6   day                                                    76336 non-null  int32
 7   weekday                                                76336 non-null  int32
 8   week                                                   76336 non-null  UInt32
 9   month                                                  76336 non-null  int32
 10  year                                                   76336 non-null  int32
 11  Biomass [MWh] Original resolutions                     76319 non-null  float64
 12  Hydropower [MWh] Original resolutions                  76319 non-null  float64
 13  Wind offshore [MWh] Original resolutions               76320 non-null  float64
 14  Wind onshore [MWh] Original resolutions                76319 non-null  float64
 15  Photovoltaics [MWh] Original resolutions               76319 non-null  float64
 16  Other renewable [MWh] Original resolutions             76319 non-null  float64
 17  Nuclear [MWh] Original resolutions                     37930 non-null  float64
 18  Lignite [MWh] Original resolutions                     76319 non-null  float64
 19  Hard coal [MWh] Original resolutions                   76319 non-null  float64
 20  Fossil gas [MWh] Original resolutions                  76319 non-null  float64
 21  Hydro pumped storage [MWh] Original resolutions        76319 non-null  float64
 22  Other conventional [MWh] Original resolutions          76319 non-null  float64
 23  Total Generation [MWh]                                 76336 non-null  float64
 24  Volume activated (+) [MWh] Original resolutions        30068 non-null  float64
 25  Volume activated (-) [MWh] Original resolutions        30068 non-null  float64
 26  Volume procured (+) [MW] Original resolutions          17372 non-null  float64
 27  Volume procured (-) [MW] Original resolutions          17372 non-null  float64
 28  Procurement price (+) [€/MW] Original resolutions      17372 non-null  float64
 29  Procurement price (-) [€/MW] Original resolutions      17372 non-null  float64
 30  Price [€/MWh] Original resolutions                     76264 non-null  float64
 31  Net income [€] Original resolutions                    23 non-null     float64
 32  Start date_y                                           108 non-null    datetime64[ns]
 33  End date_y                                             108 non-null    datetime64[ns]
 34  Balancing services [€] Original resolutions            92 non-null     float64
 35  Network security of the TSOs [€] Original resolutions  96 non-null     float64
 36  Countertrading [€] Original resolutions                96 non-null     float64
dtypes: UInt32(1), datetime64[ns](4), float64(27), int32(5)
memory usage: 19.9 MB

,Start date_x,End date_x,Actual_consumption_Total (grid load) [MWh],Actual_consumption_Residual load [MWh],Actual_consumption_Hydro pumped storage [MWh],hour,day,weekday,week,month,...,Volume procured (-) [MW] Original resolutions,Procurement price (+) [€/MW] Original resolutions,Procurement price (-) [€/MW] Original resolutions,Price [€/MWh] Original resolutions,Net income [€] Original resolutions,Start date_y,End date_y,Balancing services [€] Original resolutions,Network security of the TSOs [€] Original resolutions,Countertrading [€] Original resolutions
0,2023-01-01 00:00:00,2023-01-01 00:15:00,9673.00,1842.5,494.00,0,1,6,52,1,...,2029.0,0.52,7.52,185.56,31476878.85,2023-01-01,2023-02-01,71578546.31,3.982759e+08,17519420.07
1,2023-01-01 00:15:00,2023-01-01 00:30:00,9593.50,1691.5,502.50,0,1,6,52,1,...,2029.0,0.52,7.52,-78.96,NaN,2023-01-01,2023-02-01,71578546.31,3.982759e+08,17519420.07
2,2023-01-01 00:30:00,2023-01-01 00:45:00,9562.00,1442.5,561.00,0,1,6,52,1,...,2029.0,0.52,7.52,-76.74,NaN,2023-01-01,2023-02-01,71578546.31,3.982759e+08,17519420.07
3,2023-01-01 00:45:00,2023-01-01 01:00:00,9517.50,1598.5,519.25,0,1,6,52,1,...,2029.0,0.52,7.52,-60.71,NaN,2023-01-01,2023-02-01,71578546.31,3.982759e+08,17519420.07
4,2023-01-01 01:00:00,2023-01-01 01:15:00,9433.25,1325.5,301.00,1,1,6,52,1,...,2029.0,0.52,7.52,250.99,NaN,NaT,NaT,NaN,NaN,NaN

In [174]:
# Rename column names
merged_df4.rename(columns={'Start date_x': 'Start date', 'End date_x': 'End date'}, inplace=True)

In [176]:
# Drop temporary columns
merged_df4.drop(columns=['Start date_y', 'End date_y'], inplace=True)

In [178]:
# Check the result
merged_df4.info()
merged_df4.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76336 entries, 0 to 76335
Data columns (total 35 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Start date                                             76336 non-null  datetime64[ns]
 1   End date                                               76336 non-null  datetime64[ns]
 2   Actual_consumption_Total (grid load) [MWh]             76319 non-null  float64
 3   Actual_consumption_Residual load [MWh]                 75782 non-null  float64
 4   Actual_consumption_Hydro pumped storage [MWh]          76319 non-null  float64
 5   hour                                                   76336 non-null  int32
 6   day                                                    76336 non-null  int32
 7   weekday                                                76336 non-null  int32
 8   week                                                   76336 non-null  UInt32
 9   month                                                  76336 non-null  int32
 10  year                                                   76336 non-null  int32
 11  Biomass [MWh] Original resolutions                     76319 non-null  float64
 12  Hydropower [MWh] Original resolutions                  76319 non-null  float64
 13  Wind offshore [MWh] Original resolutions               76320 non-null  float64
 14  Wind onshore [MWh] Original resolutions                76319 non-null  float64
 15  Photovoltaics [MWh] Original resolutions               76319 non-null  float64
 16  Other renewable [MWh] Original resolutions             76319 non-null  float64
 17  Nuclear [MWh] Original resolutions                     37930 non-null  float64
 18  Lignite [MWh] Original resolutions                     76319 non-null  float64
 19  Hard coal [MWh] Original resolutions                   76319 non-null  float64
 20  Fossil gas [MWh] Original resolutions                  76319 non-null  float64
 21  Hydro pumped storage [MWh] Original resolutions        76319 non-null  float64
 22  Other conventional [MWh] Original resolutions          76319 non-null  float64
 23  Total Generation [MWh]                                 76336 non-null  float64
 24  Volume activated (+) [MWh] Original resolutions        30068 non-null  float64
 25  Volume activated (-) [MWh] Original resolutions        30068 non-null  float64
 26  Volume procured (+) [MW] Original resolutions          17372 non-null  float64
 27  Volume procured (-) [MW] Original resolutions          17372 non-null  float64
 28  Procurement price (+) [€/MW] Original resolutions      17372 non-null  float64
 29  Procurement price (-) [€/MW] Original resolutions      17372 non-null  float64
 30  Price [€/MWh] Original resolutions                     76264 non-null  float64
 31  Net income [€] Original resolutions                    23 non-null     float64
 32  Balancing services [€] Original resolutions            92 non-null     float64
 33  Network security of the TSOs [€] Original resolutions  96 non-null     float64
 34  Countertrading [€] Original resolutions                96 non-null     float64
dtypes: UInt32(1), datetime64[ns](2), float64(27), int32(5)
memory usage: 18.7 MB

,Start date,End date,Actual_consumption_Total (grid load) [MWh],Actual_consumption_Residual load [MWh],Actual_consumption_Hydro pumped storage [MWh],hour,day,weekday,week,month,...,Volume activated (-) [MWh] Original resolutions,Volume procured (+) [MW] Original resolutions,Volume procured (-) [MW] Original resolutions,Procurement price (+) [€/MW] Original resolutions,Procurement price (-) [€/MW] Original resolutions,Price [€/MWh] Original resolutions,Net income [€] Original resolutions,Balancing services [€] Original resolutions,Network security of the TSOs [€] Original resolutions,Countertrading [€] Original resolutions
0,2023-01-01 00:00:00,2023-01-01 00:15:00,9673.00,1842.5,494.00,0,1,6,52,1,...,15.50,1941.0,2029.0,0.52,7.52,185.56,31476878.85,71578546.31,3.982759e+08,17519420.07
1,2023-01-01 00:15:00,2023-01-01 00:30:00,9593.50,1691.5,502.50,0,1,6,52,1,...,41.75,1941.0,2029.0,0.52,7.52,-78.96,NaN,71578546.31,3.982759e+08,17519420.07
2,2023-01-01 00:30:00,2023-01-01 00:45:00,9562.00,1442.5,561.00,0,1,6,52,1,...,82.50,1941.0,2029.0,0.52,7.52,-76.74,NaN,71578546.31,3.982759e+08,17519420.07
3,2023-01-01 00:45:00,2023-01-01 01:00:00,9517.50,1598.5,519.25,0,1,6,52,1,...,11.25,1941.0,2029.0,0.52,7.52,-60.71,NaN,71578546.31,3.982759e+08,17519420.07
4,2023-01-01 01:00:00,2023-01-01 01:15:00,9433.25,1325.5,301.00,1,1,6,52,1,...,0.00,1941.0,2029.0,0.52,7.52,250.99,NaN,NaN,NaN,NaN

In [180]:
#########################################

In [182]:
Cross_border_physical_flows = pd.read_csv("Cross-border_physical_flows_202301010000_202503050000_Quarterhour.csv", 
                                                      on_bad_lines='skip', delimiter=';', low_memory=False)

In [184]:
Cross_border_physical_flows.head()

,Start date,End date,Net export [MWh] Original resolutions,Netherlands (export) [MWh] Original resolutions,Netherlands (import) [MWh] Original resolutions,Switzerland (export) [MWh] Original resolutions,Switzerland (import) [MWh] Original resolutions,Denmark (export) [MWh] Original resolutions,Denmark (import) [MWh] Original resolutions,Czech Republic (export) [MWh] Original resolutions,...,Austria (export) [MWh] Original resolutions,Austria (import) [MWh] Original resolutions,France (export) [MWh] Original resolutions,France (import) [MWh] Original resolutions,Poland (export) [MWh] Original resolutions,Poland (import) [MWh] Original resolutions,Norway (export) [MWh] Original resolutions,Norway (import) [MWh] Original resolutions,Belgium (export) [MWh] Original resolutions,Belgium (import) [MWh] Original resolutions
0,"Jan 1, 2023 12:00 AM","Jan 1, 2023 12:15 AM","3,013.75",226.00,-186.75,545.00,0.00,691.00,0.00,348.25,...,564.75,-25.50,215.25,-1.00,266.25,0.00,306.75,0.00,46.25,0.00
1,"Jan 1, 2023 12:15 AM","Jan 1, 2023 12:30 AM","3,011.50",294.25,-259.75,545.50,0.00,653.50,0.00,348.25,...,621.50,-29.50,215.25,-1.00,266.25,0.00,322.00,0.00,42.00,0.00
2,"Jan 1, 2023 12:30 AM","Jan 1, 2023 12:45 AM","2,984.00",299.50,-260.00,524.75,0.00,636.75,-0.25,348.25,...,598.75,-12.25,215.25,-1.00,266.25,0.00,322.25,0.00,53.75,0.00
3,"Jan 1, 2023 12:45 AM","Jan 1, 2023 1:00 AM","2,992.50",295.75,-225.25,520.00,-2.25,625.00,-0.25,348.25,...,608.75,-12.50,215.25,-1.00,266.25,0.00,322.25,0.00,34.50,0.00
4,"Jan 1, 2023 1:00 AM","Jan 1, 2023 1:15 AM","3,637.00",343.50,-5.25,629.75,-24.00,599.50,0.00,385.00,...,688.75,-8.25,502.00,0.00,293.25,0.00,322.25,0.00,0.00,-122.00

In [186]:
# Data Processing

# Convert 'Start date' and 'End date' to datetime
Cross_border_physical_flows['Start date'] = pd.to_datetime(Cross_border_physical_flows['Start date'], format='%b %d, %Y %I:%M %p')
Cross_border_physical_flows['End date'] = pd.to_datetime(Cross_border_physical_flows['End date'], format='%b %d, %Y %I:%M %p')

In [188]:
# Extract time-based features
Cross_border_physical_flows['hour'] = Cross_border_physical_flows['Start date'].dt.hour
Cross_border_physical_flows['day'] = Cross_border_physical_flows['Start date'].dt.day
Cross_border_physical_flows['week'] = Cross_border_physical_flows['Start date'].dt.isocalendar().week
Cross_border_physical_flows['weekday'] = Cross_border_physical_flows['Start date'].dt.weekday  # 0=Monday, 6=Sunday
Cross_border_physical_flows['month'] = Cross_border_physical_flows['Start date'].dt.month
Cross_border_physical_flows['year'] = Cross_border_physical_flows['Start date'].dt.year

In [190]:
# List of all columns to convert
numeric_columns = [
    'Net export [MWh] Original resolutions',
    'Netherlands (export) [MWh] Original resolutions', 'Netherlands (import) [MWh] Original resolutions',
    'Switzerland (export) [MWh] Original resolutions', 'Switzerland (import) [MWh] Original resolutions',
    'Denmark (export) [MWh] Original resolutions', 'Denmark (import) [MWh] Original resolutions',
    'Czech Republic (export) [MWh] Original resolutions', 'Czech Republic (import) [MWh] Original resolutions',
    'Luxembourg (export) [MWh] Original resolutions', 'Luxembourg (import) [MWh] Original resolutions',
    'Sweden (export) [MWh] Original resolutions', 'Sweden (import) [MWh] Original resolutions',
    'Austria (export) [MWh] Original resolutions', 'Austria (import) [MWh] Original resolutions',
    'France (export) [MWh] Original resolutions', 'France (import) [MWh] Original resolutions',
    'Poland (export) [MWh] Original resolutions', 'Poland (import) [MWh] Original resolutions',
    'Norway (export) [MWh] Original resolutions', 'Norway (import) [MWh] Original resolutions',
    'Belgium (export) [MWh] Original resolutions', 'Belgium (import) [MWh] Original resolutions'
]

# Function to clean and convert numeric columns
def clean_numeric_column(series):
    return (
        series.astype(str)  # Convert to string for processing
        .str.replace(',', '', regex=False)  # Remove thousands separator if present
        .str.strip()  # Remove leading/trailing spaces
        .replace(r'^\s*-$', np.nan, regex=True)  # Replace standalone '-' with NaN (ignores negative numbers)
        .astype(float)  # Convert to float
    )

# Apply the cleaning function to all relevant columns
Cross_border_physical_flows[numeric_columns] = Cross_border_physical_flows[numeric_columns].apply(clean_numeric_column)

In [192]:
Cross_border_physical_flows.head()

,Start date,End date,Net export [MWh] Original resolutions,Netherlands (export) [MWh] Original resolutions,Netherlands (import) [MWh] Original resolutions,Switzerland (export) [MWh] Original resolutions,Switzerland (import) [MWh] Original resolutions,Denmark (export) [MWh] Original resolutions,Denmark (import) [MWh] Original resolutions,Czech Republic (export) [MWh] Original resolutions,...,Norway (export) [MWh] Original resolutions,Norway (import) [MWh] Original resolutions,Belgium (export) [MWh] Original resolutions,Belgium (import) [MWh] Original resolutions,hour,day,week,weekday,month,year
0,2023-01-01 00:00:00,2023-01-01 00:15:00,3013.75,226.00,-186.75,545.00,0.00,691.00,0.00,348.25,...,306.75,0.0,46.25,0.0,0,1,52,6,1,2023
1,2023-01-01 00:15:00,2023-01-01 00:30:00,3011.50,294.25,-259.75,545.50,0.00,653.50,0.00,348.25,...,322.00,0.0,42.00,0.0,0,1,52,6,1,2023
2,2023-01-01 00:30:00,2023-01-01 00:45:00,2984.00,299.50,-260.00,524.75,0.00,636.75,-0.25,348.25,...,322.25,0.0,53.75,0.0,0,1,52,6,1,2023
3,2023-01-01 00:45:00,2023-01-01 01:00:00,2992.50,295.75,-225.25,520.00,-2.25,625.00,-0.25,348.25,...,322.25,0.0,34.50,0.0,0,1,52,6,1,2023
4,2023-01-01 01:00:00,2023-01-01 01:15:00,3637.00,343.50,-5.25,629.75,-24.00,599.50,0.00,385.00,...,322.25,0.0,0.00,-122.0,1,1,52,6,1,2023

In [196]:
Cross_border_physical_flows.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76224 entries, 0 to 76223
Data columns (total 31 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Start date                                          76224 non-null  datetime64[ns]
 1   End date                                            76224 non-null  datetime64[ns]
 2   Net export [MWh] Original resolutions               76189 non-null  float64
 3   Netherlands (export) [MWh] Original resolutions     76209 non-null  float64
 4   Netherlands (import) [MWh] Original resolutions     76209 non-null  float64
 5   Switzerland (export) [MWh] Original resolutions     76208 non-null  float64
 6   Switzerland (import) [MWh] Original resolutions     76208 non-null  float64
 7   Denmark (export) [MWh] Original resolutions         76208 non-null  float64
 8   Denmark (import) [MWh] Original resolutions         76209 non-null  float64
 9   Czech Republic (export) [MWh] Original resolutions  76200 non-null  float64
 10  Czech Republic (import) [MWh] Original resolutions  76200 non-null  float64
 11  Luxembourg (export) [MWh] Original resolutions      76209 non-null  float64
 12  Luxembourg (import) [MWh] Original resolutions      76209 non-null  float64
 13  Sweden (export) [MWh] Original resolutions          76208 non-null  float64
 14  Sweden (import) [MWh] Original resolutions          76208 non-null  float64
 15  Austria (export) [MWh] Original resolutions         76211 non-null  float64
 16  Austria (import) [MWh] Original resolutions         76211 non-null  float64
 17  France (export) [MWh] Original resolutions          76208 non-null  float64
 18  France (import) [MWh] Original resolutions          76208 non-null  float64
 19  Poland (export) [MWh] Original resolutions          76202 non-null  float64
 20  Poland (import) [MWh] Original resolutions          76200 non-null  float64
 21  Norway (export) [MWh] Original resolutions          76209 non-null  float64
 22  Norway (import) [MWh] Original resolutions          76209 non-null  float64
 23  Belgium (export) [MWh] Original resolutions         76210 non-null  float64
 24  Belgium (import) [MWh] Original resolutions         76210 non-null  float64
 25  hour                                                76224 non-null  int32
 26  day                                                 76224 non-null  int32
 27  week                                                76224 non-null  UInt32
 28  weekday                                             76224 non-null  int32
 29  month                                               76224 non-null  int32
 30  year                                                76224 non-null  int32
dtypes: UInt32(1), datetime64[ns](2), float64(23), int32(5)
memory usage: 16.4 MB

In [194]:
#########################################

In [198]:
# Merge the two dataframes
merged_df5 = pd.merge(
    merged_df4, 
    Cross_border_physical_flows, 
    on=['Start date', 'End date', 'hour', 'day', 'weekday', 'week', 'month', 'year'], 
    how='inner'
)

# Check the result
merged_df5.info()
merged_df5.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76464 entries, 0 to 76463
Data columns (total 58 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Start date                                             76464 non-null  datetime64[ns]
 1   End date                                               76464 non-null  datetime64[ns]
 2   Actual_consumption_Total (grid load) [MWh]             76447 non-null  float64
 3   Actual_consumption_Residual load [MWh]                 75910 non-null  float64
 4   Actual_consumption_Hydro pumped storage [MWh]          76447 non-null  float64
 5   hour                                                   76464 non-null  int32
 6   day                                                    76464 non-null  int32
 7   weekday                                                76464 non-null  int32
 8   week                                                   76464 non-null  UInt32
 9   month                                                  76464 non-null  int32
 10  year                                                   76464 non-null  int32
 11  Biomass [MWh] Original resolutions                     76447 non-null  float64
 12  Hydropower [MWh] Original resolutions                  76447 non-null  float64
 13  Wind offshore [MWh] Original resolutions               76448 non-null  float64
 14  Wind onshore [MWh] Original resolutions                76447 non-null  float64
 15  Photovoltaics [MWh] Original resolutions               76447 non-null  float64
 16  Other renewable [MWh] Original resolutions             76447 non-null  float64
 17  Nuclear [MWh] Original resolutions                     37994 non-null  float64
 18  Lignite [MWh] Original resolutions                     76447 non-null  float64
 19  Hard coal [MWh] Original resolutions                   76447 non-null  float64
 20  Fossil gas [MWh] Original resolutions                  76447 non-null  float64
 21  Hydro pumped storage [MWh] Original resolutions        76447 non-null  float64
 22  Other conventional [MWh] Original resolutions          76447 non-null  float64
 23  Total Generation [MWh]                                 76464 non-null  float64
 24  Volume activated (+) [MWh] Original resolutions        30132 non-null  float64
 25  Volume activated (-) [MWh] Original resolutions        30132 non-null  float64
 26  Volume procured (+) [MW] Original resolutions          17372 non-null  float64
 27  Volume procured (-) [MW] Original resolutions          17372 non-null  float64
 28  Procurement price (+) [€/MW] Original resolutions      17372 non-null  float64
 29  Procurement price (-) [€/MW] Original resolutions      17372 non-null  float64
 30  Price [€/MWh] Original resolutions                     76392 non-null  float64
 31  Net income [€] Original resolutions                    23 non-null     float64
 32  Balancing services [€] Original resolutions            92 non-null     float64
 33  Network security of the TSOs [€] Original resolutions  96 non-null     float64
 34  Countertrading [€] Original resolutions                96 non-null     float64
 35  Net export [MWh] Original resolutions                  76429 non-null  float64
 36  Netherlands (export) [MWh] Original resolutions        76449 non-null  float64
 37  Netherlands (import) [MWh] Original resolutions        76449 non-null  float64
 38  Switzerland (export) [MWh] Original resolutions        76448 non-null  float64
 39  Switzerland (import) [MWh] Original resolutions        76448 non-null  float64
 40  Denmark (export) [MWh] Original resolutions            76448 non-null  float64
 41  Denmark (import) [MWh] Original resolutions            76449 non-null  float64
 42  Czech Republic (export) [MWh] Original resolutions     76440 non-null  float64
 43  Czech Republic (import) [MWh] Original resolutions     76440 non-null  float64
 44  Luxembourg (export) [MWh] Original resolutions         76449 non-null  float64
 45  Luxembourg (import) [MWh] Original resolutions         76449 non-null  float64
 46  Sweden (export) [MWh] Original resolutions             76448 non-null  float64
 47  Sweden (import) [MWh] Original resolutions             76448 non-null  float64
 48  Austria (export) [MWh] Original resolutions            76451 non-null  float64
 49  Austria (import) [MWh] Original resolutions            76451 non-null  float64
 50  France (export) [MWh] Original resolutions             76448 non-null  float64
 51  France (import) [MWh] Original resolutions             76448 non-null  float64
 52  Poland (export) [MWh] Original resolutions             76442 non-null  float64
 53  Poland (import) [MWh] Original resolutions             76440 non-null  float64
 54  Norway (export) [MWh] Original resolutions             76449 non-null  float64
 55  Norway (import) [MWh] Original resolutions             76449 non-null  float64
 56  Belgium (export) [MWh] Original resolutions            76450 non-null  float64
 57  Belgium (import) [MWh] Original resolutions            76450 non-null  float64
dtypes: UInt32(1), datetime64[ns](2), float64(50), int32(5)
memory usage: 32.2 MB

,Start date,End date,Actual_consumption_Total (grid load) [MWh],Actual_consumption_Residual load [MWh],Actual_consumption_Hydro pumped storage [MWh],hour,day,weekday,week,month,...,Austria (export) [MWh] Original resolutions,Austria (import) [MWh] Original resolutions,France (export) [MWh] Original resolutions,France (import) [MWh] Original resolutions,Poland (export) [MWh] Original resolutions,Poland (import) [MWh] Original resolutions,Norway (export) [MWh] Original resolutions,Norway (import) [MWh] Original resolutions,Belgium (export) [MWh] Original resolutions,Belgium (import) [MWh] Original resolutions
0,2023-01-01 00:00:00,2023-01-01 00:15:00,9673.00,1842.5,494.00,0,1,6,52,1,...,564.75,-25.50,215.25,-1.0,266.25,0.0,306.75,0.0,46.25,0.0
1,2023-01-01 00:15:00,2023-01-01 00:30:00,9593.50,1691.5,502.50,0,1,6,52,1,...,621.50,-29.50,215.25,-1.0,266.25,0.0,322.00,0.0,42.00,0.0
2,2023-01-01 00:30:00,2023-01-01 00:45:00,9562.00,1442.5,561.00,0,1,6,52,1,...,598.75,-12.25,215.25,-1.0,266.25,0.0,322.25,0.0,53.75,0.0
3,2023-01-01 00:45:00,2023-01-01 01:00:00,9517.50,1598.5,519.25,0,1,6,52,1,...,608.75,-12.50,215.25,-1.0,266.25,0.0,322.25,0.0,34.50,0.0
4,2023-01-01 01:00:00,2023-01-01 01:15:00,9433.25,1325.5,301.00,1,1,6,52,1,...,688.75,-8.25,502.00,0.0,293.25,0.0,322.25,0.0,0.00,-122.0

In [200]:
# Save DataFrame to CSV file
merged_df5.to_csv('merged_df5.csv', index=False)

In [202]:
#########################################

In [230]:
Day_ahead_prices = pd.read_csv("Day-ahead_prices_202301010000_202503050000_Hour.csv", 
                                                      on_bad_lines='skip', delimiter=';', low_memory=False)

In [232]:
Day_ahead_prices.head()

,Start date,End date,Germany/Luxembourg [€/MWh] Original resolutions,∅ DE/LU neighbours [€/MWh] Original resolutions,Belgium [€/MWh] Original resolutions,Denmark 1 [€/MWh] Original resolutions,Denmark 2 [€/MWh] Original resolutions,France [€/MWh] Original resolutions,Netherlands [€/MWh] Original resolutions,Norway 2 [€/MWh] Original resolutions,Austria [€/MWh] Original resolutions,Poland [€/MWh] Original resolutions,Sweden 4 [€/MWh] Original resolutions,Switzerland [€/MWh] Original resolutions,Czech Republic [€/MWh] Original resolutions,DE/AT/LU [€/MWh] Original resolutions,Northern Italy [€/MWh] Original resolutions,Slovenia [€/MWh] Original resolutions,Hungary [€/MWh] Original resolutions
0,"Jan 1, 2023 12:00 AM","Jan 1, 2023 1:00 AM",-5.17,13.85,-4.39,2.01,2.01,0.00,-3.61,119.32,12.06,18.09,2.01,0.03,4.84,-,195.90,13.31,19.76
1,"Jan 1, 2023 1:00 AM","Jan 1, 2023 2:00 AM",-1.07,9.79,-1.75,1.38,1.38,-0.10,-1.46,108.83,-0.10,5.75,1.38,-7.25,-0.35,-,191.09,-0.07,0.19
2,"Jan 1, 2023 2:00 AM","Jan 1, 2023 3:00 AM",-1.47,8.91,-1.46,0.09,0.09,-1.33,-1.52,102.39,-0.66,5.27,0.09,-3.99,-0.97,-,187.95,-0.47,0.07
3,"Jan 1, 2023 3:00 AM","Jan 1, 2023 4:00 AM",-5.08,6.58,-5.27,0.08,0.08,-4.08,-5.00,92.36,-1.99,5.74,0.08,-7.71,-1.93,-,187.82,-1.56,0.01
4,"Jan 1, 2023 4:00 AM","Jan 1, 2023 5:00 AM",-4.49,5.42,-4.41,0.05,0.05,-4.16,-4.60,82.66,-2.42,5.22,0.05,-9.71,-3.07,-,187.74,-1.94,-0.77

In [234]:
Day_ahead_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19056 entries, 0 to 19055
Data columns (total 19 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Start date                                       19056 non-null  object
 1   End date                                         19056 non-null  object
 2   Germany/Luxembourg [€/MWh] Original resolutions  19056 non-null  float64
 3   ∅ DE/LU neighbours [€/MWh] Original resolutions  19056 non-null  float64
 4   Belgium [€/MWh] Original resolutions             19056 non-null  float64
 5   Denmark 1 [€/MWh] Original resolutions           19056 non-null  float64
 6   Denmark 2 [€/MWh] Original resolutions           19056 non-null  float64
 7   France [€/MWh] Original resolutions              19056 non-null  float64
 8   Netherlands [€/MWh] Original resolutions         19056 non-null  float64
 9   Norway 2 [€/MWh] Original resolutions            19056 non-null  float64
 10  Austria [€/MWh] Original resolutions             19056 non-null  float64
 11  Poland [€/MWh] Original resolutions              19056 non-null  float64
 12  Sweden 4 [€/MWh] Original resolutions            19056 non-null  float64
 13  Switzerland [€/MWh] Original resolutions         19056 non-null  float64
 14  Czech Republic [€/MWh] Original resolutions      19056 non-null  float64
 15  DE/AT/LU [€/MWh] Original resolutions            19056 non-null  object
 16  Northern Italy [€/MWh] Original resolutions      19056 non-null  object
 17  Slovenia [€/MWh] Original resolutions            19056 non-null  object
 18  Hungary [€/MWh] Original resolutions             19056 non-null  float64
dtypes: float64(14), object(5)
memory usage: 2.8+ MB

In [236]:
# Convert the object columns to numeric, forcing errors to NaN
day_ahead_price_columns = [
    'DE/AT/LU [€/MWh] Original resolutions',
    'Northern Italy [€/MWh] Original resolutions',
    'Slovenia [€/MWh] Original resolutions'
]

# Convert the 'object' columns to numeric values
Day_ahead_prices[day_ahead_price_columns] = Day_ahead_prices[day_ahead_price_columns].apply(pd.to_numeric, errors='coerce')

In [238]:
# Data Processing

# Convert 'Start date' and 'End date' to datetime
Day_ahead_prices['Start date'] = pd.to_datetime(Day_ahead_prices['Start date'], format='%b %d, %Y %I:%M %p')
Day_ahead_prices['End date'] = pd.to_datetime(Day_ahead_prices['End date'], format='%b %d, %Y %I:%M %p')

In [240]:
# Extract time-based features
Day_ahead_prices['hour'] = Day_ahead_prices['Start date'].dt.hour
Day_ahead_prices['day'] = Day_ahead_prices['Start date'].dt.day
Day_ahead_prices['week'] = Day_ahead_prices['Start date'].dt.isocalendar().week
Day_ahead_prices['weekday'] = Day_ahead_prices['Start date'].dt.weekday  # 0=Monday, 6=Sunday
Day_ahead_prices['month'] = Day_ahead_prices['Start date'].dt.month
Day_ahead_prices['year'] = Day_ahead_prices['Start date'].dt.year

In [242]:
Day_ahead_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19056 entries, 0 to 19055
Data columns (total 25 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Start date                                       19056 non-null  datetime64[ns]
 1   End date                                         19056 non-null  datetime64[ns]
 2   Germany/Luxembourg [€/MWh] Original resolutions  19056 non-null  float64
 3   ∅ DE/LU neighbours [€/MWh] Original resolutions  19056 non-null  float64
 4   Belgium [€/MWh] Original resolutions             19056 non-null  float64
 5   Denmark 1 [€/MWh] Original resolutions           19056 non-null  float64
 6   Denmark 2 [€/MWh] Original resolutions           19056 non-null  float64
 7   France [€/MWh] Original resolutions              19056 non-null  float64
 8   Netherlands [€/MWh] Original resolutions         19056 non-null  float64
 9   Norway 2 [€/MWh] Original resolutions            19056 non-null  float64
 10  Austria [€/MWh] Original resolutions             19056 non-null  float64
 11  Poland [€/MWh] Original resolutions              19056 non-null  float64
 12  Sweden 4 [€/MWh] Original resolutions            19056 non-null  float64
 13  Switzerland [€/MWh] Original resolutions         19056 non-null  float64
 14  Czech Republic [€/MWh] Original resolutions      19056 non-null  float64
 15  DE/AT/LU [€/MWh] Original resolutions            0 non-null      float64
 16  Northern Italy [€/MWh] Original resolutions      17544 non-null  float64
 17  Slovenia [€/MWh] Original resolutions            19055 non-null  float64
 18  Hungary [€/MWh] Original resolutions             19056 non-null  float64
 19  hour                                             19056 non-null  int32
 20  day                                              19056 non-null  int32
 21  week                                             19056 non-null  UInt32
 22  weekday                                          19056 non-null  int32
 23  month                                            19056 non-null  int32
 24  year                                             19056 non-null  int32
dtypes: UInt32(1), datetime64[ns](2), float64(17), int32(5)
memory usage: 3.2 MB

In [244]:
Day_ahead_prices['DE/AT/LU [€/MWh] Original resolutions'].unique()

array([nan])

In [246]:
Day_ahead_prices = Day_ahead_prices.drop(columns=['DE/AT/LU [€/MWh] Original resolutions'])

In [248]:
Day_ahead_prices.head()

,Start date,End date,Germany/Luxembourg [€/MWh] Original resolutions,∅ DE/LU neighbours [€/MWh] Original resolutions,Belgium [€/MWh] Original resolutions,Denmark 1 [€/MWh] Original resolutions,Denmark 2 [€/MWh] Original resolutions,France [€/MWh] Original resolutions,Netherlands [€/MWh] Original resolutions,Norway 2 [€/MWh] Original resolutions,...,Czech Republic [€/MWh] Original resolutions,Northern Italy [€/MWh] Original resolutions,Slovenia [€/MWh] Original resolutions,Hungary [€/MWh] Original resolutions,hour,day,week,weekday,month,year
0,2023-01-01 00:00:00,2023-01-01 01:00:00,-5.17,13.85,-4.39,2.01,2.01,0.00,-3.61,119.32,...,4.84,195.90,13.31,19.76,0,1,52,6,1,2023
1,2023-01-01 01:00:00,2023-01-01 02:00:00,-1.07,9.79,-1.75,1.38,1.38,-0.10,-1.46,108.83,...,-0.35,191.09,-0.07,0.19,1,1,52,6,1,2023
2,2023-01-01 02:00:00,2023-01-01 03:00:00,-1.47,8.91,-1.46,0.09,0.09,-1.33,-1.52,102.39,...,-0.97,187.95,-0.47,0.07,2,1,52,6,1,2023
3,2023-01-01 03:00:00,2023-01-01 04:00:00,-5.08,6.58,-5.27,0.08,0.08,-4.08,-5.00,92.36,...,-1.93,187.82,-1.56,0.01,3,1,52,6,1,2023
4,2023-01-01 04:00:00,2023-01-01 05:00:00,-4.49,5.42,-4.41,0.05,0.05,-4.16,-4.60,82.66,...,-3.07,187.74,-1.94,-0.77,4,1,52,6,1,2023

In [250]:
Day_ahead_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19056 entries, 0 to 19055
Data columns (total 24 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Start date                                       19056 non-null  datetime64[ns]
 1   End date                                         19056 non-null  datetime64[ns]
 2   Germany/Luxembourg [€/MWh] Original resolutions  19056 non-null  float64
 3   ∅ DE/LU neighbours [€/MWh] Original resolutions  19056 non-null  float64
 4   Belgium [€/MWh] Original resolutions             19056 non-null  float64
 5   Denmark 1 [€/MWh] Original resolutions           19056 non-null  float64
 6   Denmark 2 [€/MWh] Original resolutions           19056 non-null  float64
 7   France [€/MWh] Original resolutions              19056 non-null  float64
 8   Netherlands [€/MWh] Original resolutions         19056 non-null  float64
 9   Norway 2 [€/MWh] Original resolutions            19056 non-null  float64
 10  Austria [€/MWh] Original resolutions             19056 non-null  float64
 11  Poland [€/MWh] Original resolutions              19056 non-null  float64
 12  Sweden 4 [€/MWh] Original resolutions            19056 non-null  float64
 13  Switzerland [€/MWh] Original resolutions         19056 non-null  float64
 14  Czech Republic [€/MWh] Original resolutions      19056 non-null  float64
 15  Northern Italy [€/MWh] Original resolutions      17544 non-null  float64
 16  Slovenia [€/MWh] Original resolutions            19055 non-null  float64
 17  Hungary [€/MWh] Original resolutions             19056 non-null  float64
 18  hour                                             19056 non-null  int32
 19  day                                              19056 non-null  int32
 20  week                                             19056 non-null  UInt32
 21  weekday                                          19056 non-null  int32
 22  month                                            19056 non-null  int32
 23  year                                             19056 non-null  int32
dtypes: UInt32(1), datetime64[ns](2), float64(16), int32(5)
memory usage: 3.1 MB

In [252]:
#########################################

In [260]:
merged_df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76464 entries, 0 to 76463
Data columns (total 58 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Start date                                             76464 non-null  datetime64[ns]
 1   End date                                               76464 non-null  datetime64[ns]
 2   Actual_consumption_Total (grid load) [MWh]             76447 non-null  float64
 3   Actual_consumption_Residual load [MWh]                 75910 non-null  float64
 4   Actual_consumption_Hydro pumped storage [MWh]          76447 non-null  float64
 5   hour                                                   76464 non-null  int32
 6   day                                                    76464 non-null  int32
 7   weekday                                                76464 non-null  int32
 8   week                                                   76464 non-null  UInt32
 9   month                                                  76464 non-null  int32
 10  year                                                   76464 non-null  int32
 11  Biomass [MWh] Original resolutions                     76447 non-null  float64
 12  Hydropower [MWh] Original resolutions                  76447 non-null  float64
 13  Wind offshore [MWh] Original resolutions               76448 non-null  float64
 14  Wind onshore [MWh] Original resolutions                76447 non-null  float64
 15  Photovoltaics [MWh] Original resolutions               76447 non-null  float64
 16  Other renewable [MWh] Original resolutions             76447 non-null  float64
 17  Nuclear [MWh] Original resolutions                     37994 non-null  float64
 18  Lignite [MWh] Original resolutions                     76447 non-null  float64
 19  Hard coal [MWh] Original resolutions                   76447 non-null  float64
 20  Fossil gas [MWh] Original resolutions                  76447 non-null  float64
 21  Hydro pumped storage [MWh] Original resolutions        76447 non-null  float64
 22  Other conventional [MWh] Original resolutions          76447 non-null  float64
 23  Total Generation [MWh]                                 76464 non-null  float64
 24  Volume activated (+) [MWh] Original resolutions        30132 non-null  float64
 25  Volume activated (-) [MWh] Original resolutions        30132 non-null  float64
 26  Volume procured (+) [MW] Original resolutions          17372 non-null  float64
 27  Volume procured (-) [MW] Original resolutions          17372 non-null  float64
 28  Procurement price (+) [€/MW] Original resolutions      17372 non-null  float64
 29  Procurement price (-) [€/MW] Original resolutions      17372 non-null  float64
 30  Price [€/MWh] Original resolutions                     76392 non-null  float64
 31  Net income [€] Original resolutions                    23 non-null     float64
 32  Balancing services [€] Original resolutions            92 non-null     float64
 33  Network security of the TSOs [€] Original resolutions  96 non-null     float64
 34  Countertrading [€] Original resolutions                96 non-null     float64
 35  Net export [MWh] Original resolutions                  76429 non-null  float64
 36  Netherlands (export) [MWh] Original resolutions        76449 non-null  float64
 37  Netherlands (import) [MWh] Original resolutions        76449 non-null  float64
 38  Switzerland (export) [MWh] Original resolutions        76448 non-null  float64
 39  Switzerland (import) [MWh] Original resolutions        76448 non-null  float64
 40  Denmark (export) [MWh] Original resolutions            76448 non-null  float64
 41  Denmark (import) [MWh] Original resolutions            76449 non-null  float64
 42  Czech Republic (export) [MWh] Original resolutions     76440 non-null  float64
 43  Czech Republic (import) [MWh] Original resolutions     76440 non-null  float64
 44  Luxembourg (export) [MWh] Original resolutions         76449 non-null  float64
 45  Luxembourg (import) [MWh] Original resolutions         76449 non-null  float64
 46  Sweden (export) [MWh] Original resolutions             76448 non-null  float64
 47  Sweden (import) [MWh] Original resolutions             76448 non-null  float64
 48  Austria (export) [MWh] Original resolutions            76451 non-null  float64
 49  Austria (import) [MWh] Original resolutions            76451 non-null  float64
 50  France (export) [MWh] Original resolutions             76448 non-null  float64
 51  France (import) [MWh] Original resolutions             76448 non-null  float64
 52  Poland (export) [MWh] Original resolutions             76442 non-null  float64
 53  Poland (import) [MWh] Original resolutions             76440 non-null  float64
 54  Norway (export) [MWh] Original resolutions             76449 non-null  float64
 55  Norway (import) [MWh] Original resolutions             76449 non-null  float64
 56  Belgium (export) [MWh] Original resolutions            76450 non-null  float64
 57  Belgium (import) [MWh] Original resolutions            76450 non-null  float64
dtypes: UInt32(1), datetime64[ns](2), float64(50), int32(5)
memory usage: 32.2 MB

In [262]:
# Merge the two dataframes
merged_df6 = pd.merge(
    merged_df5, 
    Day_ahead_prices, 
    on=['hour', 'day', 'weekday', 'week', 'month', 'year'], 
    how='left'
)

# Check the result
merged_df6.info()
merged_df6.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76720 entries, 0 to 76719
Data columns (total 76 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Start date_x                                           76720 non-null  datetime64[ns]
 1   End date_x                                             76720 non-null  datetime64[ns]
 2   Actual_consumption_Total (grid load) [MWh]             76703 non-null  float64
 3   Actual_consumption_Residual load [MWh]                 76166 non-null  float64
 4   Actual_consumption_Hydro pumped storage [MWh]          76703 non-null  float64
 5   hour                                                   76720 non-null  int32
 6   day                                                    76720 non-null  int32
 7   weekday                                                76720 non-null  int32
 8   week                                                   76720 non-null  UInt32
 9   month                                                  76720 non-null  int32
 10  year                                                   76720 non-null  int32
 11  Biomass [MWh] Original resolutions                     76703 non-null  float64
 12  Hydropower [MWh] Original resolutions                  76703 non-null  float64
 13  Wind offshore [MWh] Original resolutions               76704 non-null  float64
 14  Wind onshore [MWh] Original resolutions                76703 non-null  float64
 15  Photovoltaics [MWh] Original resolutions               76703 non-null  float64
 16  Other renewable [MWh] Original resolutions             76703 non-null  float64
 17  Nuclear [MWh] Original resolutions                     38122 non-null  float64
 18  Lignite [MWh] Original resolutions                     76703 non-null  float64
 19  Hard coal [MWh] Original resolutions                   76703 non-null  float64
 20  Fossil gas [MWh] Original resolutions                  76703 non-null  float64
 21  Hydro pumped storage [MWh] Original resolutions        76703 non-null  float64
 22  Other conventional [MWh] Original resolutions          76703 non-null  float64
 23  Total Generation [MWh]                                 76720 non-null  float64
 24  Volume activated (+) [MWh] Original resolutions        30260 non-null  float64
 25  Volume activated (-) [MWh] Original resolutions        30260 non-null  float64
 26  Volume procured (+) [MW] Original resolutions          17372 non-null  float64
 27  Volume procured (-) [MW] Original resolutions          17372 non-null  float64
 28  Procurement price (+) [€/MW] Original resolutions      17372 non-null  float64
 29  Procurement price (-) [€/MW] Original resolutions      17372 non-null  float64
 30  Price [€/MWh] Original resolutions                     76648 non-null  float64
 31  Net income [€] Original resolutions                    23 non-null     float64
 32  Balancing services [€] Original resolutions            92 non-null     float64
 33  Network security of the TSOs [€] Original resolutions  96 non-null     float64
 34  Countertrading [€] Original resolutions                96 non-null     float64
 35  Net export [MWh] Original resolutions                  76685 non-null  float64
 36  Netherlands (export) [MWh] Original resolutions        76705 non-null  float64
 37  Netherlands (import) [MWh] Original resolutions        76705 non-null  float64
 38  Switzerland (export) [MWh] Original resolutions        76704 non-null  float64
 39  Switzerland (import) [MWh] Original resolutions        76704 non-null  float64
 40  Denmark (export) [MWh] Original resolutions            76704 non-null  float64
 41  Denmark (import) [MWh] Original resolutions            76705 non-null  float64
 42  Czech Republic (export) [MWh] Original resolutions     76696 non-null  float64
 43  Czech Republic (import) [MWh] Original resolutions     76696 non-null  float64
 44  Luxembourg (export) [MWh] Original resolutions         76705 non-null  float64
 45  Luxembourg (import) [MWh] Original resolutions         76705 non-null  float64
 46  Sweden (export) [MWh] Original resolutions             76704 non-null  float64
 47  Sweden (import) [MWh] Original resolutions             76704 non-null  float64
 48  Austria (export) [MWh] Original resolutions            76707 non-null  float64
 49  Austria (import) [MWh] Original resolutions            76707 non-null  float64
 50  France (export) [MWh] Original resolutions             76704 non-null  float64
 51  France (import) [MWh] Original resolutions             76704 non-null  float64
 52  Poland (export) [MWh] Original resolutions             76698 non-null  float64
 53  Poland (import) [MWh] Original resolutions             76696 non-null  float64
 54  Norway (export) [MWh] Original resolutions             76705 non-null  float64
 55  Norway (import) [MWh] Original resolutions             76705 non-null  float64
 56  Belgium (export) [MWh] Original resolutions            76706 non-null  float64
 57  Belgium (import) [MWh] Original resolutions            76706 non-null  float64
 58  Start date_y                                           76720 non-null  datetime64[ns]
 59  End date_y                                             76720 non-null  datetime64[ns]
 60  Germany/Luxembourg [€/MWh] Original resolutions        76720 non-null  float64
 61  ∅ DE/LU neighbours [€/MWh] Original resolutions        76720 non-null  float64
 62  Belgium [€/MWh] Original resolutions                   76720 non-null  float64
 63  Denmark 1 [€/MWh] Original resolutions                 76720 non-null  float64
 64  Denmark 2 [€/MWh] Original resolutions                 76720 non-null  float64
 65  France [€/MWh] Original resolutions                    76720 non-null  float64
 66  Netherlands [€/MWh] Original resolutions               76720 non-null  float64
 67  Norway 2 [€/MWh] Original resolutions                  76720 non-null  float64
 68  Austria [€/MWh] Original resolutions                   76720 non-null  float64
 69  Poland [€/MWh] Original resolutions                    76720 non-null  float64
 70  Sweden 4 [€/MWh] Original resolutions                  76720 non-null  float64
 71  Switzerland [€/MWh] Original resolutions               76720 non-null  float64
 72  Czech Republic [€/MWh] Original resolutions            76720 non-null  float64
 73  Northern Italy [€/MWh] Original resolutions            70672 non-null  float64
 74  Slovenia [€/MWh] Original resolutions                  76716 non-null  float64
 75  Hungary [€/MWh] Original resolutions                   76720 non-null  float64
dtypes: UInt32(1), datetime64[ns](4), float64(66), int32(5)
memory usage: 42.8 MB

,Start date_x,End date_x,Actual_consumption_Total (grid load) [MWh],Actual_consumption_Residual load [MWh],Actual_consumption_Hydro pumped storage [MWh],hour,day,weekday,week,month,...,Netherlands [€/MWh] Original resolutions,Norway 2 [€/MWh] Original resolutions,Austria [€/MWh] Original resolutions,Poland [€/MWh] Original resolutions,Sweden 4 [€/MWh] Original resolutions,Switzerland [€/MWh] Original resolutions,Czech Republic [€/MWh] Original resolutions,Northern Italy [€/MWh] Original resolutions,Slovenia [€/MWh] Original resolutions,Hungary [€/MWh] Original resolutions
0,2023-01-01 00:00:00,2023-01-01 00:15:00,9673.00,1842.5,494.00,0,1,6,52,1,...,-3.61,119.32,12.06,18.09,2.01,0.03,4.84,195.90,13.31,19.76
1,2023-01-01 00:15:00,2023-01-01 00:30:00,9593.50,1691.5,502.50,0,1,6,52,1,...,-3.61,119.32,12.06,18.09,2.01,0.03,4.84,195.90,13.31,19.76
2,2023-01-01 00:30:00,2023-01-01 00:45:00,9562.00,1442.5,561.00,0,1,6,52,1,...,-3.61,119.32,12.06,18.09,2.01,0.03,4.84,195.90,13.31,19.76
3,2023-01-01 00:45:00,2023-01-01 01:00:00,9517.50,1598.5,519.25,0,1,6,52,1,...,-3.61,119.32,12.06,18.09,2.01,0.03,4.84,195.90,13.31,19.76
4,2023-01-01 01:00:00,2023-01-01 01:15:00,9433.25,1325.5,301.00,1,1,6,52,1,...,-1.46,108.83,-0.10,5.75,1.38,-7.25,-0.35,191.09,-0.07,0.19

In [264]:
# Rename column names
merged_df6.rename(columns={'Start date_x': 'Start date', 'End date_x': 'End date'}, inplace=True)

# Drop temporary columns
merged_df6.drop(columns=['Start date_y', 'End date_y'], inplace=True)

In [266]:
merged_df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76720 entries, 0 to 76719
Data columns (total 74 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Start date                                             76720 non-null  datetime64[ns]
 1   End date                                               76720 non-null  datetime64[ns]
 2   Actual_consumption_Total (grid load) [MWh]             76703 non-null  float64
 3   Actual_consumption_Residual load [MWh]                 76166 non-null  float64
 4   Actual_consumption_Hydro pumped storage [MWh]          76703 non-null  float64
 5   hour                                                   76720 non-null  int32
 6   day                                                    76720 non-null  int32
 7   weekday                                                76720 non-null  int32
 8   week                                                   76720 non-null  UInt32
 9   month                                                  76720 non-null  int32
 10  year                                                   76720 non-null  int32
 11  Biomass [MWh] Original resolutions                     76703 non-null  float64
 12  Hydropower [MWh] Original resolutions                  76703 non-null  float64
 13  Wind offshore [MWh] Original resolutions               76704 non-null  float64
 14  Wind onshore [MWh] Original resolutions                76703 non-null  float64
 15  Photovoltaics [MWh] Original resolutions               76703 non-null  float64
 16  Other renewable [MWh] Original resolutions             76703 non-null  float64
 17  Nuclear [MWh] Original resolutions                     38122 non-null  float64
 18  Lignite [MWh] Original resolutions                     76703 non-null  float64
 19  Hard coal [MWh] Original resolutions                   76703 non-null  float64
 20  Fossil gas [MWh] Original resolutions                  76703 non-null  float64
 21  Hydro pumped storage [MWh] Original resolutions        76703 non-null  float64
 22  Other conventional [MWh] Original resolutions          76703 non-null  float64
 23  Total Generation [MWh]                                 76720 non-null  float64
 24  Volume activated (+) [MWh] Original resolutions        30260 non-null  float64
 25  Volume activated (-) [MWh] Original resolutions        30260 non-null  float64
 26  Volume procured (+) [MW] Original resolutions          17372 non-null  float64
 27  Volume procured (-) [MW] Original resolutions          17372 non-null  float64
 28  Procurement price (+) [€/MW] Original resolutions      17372 non-null  float64
 29  Procurement price (-) [€/MW] Original resolutions      17372 non-null  float64
 30  Price [€/MWh] Original resolutions                     76648 non-null  float64
 31  Net income [€] Original resolutions                    23 non-null     float64
 32  Balancing services [€] Original resolutions            92 non-null     float64
 33  Network security of the TSOs [€] Original resolutions  96 non-null     float64
 34  Countertrading [€] Original resolutions                96 non-null     float64
 35  Net export [MWh] Original resolutions                  76685 non-null  float64
 36  Netherlands (export) [MWh] Original resolutions        76705 non-null  float64
 37  Netherlands (import) [MWh] Original resolutions        76705 non-null  float64
 38  Switzerland (export) [MWh] Original resolutions        76704 non-null  float64
 39  Switzerland (import) [MWh] Original resolutions        76704 non-null  float64
 40  Denmark (export) [MWh] Original resolutions            76704 non-null  float64
 41  Denmark (import) [MWh] Original resolutions            76705 non-null  float64
 42  Czech Republic (export) [MWh] Original resolutions     76696 non-null  float64
 43  Czech Republic (import) [MWh] Original resolutions     76696 non-null  float64
 44  Luxembourg (export) [MWh] Original resolutions         76705 non-null  float64
 45  Luxembourg (import) [MWh] Original resolutions         76705 non-null  float64
 46  Sweden (export) [MWh] Original resolutions             76704 non-null  float64
 47  Sweden (import) [MWh] Original resolutions             76704 non-null  float64
 48  Austria (export) [MWh] Original resolutions            76707 non-null  float64
 49  Austria (import) [MWh] Original resolutions            76707 non-null  float64
 50  France (export) [MWh] Original resolutions             76704 non-null  float64
 51  France (import) [MWh] Original resolutions             76704 non-null  float64
 52  Poland (export) [MWh] Original resolutions             76698 non-null  float64
 53  Poland (import) [MWh] Original resolutions             76696 non-null  float64
 54  Norway (export) [MWh] Original resolutions             76705 non-null  float64
 55  Norway (import) [MWh] Original resolutions             76705 non-null  float64
 56  Belgium (export) [MWh] Original resolutions            76706 non-null  float64
 57  Belgium (import) [MWh] Original resolutions            76706 non-null  float64
 58  Germany/Luxembourg [€/MWh] Original resolutions        76720 non-null  float64
 59  ∅ DE/LU neighbours [€/MWh] Original resolutions        76720 non-null  float64
 60  Belgium [€/MWh] Original resolutions                   76720 non-null  float64
 61  Denmark 1 [€/MWh] Original resolutions                 76720 non-null  float64
 62  Denmark 2 [€/MWh] Original resolutions                 76720 non-null  float64
 63  France [€/MWh] Original resolutions                    76720 non-null  float64
 64  Netherlands [€/MWh] Original resolutions               76720 non-null  float64
 65  Norway 2 [€/MWh] Original resolutions                  76720 non-null  float64
 66  Austria [€/MWh] Original resolutions                   76720 non-null  float64
 67  Poland [€/MWh] Original resolutions                    76720 non-null  float64
 68  Sweden 4 [€/MWh] Original resolutions                  76720 non-null  float64
 69  Switzerland [€/MWh] Original resolutions               76720 non-null  float64
 70  Czech Republic [€/MWh] Original resolutions            76720 non-null  float64
 71  Northern Italy [€/MWh] Original resolutions            70672 non-null  float64
 72  Slovenia [€/MWh] Original resolutions                  76716 non-null  float64
 73  Hungary [€/MWh] Original resolutions                   76720 non-null  float64
dtypes: UInt32(1), datetime64[ns](2), float64(66), int32(5)
memory usage: 41.6 MB

In [268]:
# Save DataFrame to CSV file
merged_df6.to_csv('merged_df6.csv', index=False)

In [270]:
#########################################

In [272]:
Exported_balancing_services = pd.read_csv("Exported_balancing_services_202301010000_202503050000_Quarterhour.csv", 
                                                      on_bad_lines='skip', delimiter=';', low_memory=False)

In [274]:
Exported_balancing_services.head()

,Start date,End date,Austria [MWh] Original resolutions
0,"Jan 1, 2023 12:00 AM","Jan 1, 2023 12:15 AM",57.50
1,"Jan 1, 2023 12:15 AM","Jan 1, 2023 12:30 AM",23.25
2,"Jan 1, 2023 12:30 AM","Jan 1, 2023 12:45 AM",28.75
3,"Jan 1, 2023 12:45 AM","Jan 1, 2023 1:00 AM",22.25
4,"Jan 1, 2023 1:00 AM","Jan 1, 2023 1:15 AM",10.50

In [276]:
# Ensure 'Start date' and 'End date' are in datetime format
Exported_balancing_services['Start date'] = pd.to_datetime(Exported_balancing_services['Start date'], format='%b %d, %Y %I:%M %p')
Exported_balancing_services['End date'] = pd.to_datetime(Exported_balancing_services['End date'], format='%b %d, %Y %I:%M %p')

In [278]:
# Replace '-' with NaN and remove commas in 'Austria [MWh] Original resolutions'
Exported_balancing_services['Austria [MWh] Original resolutions'] = Exported_balancing_services['Austria [MWh] Original resolutions'].replace({'-': np.nan, ',': ''}, regex=True)

# Convert to numeric and coerce errors to NaN
Exported_balancing_services['Austria [MWh] Original resolutions'] = pd.to_numeric(Exported_balancing_services['Austria [MWh] Original resolutions'], errors='coerce')

# Replace infinite values with NaN
Exported_balancing_services.replace([np.inf, -np.inf], np.nan, inplace=True)

In [282]:
# Extract time-based features
Exported_balancing_services['hour'] = Exported_balancing_services['Start date'].dt.hour
Exported_balancing_services['day'] = Exported_balancing_services['Start date'].dt.day
Exported_balancing_services['week'] = Exported_balancing_services['Start date'].dt.isocalendar().week
Exported_balancing_services['weekday'] = Exported_balancing_services['Start date'].dt.weekday  # 0=Monday, 6=Sunday
Exported_balancing_services['month'] = Exported_balancing_services['Start date'].dt.month
Exported_balancing_services['year'] = Exported_balancing_services['Start date'].dt.year

In [284]:
Exported_balancing_services.head()

,Start date,End date,Austria [MWh] Original resolutions,hour,day,week,weekday,month,year
0,2023-01-01 00:00:00,2023-01-01 00:15:00,57.50,0,1,52,6,1,2023
1,2023-01-01 00:15:00,2023-01-01 00:30:00,23.25,0,1,52,6,1,2023
2,2023-01-01 00:30:00,2023-01-01 00:45:00,28.75,0,1,52,6,1,2023
3,2023-01-01 00:45:00,2023-01-01 01:00:00,22.25,0,1,52,6,1,2023
4,2023-01-01 01:00:00,2023-01-01 01:15:00,10.50,1,1,52,6,1,2023

In [290]:
Exported_balancing_services.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76224 entries, 0 to 76223
Data columns (total 9 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Start date                          76224 non-null  datetime64[ns]
 1   End date                            76224 non-null  datetime64[ns]
 2   Austria [MWh] Original resolutions  32061 non-null  float64
 3   hour                                76224 non-null  int32
 4   day                                 76224 non-null  int32
 5   week                                76224 non-null  UInt32
 6   weekday                             76224 non-null  int32
 7   month                               76224 non-null  int32
 8   year                                76224 non-null  int32
dtypes: UInt32(1), datetime64[ns](2), float64(1), int32(5)
memory usage: 3.6 MB

In [286]:
#########################################

In [288]:
# Merge the two dataframes
merged_df7 = pd.merge(
    merged_df6, 
    Exported_balancing_services, 
    on=['Start date', 'End date', 'hour', 'day', 'weekday', 'week', 'month', 'year'], 
    how='inner'
)

# Check the result
merged_df7.info()
merged_df7.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77232 entries, 0 to 77231
Data columns (total 75 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Start date                                             77232 non-null  datetime64[ns]
 1   End date                                               77232 non-null  datetime64[ns]
 2   Actual_consumption_Total (grid load) [MWh]             77215 non-null  float64
 3   Actual_consumption_Residual load [MWh]                 76678 non-null  float64
 4   Actual_consumption_Hydro pumped storage [MWh]          77215 non-null  float64
 5   hour                                                   77232 non-null  int32
 6   day                                                    77232 non-null  int32
 7   weekday                                                77232 non-null  int32
 8   week                                                   77232 non-null  UInt32
 9   month                                                  77232 non-null  int32
 10  year                                                   77232 non-null  int32
 11  Biomass [MWh] Original resolutions                     77215 non-null  float64
 12  Hydropower [MWh] Original resolutions                  77215 non-null  float64
 13  Wind offshore [MWh] Original resolutions               77216 non-null  float64
 14  Wind onshore [MWh] Original resolutions                77215 non-null  float64
 15  Photovoltaics [MWh] Original resolutions               77215 non-null  float64
 16  Other renewable [MWh] Original resolutions             77215 non-null  float64
 17  Nuclear [MWh] Original resolutions                     38378 non-null  float64
 18  Lignite [MWh] Original resolutions                     77215 non-null  float64
 19  Hard coal [MWh] Original resolutions                   77215 non-null  float64
 20  Fossil gas [MWh] Original resolutions                  77215 non-null  float64
 21  Hydro pumped storage [MWh] Original resolutions        77215 non-null  float64
 22  Other conventional [MWh] Original resolutions          77215 non-null  float64
 23  Total Generation [MWh]                                 77232 non-null  float64
 24  Volume activated (+) [MWh] Original resolutions        30516 non-null  float64
 25  Volume activated (-) [MWh] Original resolutions        30516 non-null  float64
 26  Volume procured (+) [MW] Original resolutions          17372 non-null  float64
 27  Volume procured (-) [MW] Original resolutions          17372 non-null  float64
 28  Procurement price (+) [€/MW] Original resolutions      17372 non-null  float64
 29  Procurement price (-) [€/MW] Original resolutions      17372 non-null  float64
 30  Price [€/MWh] Original resolutions                     77160 non-null  float64
 31  Net income [€] Original resolutions                    23 non-null     float64
 32  Balancing services [€] Original resolutions            92 non-null     float64
 33  Network security of the TSOs [€] Original resolutions  96 non-null     float64
 34  Countertrading [€] Original resolutions                96 non-null     float64
 35  Net export [MWh] Original resolutions                  77197 non-null  float64
 36  Netherlands (export) [MWh] Original resolutions        77217 non-null  float64
 37  Netherlands (import) [MWh] Original resolutions        77217 non-null  float64
 38  Switzerland (export) [MWh] Original resolutions        77216 non-null  float64
 39  Switzerland (import) [MWh] Original resolutions        77216 non-null  float64
 40  Denmark (export) [MWh] Original resolutions            77216 non-null  float64
 41  Denmark (import) [MWh] Original resolutions            77217 non-null  float64
 42  Czech Republic (export) [MWh] Original resolutions     77208 non-null  float64
 43  Czech Republic (import) [MWh] Original resolutions     77208 non-null  float64
 44  Luxembourg (export) [MWh] Original resolutions         77217 non-null  float64
 45  Luxembourg (import) [MWh] Original resolutions         77217 non-null  float64
 46  Sweden (export) [MWh] Original resolutions             77216 non-null  float64
 47  Sweden (import) [MWh] Original resolutions             77216 non-null  float64
 48  Austria (export) [MWh] Original resolutions            77219 non-null  float64
 49  Austria (import) [MWh] Original resolutions            77219 non-null  float64
 50  France (export) [MWh] Original resolutions             77216 non-null  float64
 51  France (import) [MWh] Original resolutions             77216 non-null  float64
 52  Poland (export) [MWh] Original resolutions             77210 non-null  float64
 53  Poland (import) [MWh] Original resolutions             77208 non-null  float64
 54  Norway (export) [MWh] Original resolutions             77217 non-null  float64
 55  Norway (import) [MWh] Original resolutions             77217 non-null  float64
 56  Belgium (export) [MWh] Original resolutions            77218 non-null  float64
 57  Belgium (import) [MWh] Original resolutions            77218 non-null  float64
 58  Germany/Luxembourg [€/MWh] Original resolutions        77232 non-null  float64
 59  ∅ DE/LU neighbours [€/MWh] Original resolutions        77232 non-null  float64
 60  Belgium [€/MWh] Original resolutions                   77232 non-null  float64
 61  Denmark 1 [€/MWh] Original resolutions                 77232 non-null  float64
 62  Denmark 2 [€/MWh] Original resolutions                 77232 non-null  float64
 63  France [€/MWh] Original resolutions                    77232 non-null  float64
 64  Netherlands [€/MWh] Original resolutions               77232 non-null  float64
 65  Norway 2 [€/MWh] Original resolutions                  77232 non-null  float64
 66  Austria [€/MWh] Original resolutions                   77232 non-null  float64
 67  Poland [€/MWh] Original resolutions                    77232 non-null  float64
 68  Sweden 4 [€/MWh] Original resolutions                  77232 non-null  float64
 69  Switzerland [€/MWh] Original resolutions               77232 non-null  float64
 70  Czech Republic [€/MWh] Original resolutions            77232 non-null  float64
 71  Northern Italy [€/MWh] Original resolutions            71184 non-null  float64
 72  Slovenia [€/MWh] Original resolutions                  77228 non-null  float64
 73  Hungary [€/MWh] Original resolutions                   77232 non-null  float64
 74  Austria [MWh] Original resolutions                     32565 non-null  float64
dtypes: UInt32(1), datetime64[ns](2), float64(67), int32(5)
memory usage: 42.5 MB

,Start date,End date,Actual_consumption_Total (grid load) [MWh],Actual_consumption_Residual load [MWh],Actual_consumption_Hydro pumped storage [MWh],hour,day,weekday,week,month,...,Norway 2 [€/MWh] Original resolutions,Austria [€/MWh] Original resolutions,Poland [€/MWh] Original resolutions,Sweden 4 [€/MWh] Original resolutions,Switzerland [€/MWh] Original resolutions,Czech Republic [€/MWh] Original resolutions,Northern Italy [€/MWh] Original resolutions,Slovenia [€/MWh] Original resolutions,Hungary [€/MWh] Original resolutions,Austria [MWh] Original resolutions
0,2023-01-01 00:00:00,2023-01-01 00:15:00,9673.00,1842.5,494.00,0,1,6,52,1,...,119.32,12.06,18.09,2.01,0.03,4.84,195.90,13.31,19.76,57.50
1,2023-01-01 00:15:00,2023-01-01 00:30:00,9593.50,1691.5,502.50,0,1,6,52,1,...,119.32,12.06,18.09,2.01,0.03,4.84,195.90,13.31,19.76,23.25
2,2023-01-01 00:30:00,2023-01-01 00:45:00,9562.00,1442.5,561.00,0,1,6,52,1,...,119.32,12.06,18.09,2.01,0.03,4.84,195.90,13.31,19.76,28.75
3,2023-01-01 00:45:00,2023-01-01 01:00:00,9517.50,1598.5,519.25,0,1,6,52,1,...,119.32,12.06,18.09,2.01,0.03,4.84,195.90,13.31,19.76,22.25
4,2023-01-01 01:00:00,2023-01-01 01:15:00,9433.25,1325.5,301.00,1,1,6,52,1,...,108.83,-0.10,5.75,1.38,-7.25,-0.35,191.09,-0.07,0.19,10.50

In [292]:
# Save DataFrame to CSV file
merged_df7.to_csv('merged_df7.csv', index=False)

In [294]:
#########################################

In [296]:
Forecasted_consumption = pd.read_csv("Forecasted_consumption_202301010000_202503050000_Quarterhour.csv", 
                                                      on_bad_lines='skip', delimiter=';', low_memory=False)

In [298]:
Forecasted_consumption.head()

,Start date,End date,Total (grid load) [MWh] Original resolutions,Residual load [MWh] Original resolutions
0,"Jan 1, 2023 12:00 AM","Jan 1, 2023 12:15 AM","10,652.25","1,091.25"
1,"Jan 1, 2023 12:15 AM","Jan 1, 2023 12:30 AM","10,538.00",703.50
2,"Jan 1, 2023 12:30 AM","Jan 1, 2023 12:45 AM","10,380.00",565.75
3,"Jan 1, 2023 12:45 AM","Jan 1, 2023 1:00 AM","10,222.25",438.25
4,"Jan 1, 2023 1:00 AM","Jan 1, 2023 1:15 AM","10,107.75",393.75

In [300]:
# Ensure 'Start date' and 'End date' are in datetime format
Forecasted_consumption['Start date'] = pd.to_datetime(Forecasted_consumption['Start date'], format='%b %d, %Y %I:%M %p')
Forecasted_consumption['End date'] = pd.to_datetime(Forecasted_consumption['End date'], format='%b %d, %Y %I:%M %p')

In [302]:
# Extract time-based features
Forecasted_consumption['hour'] = Forecasted_consumption['Start date'].dt.hour
Forecasted_consumption['day'] = Forecasted_consumption['Start date'].dt.day
Forecasted_consumption['week'] = Forecasted_consumption['Start date'].dt.isocalendar().week
Forecasted_consumption['weekday'] = Forecasted_consumption['Start date'].dt.weekday  # 0=Monday, 6=Sunday
Forecasted_consumption['month'] = Forecasted_consumption['Start date'].dt.month
Forecasted_consumption['year'] = Forecasted_consumption['Start date'].dt.year

In [304]:
# Replace invalid characters
Forecasted_consumption[['Total (grid load) [MWh] Original resolutions', 
                        'Residual load [MWh] Original resolutions']] = (
    Forecasted_consumption[['Total (grid load) [MWh] Original resolutions', 
                            'Residual load [MWh] Original resolutions']]
    .replace({'-': np.nan, ',': ''}, regex=True)
)

# Convert to numeric
Forecasted_consumption[['Total (grid load) [MWh] Original resolutions', 
                        'Residual load [MWh] Original resolutions']] = (
    Forecasted_consumption[['Total (grid load) [MWh] Original resolutions', 
                            'Residual load [MWh] Original resolutions']]
    .apply(pd.to_numeric, errors='coerce')
)

# Replace infinite values with NaN
Forecasted_consumption.replace([np.inf, -np.inf], np.nan, inplace=True)

In [306]:
Forecasted_consumption.rename(columns={'Total (grid load) [MWh] Original resolutions': 'Forecasted_consumption_Total (grid load) [MWh]'}, inplace=True)

In [308]:
Forecasted_consumption.rename(columns={'Residual load [MWh] Original resolutions': 'Forecasted_consumption_Residual load [MWh]'}, inplace=True)

In [310]:
Forecasted_consumption.head()

,Start date,End date,Forecasted_consumption_Total (grid load) [MWh],Forecasted_consumption_Residual load [MWh],hour,day,week,weekday,month,year
0,2023-01-01 00:00:00,2023-01-01 00:15:00,10652.25,1091.25,0,1,52,6,1,2023
1,2023-01-01 00:15:00,2023-01-01 00:30:00,10538.00,703.50,0,1,52,6,1,2023
2,2023-01-01 00:30:00,2023-01-01 00:45:00,10380.00,565.75,0,1,52,6,1,2023
3,2023-01-01 00:45:00,2023-01-01 01:00:00,10222.25,438.25,0,1,52,6,1,2023
4,2023-01-01 01:00:00,2023-01-01 01:15:00,10107.75,393.75,1,1,52,6,1,2023

In [312]:
Forecasted_consumption.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76224 entries, 0 to 76223
Data columns (total 10 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Start date                                      76224 non-null  datetime64[ns]
 1   End date                                        76224 non-null  datetime64[ns]
 2   Forecasted_consumption_Total (grid load) [MWh]  76224 non-null  float64
 3   Forecasted_consumption_Residual load [MWh]      74983 non-null  float64
 4   hour                                            76224 non-null  int32
 5   day                                             76224 non-null  int32
 6   week                                            76224 non-null  UInt32
 7   weekday                                         76224 non-null  int32
 8   month                                           76224 non-null  int32
 9   year                                            76224 non-null  int32
dtypes: UInt32(1), datetime64[ns](2), float64(2), int32(5)
memory usage: 4.1 MB

In [314]:
#########################################

In [316]:
# Merge the two dataframes
merged_df8 = pd.merge(
    merged_df7, 
    Forecasted_consumption, 
    on=['Start date', 'End date', 'hour', 'day', 'weekday', 'week', 'month', 'year'], 
    how='inner'
)

# Check the result
merged_df8.info()
merged_df8.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78256 entries, 0 to 78255
Data columns (total 77 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Start date                                             78256 non-null  datetime64[ns]
 1   End date                                               78256 non-null  datetime64[ns]
 2   Actual_consumption_Total (grid load) [MWh]             78239 non-null  float64
 3   Actual_consumption_Residual load [MWh]                 77702 non-null  float64
 4   Actual_consumption_Hydro pumped storage [MWh]          78239 non-null  float64
 5   hour                                                   78256 non-null  int32
 6   day                                                    78256 non-null  int32
 7   weekday                                                78256 non-null  int32
 8   week                                                   78256 non-null  UInt32
 9   month                                                  78256 non-null  int32
 10  year                                                   78256 non-null  int32
 11  Biomass [MWh] Original resolutions                     78239 non-null  float64
 12  Hydropower [MWh] Original resolutions                  78239 non-null  float64
 13  Wind offshore [MWh] Original resolutions               78240 non-null  float64
 14  Wind onshore [MWh] Original resolutions                78239 non-null  float64
 15  Photovoltaics [MWh] Original resolutions               78239 non-null  float64
 16  Other renewable [MWh] Original resolutions             78239 non-null  float64
 17  Nuclear [MWh] Original resolutions                     38890 non-null  float64
 18  Lignite [MWh] Original resolutions                     78239 non-null  float64
 19  Hard coal [MWh] Original resolutions                   78239 non-null  float64
 20  Fossil gas [MWh] Original resolutions                  78239 non-null  float64
 21  Hydro pumped storage [MWh] Original resolutions        78239 non-null  float64
 22  Other conventional [MWh] Original resolutions          78239 non-null  float64
 23  Total Generation [MWh]                                 78256 non-null  float64
 24  Volume activated (+) [MWh] Original resolutions        31028 non-null  float64
 25  Volume activated (-) [MWh] Original resolutions        31028 non-null  float64
 26  Volume procured (+) [MW] Original resolutions          17372 non-null  float64
 27  Volume procured (-) [MW] Original resolutions          17372 non-null  float64
 28  Procurement price (+) [€/MW] Original resolutions      17372 non-null  float64
 29  Procurement price (-) [€/MW] Original resolutions      17372 non-null  float64
 30  Price [€/MWh] Original resolutions                     78184 non-null  float64
 31  Net income [€] Original resolutions                    23 non-null     float64
 32  Balancing services [€] Original resolutions            92 non-null     float64
 33  Network security of the TSOs [€] Original resolutions  96 non-null     float64
 34  Countertrading [€] Original resolutions                96 non-null     float64
 35  Net export [MWh] Original resolutions                  78221 non-null  float64
 36  Netherlands (export) [MWh] Original resolutions        78241 non-null  float64
 37  Netherlands (import) [MWh] Original resolutions        78241 non-null  float64
 38  Switzerland (export) [MWh] Original resolutions        78240 non-null  float64
 39  Switzerland (import) [MWh] Original resolutions        78240 non-null  float64
 40  Denmark (export) [MWh] Original resolutions            78240 non-null  float64
 41  Denmark (import) [MWh] Original resolutions            78241 non-null  float64
 42  Czech Republic (export) [MWh] Original resolutions     78232 non-null  float64
 43  Czech Republic (import) [MWh] Original resolutions     78232 non-null  float64
 44  Luxembourg (export) [MWh] Original resolutions         78241 non-null  float64
 45  Luxembourg (import) [MWh] Original resolutions         78241 non-null  float64
 46  Sweden (export) [MWh] Original resolutions             78240 non-null  float64
 47  Sweden (import) [MWh] Original resolutions             78240 non-null  float64
 48  Austria (export) [MWh] Original resolutions            78243 non-null  float64
 49  Austria (import) [MWh] Original resolutions            78243 non-null  float64
 50  France (export) [MWh] Original resolutions             78240 non-null  float64
 51  France (import) [MWh] Original resolutions             78240 non-null  float64
 52  Poland (export) [MWh] Original resolutions             78234 non-null  float64
 53  Poland (import) [MWh] Original resolutions             78232 non-null  float64
 54  Norway (export) [MWh] Original resolutions             78241 non-null  float64
 55  Norway (import) [MWh] Original resolutions             78241 non-null  float64
 56  Belgium (export) [MWh] Original resolutions            78242 non-null  float64
 57  Belgium (import) [MWh] Original resolutions            78242 non-null  float64
 58  Germany/Luxembourg [€/MWh] Original resolutions        78256 non-null  float64
 59  ∅ DE/LU neighbours [€/MWh] Original resolutions        78256 non-null  float64
 60  Belgium [€/MWh] Original resolutions                   78256 non-null  float64
 61  Denmark 1 [€/MWh] Original resolutions                 78256 non-null  float64
 62  Denmark 2 [€/MWh] Original resolutions                 78256 non-null  float64
 63  France [€/MWh] Original resolutions                    78256 non-null  float64
 64  Netherlands [€/MWh] Original resolutions               78256 non-null  float64
 65  Norway 2 [€/MWh] Original resolutions                  78256 non-null  float64
 66  Austria [€/MWh] Original resolutions                   78256 non-null  float64
 67  Poland [€/MWh] Original resolutions                    78256 non-null  float64
 68  Sweden 4 [€/MWh] Original resolutions                  78256 non-null  float64
 69  Switzerland [€/MWh] Original resolutions               78256 non-null  float64
 70  Czech Republic [€/MWh] Original resolutions            78256 non-null  float64
 71  Northern Italy [€/MWh] Original resolutions            72208 non-null  float64
 72  Slovenia [€/MWh] Original resolutions                  78252 non-null  float64
 73  Hungary [€/MWh] Original resolutions                   78256 non-null  float64
 74  Austria [MWh] Original resolutions                     33077 non-null  float64
 75  Forecasted_consumption_Total (grid load) [MWh]         78256 non-null  float64
 76  Forecasted_consumption_Residual load [MWh]             77015 non-null  float64
dtypes: UInt32(1), datetime64[ns](2), float64(69), int32(5)
memory usage: 44.3 MB

,Start date,End date,Actual_consumption_Total (grid load) [MWh],Actual_consumption_Residual load [MWh],Actual_consumption_Hydro pumped storage [MWh],hour,day,weekday,week,month,...,Poland [€/MWh] Original resolutions,Sweden 4 [€/MWh] Original resolutions,Switzerland [€/MWh] Original resolutions,Czech Republic [€/MWh] Original resolutions,Northern Italy [€/MWh] Original resolutions,Slovenia [€/MWh] Original resolutions,Hungary [€/MWh] Original resolutions,Austria [MWh] Original resolutions,Forecasted_consumption_Total (grid load) [MWh],Forecasted_consumption_Residual load [MWh]
0,2023-01-01 00:00:00,2023-01-01 00:15:00,9673.00,1842.5,494.00,0,1,6,52,1,...,18.09,2.01,0.03,4.84,195.90,13.31,19.76,57.50,10652.25,1091.25
1,2023-01-01 00:15:00,2023-01-01 00:30:00,9593.50,1691.5,502.50,0,1,6,52,1,...,18.09,2.01,0.03,4.84,195.90,13.31,19.76,23.25,10538.00,703.50
2,2023-01-01 00:30:00,2023-01-01 00:45:00,9562.00,1442.5,561.00,0,1,6,52,1,...,18.09,2.01,0.03,4.84,195.90,13.31,19.76,28.75,10380.00,565.75
3,2023-01-01 00:45:00,2023-01-01 01:00:00,9517.50,1598.5,519.25,0,1,6,52,1,...,18.09,2.01,0.03,4.84,195.90,13.31,19.76,22.25,10222.25,438.25
4,2023-01-01 01:00:00,2023-01-01 01:15:00,9433.25,1325.5,301.00,1,1,6,52,1,...,5.75,1.38,-7.25,-0.35,191.09,-0.07,0.19,10.50,10107.75,393.75

In [318]:
#########################################

In [320]:
Forecasted_generation = pd.read_csv("Forecasted_generation_Day-Ahead_202301010000_202503050000_Hour_Quarterhour.csv", 
                                                      on_bad_lines='skip', delimiter=';', low_memory=False)

In [322]:
Forecasted_generation.head()

,Start date,End date,Total [MWh] Original resolutions,Photovoltaics and wind [MWh] Original resolutions,Wind offshore [MWh] Original resolutions,Wind onshore [MWh] Original resolutions,Photovoltaics [MWh] Original resolutions,Other [MWh] Original resolutions
0,"Jan 1, 2023 12:00 AM","Jan 1, 2023 12:15 AM","56,012.00","9,561.00",867.25,"8,693.75",0.00,"17,018.25"
1,"Jan 1, 2023 12:15 AM","Jan 1, 2023 12:30 AM",-,"9,834.50",869.25,"8,965.25",0.00,-
2,"Jan 1, 2023 12:30 AM","Jan 1, 2023 12:45 AM",-,"9,814.25",870.25,"8,944.00",0.00,-
3,"Jan 1, 2023 12:45 AM","Jan 1, 2023 1:00 AM",-,"9,784.00",871.50,"8,912.50",0.00,-
4,"Jan 1, 2023 1:00 AM","Jan 1, 2023 1:15 AM","56,152.00","9,714.00",845.50,"8,868.50",0.00,"17,417.25"

In [324]:
# Ensure 'Start date' and 'End date' are in datetime format
Forecasted_generation['Start date'] = pd.to_datetime(Forecasted_generation['Start date'], format='%b %d, %Y %I:%M %p')
Forecasted_generation['End date'] = pd.to_datetime(Forecasted_generation['End date'], format='%b %d, %Y %I:%M %p')

In [326]:
# Extract time-based features
Forecasted_generation['hour'] = Forecasted_generation['Start date'].dt.hour
Forecasted_generation['day'] = Forecasted_generation['Start date'].dt.day
Forecasted_generation['week'] = Forecasted_generation['Start date'].dt.isocalendar().week
Forecasted_generation['weekday'] = Forecasted_generation['Start date'].dt.weekday  # 0=Monday, 6=Sunday
Forecasted_generation['month'] = Forecasted_generation['Start date'].dt.month
Forecasted_generation['year'] = Forecasted_generation['Start date'].dt.year

In [328]:
# Convert target columns to numeric
target_columns = [
    "Total [MWh] Original resolutions",
    "Photovoltaics and wind [MWh] Original resolutions",
    "Wind offshore [MWh] Original resolutions",
    "Wind onshore [MWh] Original resolutions",
    "Photovoltaics [MWh] Original resolutions",
    "Other [MWh] Original resolutions"
]

for col in target_columns:
    Forecasted_generation[col] = Forecasted_generation[col].replace({'-': np.nan, ',': ''}, regex=True)
    Forecasted_generation[col] = pd.to_numeric(Forecasted_generation[col], errors='coerce')

# Replace infinite values with NaN
Forecasted_generation.replace([np.inf, -np.inf], np.nan, inplace=True)

In [330]:
Forecasted_generation.rename(columns={'Total [MWh] Original resolutions': 'Forecasted_generation_Total [MWh]'}, inplace=True)

In [332]:
Forecasted_generation.rename(columns={'Photovoltaics and wind [MWh] Original resolutions': 'Forecasted_generation_Photovoltaics and wind [MWh]'}, inplace=True)

In [334]:
Forecasted_generation.rename(columns={'Wind offshore [MWh] Original resolutions': 'Forecasted_generation_Wind offshore [MWh]'}, inplace=True)

In [336]:
Forecasted_generation.rename(columns={'Wind onshore [MWh] Original resolutions': 'Forecasted_generation_Wind onshore [MWh]'}, inplace=True)

In [338]:
Forecasted_generation.rename(columns={'Photovoltaics [MWh] Original resolutions': 'Forecasted_generation_Photovoltaics [MWh]'}, inplace=True)

In [340]:
Forecasted_generation.rename(columns={'Other [MWh] Original resolutions': 'Forecasted_generation_Other [MWh]'}, inplace=True)

In [342]:
Forecasted_generation.head()

,Start date,End date,Forecasted_generation_Total [MWh],Forecasted_generation_Photovoltaics and wind [MWh],Forecasted_generation_Wind offshore [MWh],Forecasted_generation_Wind onshore [MWh],Forecasted_generation_Photovoltaics [MWh],Forecasted_generation_Other [MWh],hour,day,week,weekday,month,year
0,2023-01-01 00:00:00,2023-01-01 00:15:00,56012.0,9561.00,867.25,8693.75,0.0,17018.25,0,1,52,6,1,2023
1,2023-01-01 00:15:00,2023-01-01 00:30:00,NaN,9834.50,869.25,8965.25,0.0,NaN,0,1,52,6,1,2023
2,2023-01-01 00:30:00,2023-01-01 00:45:00,NaN,9814.25,870.25,8944.00,0.0,NaN,0,1,52,6,1,2023
3,2023-01-01 00:45:00,2023-01-01 01:00:00,NaN,9784.00,871.50,8912.50,0.0,NaN,0,1,52,6,1,2023
4,2023-01-01 01:00:00,2023-01-01 01:15:00,56152.0,9714.00,845.50,8868.50,0.0,17417.25,1,1,52,6,1,2023

In [344]:
Forecasted_generation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76224 entries, 0 to 76223
Data columns (total 14 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Start date                                          76224 non-null  datetime64[ns]
 1   End date                                            76224 non-null  datetime64[ns]
 2   Forecasted_generation_Total [MWh]                   19008 non-null  float64
 3   Forecasted_generation_Photovoltaics and wind [MWh]  76128 non-null  float64
 4   Forecasted_generation_Wind offshore [MWh]           76224 non-null  float64
 5   Forecasted_generation_Wind onshore [MWh]            76128 non-null  float64
 6   Forecasted_generation_Photovoltaics [MWh]           76128 non-null  float64
 7   Forecasted_generation_Other [MWh]                   19008 non-null  float64
 8   hour                                                76224 non-null  int32
 9   day                                                 76224 non-null  int32
 10  week                                                76224 non-null  UInt32
 11  weekday                                             76224 non-null  int32
 12  month                                               76224 non-null  int32
 13  year                                                76224 non-null  int32
dtypes: UInt32(1), datetime64[ns](2), float64(6), int32(5)
memory usage: 6.5 MB

In [346]:
#########################################

In [348]:
# Merge the two dataframes
merged_df9 = pd.merge(
    merged_df8, 
    Forecasted_generation, 
    on=['Start date', 'End date', 'hour', 'day', 'weekday', 'week', 'month', 'year'], 
    how='inner'
)

# Check the result
merged_df9.info()
merged_df9.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80304 entries, 0 to 80303
Data columns (total 83 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Start date                                             80304 non-null  datetime64[ns]
 1   End date                                               80304 non-null  datetime64[ns]
 2   Actual_consumption_Total (grid load) [MWh]             80287 non-null  float64
 3   Actual_consumption_Residual load [MWh]                 79750 non-null  float64
 4   Actual_consumption_Hydro pumped storage [MWh]          80287 non-null  float64
 5   hour                                                   80304 non-null  int32
 6   day                                                    80304 non-null  int32
 7   weekday                                                80304 non-null  int32
 8   week                                                   80304 non-null  UInt32
 9   month                                                  80304 non-null  int32
 10  year                                                   80304 non-null  int32
 11  Biomass [MWh] Original resolutions                     80287 non-null  float64
 12  Hydropower [MWh] Original resolutions                  80287 non-null  float64
 13  Wind offshore [MWh] Original resolutions               80288 non-null  float64
 14  Wind onshore [MWh] Original resolutions                80287 non-null  float64
 15  Photovoltaics [MWh] Original resolutions               80287 non-null  float64
 16  Other renewable [MWh] Original resolutions             80287 non-null  float64
 17  Nuclear [MWh] Original resolutions                     39914 non-null  float64
 18  Lignite [MWh] Original resolutions                     80287 non-null  float64
 19  Hard coal [MWh] Original resolutions                   80287 non-null  float64
 20  Fossil gas [MWh] Original resolutions                  80287 non-null  float64
 21  Hydro pumped storage [MWh] Original resolutions        80287 non-null  float64
 22  Other conventional [MWh] Original resolutions          80287 non-null  float64
 23  Total Generation [MWh]                                 80304 non-null  float64
 24  Volume activated (+) [MWh] Original resolutions        32052 non-null  float64
 25  Volume activated (-) [MWh] Original resolutions        32052 non-null  float64
 26  Volume procured (+) [MW] Original resolutions          17372 non-null  float64
 27  Volume procured (-) [MW] Original resolutions          17372 non-null  float64
 28  Procurement price (+) [€/MW] Original resolutions      17372 non-null  float64
 29  Procurement price (-) [€/MW] Original resolutions      17372 non-null  float64
 30  Price [€/MWh] Original resolutions                     80232 non-null  float64
 31  Net income [€] Original resolutions                    23 non-null     float64
 32  Balancing services [€] Original resolutions            92 non-null     float64
 33  Network security of the TSOs [€] Original resolutions  96 non-null     float64
 34  Countertrading [€] Original resolutions                96 non-null     float64
 35  Net export [MWh] Original resolutions                  80269 non-null  float64
 36  Netherlands (export) [MWh] Original resolutions        80289 non-null  float64
 37  Netherlands (import) [MWh] Original resolutions        80289 non-null  float64
 38  Switzerland (export) [MWh] Original resolutions        80288 non-null  float64
 39  Switzerland (import) [MWh] Original resolutions        80288 non-null  float64
 40  Denmark (export) [MWh] Original resolutions            80288 non-null  float64
 41  Denmark (import) [MWh] Original resolutions            80289 non-null  float64
 42  Czech Republic (export) [MWh] Original resolutions     80280 non-null  float64
 43  Czech Republic (import) [MWh] Original resolutions     80280 non-null  float64
 44  Luxembourg (export) [MWh] Original resolutions         80289 non-null  float64
 45  Luxembourg (import) [MWh] Original resolutions         80289 non-null  float64
 46  Sweden (export) [MWh] Original resolutions             80288 non-null  float64
 47  Sweden (import) [MWh] Original resolutions             80288 non-null  float64
 48  Austria (export) [MWh] Original resolutions            80291 non-null  float64
 49  Austria (import) [MWh] Original resolutions            80291 non-null  float64
 50  France (export) [MWh] Original resolutions             80288 non-null  float64
 51  France (import) [MWh] Original resolutions             80288 non-null  float64
 52  Poland (export) [MWh] Original resolutions             80282 non-null  float64
 53  Poland (import) [MWh] Original resolutions             80280 non-null  float64
 54  Norway (export) [MWh] Original resolutions             80289 non-null  float64
 55  Norway (import) [MWh] Original resolutions             80289 non-null  float64
 56  Belgium (export) [MWh] Original resolutions            80290 non-null  float64
 57  Belgium (import) [MWh] Original resolutions            80290 non-null  float64
 58  Germany/Luxembourg [€/MWh] Original resolutions        80304 non-null  float64
 59  ∅ DE/LU neighbours [€/MWh] Original resolutions        80304 non-null  float64
 60  Belgium [€/MWh] Original resolutions                   80304 non-null  float64
 61  Denmark 1 [€/MWh] Original resolutions                 80304 non-null  float64
 62  Denmark 2 [€/MWh] Original resolutions                 80304 non-null  float64
 63  France [€/MWh] Original resolutions                    80304 non-null  float64
 64  Netherlands [€/MWh] Original resolutions               80304 non-null  float64
 65  Norway 2 [€/MWh] Original resolutions                  80304 non-null  float64
 66  Austria [€/MWh] Original resolutions                   80304 non-null  float64
 67  Poland [€/MWh] Original resolutions                    80304 non-null  float64
 68  Sweden 4 [€/MWh] Original resolutions                  80304 non-null  float64
 69  Switzerland [€/MWh] Original resolutions               80304 non-null  float64
 70  Czech Republic [€/MWh] Original resolutions            80304 non-null  float64
 71  Northern Italy [€/MWh] Original resolutions            74256 non-null  float64
 72  Slovenia [€/MWh] Original resolutions                  80300 non-null  float64
 73  Hungary [€/MWh] Original resolutions                   80304 non-null  float64
 74  Austria [MWh] Original resolutions                     34101 non-null  float64
 75  Forecasted_consumption_Total (grid load) [MWh]         80304 non-null  float64
 76  Forecasted_consumption_Residual load [MWh]             79063 non-null  float64
 77  Forecasted_generation_Total [MWh]                      20028 non-null  float64
 78  Forecasted_generation_Photovoltaics and wind [MWh]     80208 non-null  float64
 79  Forecasted_generation_Wind offshore [MWh]              80304 non-null  float64
 80  Forecasted_generation_Wind onshore [MWh]               80208 non-null  float64
 81  Forecasted_generation_Photovoltaics [MWh]              80208 non-null  float64
 82  Forecasted_generation_Other [MWh]                      20028 non-null  float64
dtypes: UInt32(1), datetime64[ns](2), float64(75), int32(5)
memory usage: 49.1 MB

,Start date,End date,Actual_consumption_Total (grid load) [MWh],Actual_consumption_Residual load [MWh],Actual_consumption_Hydro pumped storage [MWh],hour,day,weekday,week,month,...,Hungary [€/MWh] Original resolutions,Austria [MWh] Original resolutions,Forecasted_consumption_Total (grid load) [MWh],Forecasted_consumption_Residual load [MWh],Forecasted_generation_Total [MWh],Forecasted_generation_Photovoltaics and wind [MWh],Forecasted_generation_Wind offshore [MWh],Forecasted_generation_Wind onshore [MWh],Forecasted_generation_Photovoltaics [MWh],Forecasted_generation_Other [MWh]
0,2023-01-01 00:00:00,2023-01-01 00:15:00,9673.00,1842.5,494.00,0,1,6,52,1,...,19.76,57.50,10652.25,1091.25,56012.0,9561.00,867.25,8693.75,0.0,17018.25
1,2023-01-01 00:15:00,2023-01-01 00:30:00,9593.50,1691.5,502.50,0,1,6,52,1,...,19.76,23.25,10538.00,703.50,NaN,9834.50,869.25,8965.25,0.0,NaN
2,2023-01-01 00:30:00,2023-01-01 00:45:00,9562.00,1442.5,561.00,0,1,6,52,1,...,19.76,28.75,10380.00,565.75,NaN,9814.25,870.25,8944.00,0.0,NaN
3,2023-01-01 00:45:00,2023-01-01 01:00:00,9517.50,1598.5,519.25,0,1,6,52,1,...,19.76,22.25,10222.25,438.25,NaN,9784.00,871.50,8912.50,0.0,NaN
4,2023-01-01 01:00:00,2023-01-01 01:15:00,9433.25,1325.5,301.00,1,1,6,52,1,...,0.19,10.50,10107.75,393.75,56152.0,9714.00,845.50,8868.50,0.0,17417.25

In [350]:
# Save DataFrame to CSV file
merged_df9.to_csv('merged_df9.csv', index=False)

In [352]:
#########################################

In [354]:
Frequency_Containment_Reserve = pd.read_csv("Frequency_Containment_Reserve_202301010000_202503050000_Quarterhour.csv", 
                                                      on_bad_lines='skip', delimiter=';', low_memory=False)

In [356]:
Frequency_Containment_Reserve.head()

,Start date,End date,Volume procured [MW] Original resolutions,Procurement price [€/MW] Original resolutions
0,"Jan 1, 2023 12:00 AM","Jan 1, 2023 12:15 AM",-,8.71
1,"Jan 1, 2023 12:15 AM","Jan 1, 2023 12:30 AM",-,8.71
2,"Jan 1, 2023 12:30 AM","Jan 1, 2023 12:45 AM",-,8.71
3,"Jan 1, 2023 12:45 AM","Jan 1, 2023 1:00 AM",-,8.71
4,"Jan 1, 2023 1:00 AM","Jan 1, 2023 1:15 AM",-,8.71

In [358]:
Frequency_Containment_Reserve.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76224 entries, 0 to 76223
Data columns (total 4 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Start date                                     76224 non-null  object
 1   End date                                       76224 non-null  object
 2   Volume procured [MW] Original resolutions      76224 non-null  object
 3   Procurement price [€/MW] Original resolutions  76224 non-null  object
dtypes: object(4)
memory usage: 2.3+ MB

In [360]:
# Ensure 'Start date' and 'End date' are in datetime format
Frequency_Containment_Reserve['Start date'] = pd.to_datetime(Frequency_Containment_Reserve['Start date'], format='%b %d, %Y %I:%M %p')
Frequency_Containment_Reserve['End date'] = pd.to_datetime(Frequency_Containment_Reserve['End date'], format='%b %d, %Y %I:%M %p')

# Extract time-based features
Frequency_Containment_Reserve['hour'] = Frequency_Containment_Reserve['Start date'].dt.hour
Frequency_Containment_Reserve['day'] = Frequency_Containment_Reserve['Start date'].dt.day
Frequency_Containment_Reserve['week'] = Frequency_Containment_Reserve['Start date'].dt.isocalendar().week
Frequency_Containment_Reserve['weekday'] = Frequency_Containment_Reserve['Start date'].dt.weekday  # 0=Monday, 6=Sunday
Frequency_Containment_Reserve['month'] = Frequency_Containment_Reserve['Start date'].dt.month
Frequency_Containment_Reserve['year'] = Frequency_Containment_Reserve['Start date'].dt.year

In [362]:
# Convert target columns to numeric
target_columns = [
    "Volume procured [MW] Original resolutions",
    "Procurement price [€/MW] Original resolutions"
]

for col in target_columns:
    Frequency_Containment_Reserve[col] = Frequency_Containment_Reserve[col].replace({'-': np.nan, ',': ''}, regex=True)
    Frequency_Containment_Reserve[col] = pd.to_numeric(Frequency_Containment_Reserve[col], errors='coerce')

# Replace infinite values with NaN
Frequency_Containment_Reserve.replace([np.inf, -np.inf], np.nan, inplace=True)

C:\Users\yunus\AppData\Local\Temp\ipykernel_11472\3042452750.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Frequency_Containment_Reserve[col] = Frequency_Containment_Reserve[col].replace({'-': np.nan, ',': ''}, regex=True)

In [364]:
Frequency_Containment_Reserve.head()

,Start date,End date,Volume procured [MW] Original resolutions,Procurement price [€/MW] Original resolutions,hour,day,week,weekday,month,year
0,2023-01-01 00:00:00,2023-01-01 00:15:00,NaN,8.71,0,1,52,6,1,2023
1,2023-01-01 00:15:00,2023-01-01 00:30:00,NaN,8.71,0,1,52,6,1,2023
2,2023-01-01 00:30:00,2023-01-01 00:45:00,NaN,8.71,0,1,52,6,1,2023
3,2023-01-01 00:45:00,2023-01-01 01:00:00,NaN,8.71,0,1,52,6,1,2023
4,2023-01-01 01:00:00,2023-01-01 01:15:00,NaN,8.71,1,1,52,6,1,2023

In [366]:
Frequency_Containment_Reserve.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76224 entries, 0 to 76223
Data columns (total 10 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Start date                                     76224 non-null  datetime64[ns]
 1   End date                                       76224 non-null  datetime64[ns]
 2   Volume procured [MW] Original resolutions      0 non-null      float64
 3   Procurement price [€/MW] Original resolutions  17372 non-null  float64
 4   hour                                           76224 non-null  int32
 5   day                                            76224 non-null  int32
 6   week                                           76224 non-null  UInt32
 7   weekday                                        76224 non-null  int32
 8   month                                          76224 non-null  int32
 9   year                                           76224 non-null  int32
dtypes: UInt32(1), datetime64[ns](2), float64(2), int32(5)
memory usage: 4.1 MB

In [368]:
Frequency_Containment_Reserve = Frequency_Containment_Reserve.drop(columns=['Volume procured [MW] Original resolutions'])

In [370]:
Frequency_Containment_Reserve.rename(columns={'Procurement price [€/MW] Original resolutions': 'Frequency_Containment_Reserve_Procurement price [€/MW]'}, inplace=True)

In [372]:
Frequency_Containment_Reserve.head()

,Start date,End date,Frequency_Containment_Reserve_Procurement price [€/MW],hour,day,week,weekday,month,year
0,2023-01-01 00:00:00,2023-01-01 00:15:00,8.71,0,1,52,6,1,2023
1,2023-01-01 00:15:00,2023-01-01 00:30:00,8.71,0,1,52,6,1,2023
2,2023-01-01 00:30:00,2023-01-01 00:45:00,8.71,0,1,52,6,1,2023
3,2023-01-01 00:45:00,2023-01-01 01:00:00,8.71,0,1,52,6,1,2023
4,2023-01-01 01:00:00,2023-01-01 01:15:00,8.71,1,1,52,6,1,2023

In [374]:
#########################################

In [376]:
# Merge the two dataframes
merged_df10 = pd.merge(
    merged_df9, 
    Frequency_Containment_Reserve, 
    on=['Start date', 'End date', 'hour', 'day', 'weekday', 'week', 'month', 'year'], 
    how='inner'
)

# Check the result
merged_df10.info()
merged_df10.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84400 entries, 0 to 84399
Data columns (total 84 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Start date                                              84400 non-null  datetime64[ns]
 1   End date                                                84400 non-null  datetime64[ns]
 2   Actual_consumption_Total (grid load) [MWh]              84383 non-null  float64
 3   Actual_consumption_Residual load [MWh]                  83846 non-null  float64
 4   Actual_consumption_Hydro pumped storage [MWh]           84383 non-null  float64
 5   hour                                                    84400 non-null  int32
 6   day                                                     84400 non-null  int32
 7   weekday                                                 84400 non-null  int32
 8   week                                                    84400 non-null  UInt32
 9   month                                                   84400 non-null  int32
 10  year                                                    84400 non-null  int32
 11  Biomass [MWh] Original resolutions                      84383 non-null  float64
 12  Hydropower [MWh] Original resolutions                   84383 non-null  float64
 13  Wind offshore [MWh] Original resolutions                84384 non-null  float64
 14  Wind onshore [MWh] Original resolutions                 84383 non-null  float64
 15  Photovoltaics [MWh] Original resolutions                84383 non-null  float64
 16  Other renewable [MWh] Original resolutions              84383 non-null  float64
 17  Nuclear [MWh] Original resolutions                      41962 non-null  float64
 18  Lignite [MWh] Original resolutions                      84383 non-null  float64
 19  Hard coal [MWh] Original resolutions                    84383 non-null  float64
 20  Fossil gas [MWh] Original resolutions                   84383 non-null  float64
 21  Hydro pumped storage [MWh] Original resolutions         84383 non-null  float64
 22  Other conventional [MWh] Original resolutions           84383 non-null  float64
 23  Total Generation [MWh]                                  84400 non-null  float64
 24  Volume activated (+) [MWh] Original resolutions         34100 non-null  float64
 25  Volume activated (-) [MWh] Original resolutions         34100 non-null  float64
 26  Volume procured (+) [MW] Original resolutions           17372 non-null  float64
 27  Volume procured (-) [MW] Original resolutions           17372 non-null  float64
 28  Procurement price (+) [€/MW] Original resolutions       17372 non-null  float64
 29  Procurement price (-) [€/MW] Original resolutions       17372 non-null  float64
 30  Price [€/MWh] Original resolutions                      84328 non-null  float64
 31  Net income [€] Original resolutions                     23 non-null     float64
 32  Balancing services [€] Original resolutions             92 non-null     float64
 33  Network security of the TSOs [€] Original resolutions   96 non-null     float64
 34  Countertrading [€] Original resolutions                 96 non-null     float64
 35  Net export [MWh] Original resolutions                   84365 non-null  float64
 36  Netherlands (export) [MWh] Original resolutions         84385 non-null  float64
 37  Netherlands (import) [MWh] Original resolutions         84385 non-null  float64
 38  Switzerland (export) [MWh] Original resolutions         84384 non-null  float64
 39  Switzerland (import) [MWh] Original resolutions         84384 non-null  float64
 40  Denmark (export) [MWh] Original resolutions             84384 non-null  float64
 41  Denmark (import) [MWh] Original resolutions             84385 non-null  float64
 42  Czech Republic (export) [MWh] Original resolutions      84376 non-null  float64
 43  Czech Republic (import) [MWh] Original resolutions      84376 non-null  float64
 44  Luxembourg (export) [MWh] Original resolutions          84385 non-null  float64
 45  Luxembourg (import) [MWh] Original resolutions          84385 non-null  float64
 46  Sweden (export) [MWh] Original resolutions              84384 non-null  float64
 47  Sweden (import) [MWh] Original resolutions              84384 non-null  float64
 48  Austria (export) [MWh] Original resolutions             84387 non-null  float64
 49  Austria (import) [MWh] Original resolutions             84387 non-null  float64
 50  France (export) [MWh] Original resolutions              84384 non-null  float64
 51  France (import) [MWh] Original resolutions              84384 non-null  float64
 52  Poland (export) [MWh] Original resolutions              84378 non-null  float64
 53  Poland (import) [MWh] Original resolutions              84376 non-null  float64
 54  Norway (export) [MWh] Original resolutions              84385 non-null  float64
 55  Norway (import) [MWh] Original resolutions              84385 non-null  float64
 56  Belgium (export) [MWh] Original resolutions             84386 non-null  float64
 57  Belgium (import) [MWh] Original resolutions             84386 non-null  float64
 58  Germany/Luxembourg [€/MWh] Original resolutions         84400 non-null  float64
 59  ∅ DE/LU neighbours [€/MWh] Original resolutions         84400 non-null  float64
 60  Belgium [€/MWh] Original resolutions                    84400 non-null  float64
 61  Denmark 1 [€/MWh] Original resolutions                  84400 non-null  float64
 62  Denmark 2 [€/MWh] Original resolutions                  84400 non-null  float64
 63  France [€/MWh] Original resolutions                     84400 non-null  float64
 64  Netherlands [€/MWh] Original resolutions                84400 non-null  float64
 65  Norway 2 [€/MWh] Original resolutions                   84400 non-null  float64
 66  Austria [€/MWh] Original resolutions                    84400 non-null  float64
 67  Poland [€/MWh] Original resolutions                     84400 non-null  float64
 68  Sweden 4 [€/MWh] Original resolutions                   84400 non-null  float64
 69  Switzerland [€/MWh] Original resolutions                84400 non-null  float64
 70  Czech Republic [€/MWh] Original resolutions             84400 non-null  float64
 71  Northern Italy [€/MWh] Original resolutions             78352 non-null  float64
 72  Slovenia [€/MWh] Original resolutions                   84396 non-null  float64
 73  Hungary [€/MWh] Original resolutions                    84400 non-null  float64
 74  Austria [MWh] Original resolutions                      36149 non-null  float64
 75  Forecasted_consumption_Total (grid load) [MWh]          84400 non-null  float64
 76  Forecasted_consumption_Residual load [MWh]              83159 non-null  float64
 77  Forecasted_generation_Total [MWh]                       21052 non-null  float64
 78  Forecasted_generation_Photovoltaics and wind [MWh]      84304 non-null  float64
 79  Forecasted_generation_Wind offshore [MWh]               84400 non-null  float64
 80  Forecasted_generation_Wind onshore [MWh]                84304 non-null  float64
 81  Forecasted_generation_Photovoltaics [MWh]               84304 non-null  float64
 82  Forecasted_generation_Other [MWh]                       21052 non-null  float64
 83  Frequency_Containment_Reserve_Procurement price [€/MW]  17372 non-null  float64
dtypes: UInt32(1), datetime64[ns](2), float64(76), int32(5)
memory usage: 52.2 MB

,Start date,End date,Actual_consumption_Total (grid load) [MWh],Actual_consumption_Residual load [MWh],Actual_consumption_Hydro pumped storage [MWh],hour,day,weekday,week,month,...,Austria [MWh] Original resolutions,Forecasted_consumption_Total (grid load) [MWh],Forecasted_consumption_Residual load [MWh],Forecasted_generation_Total [MWh],Forecasted_generation_Photovoltaics and wind [MWh],Forecasted_generation_Wind offshore [MWh],Forecasted_generation_Wind onshore [MWh],Forecasted_generation_Photovoltaics [MWh],Forecasted_generation_Other [MWh],Frequency_Containment_Reserve_Procurement price [€/MW]
0,2023-01-01 00:00:00,2023-01-01 00:15:00,9673.00,1842.5,494.00,0,1,6,52,1,...,57.50,10652.25,1091.25,56012.0,9561.00,867.25,8693.75,0.0,17018.25,8.71
1,2023-01-01 00:15:00,2023-01-01 00:30:00,9593.50,1691.5,502.50,0,1,6,52,1,...,23.25,10538.00,703.50,NaN,9834.50,869.25,8965.25,0.0,NaN,8.71
2,2023-01-01 00:30:00,2023-01-01 00:45:00,9562.00,1442.5,561.00,0,1,6,52,1,...,28.75,10380.00,565.75,NaN,9814.25,870.25,8944.00,0.0,NaN,8.71
3,2023-01-01 00:45:00,2023-01-01 01:00:00,9517.50,1598.5,519.25,0,1,6,52,1,...,22.25,10222.25,438.25,NaN,9784.00,871.50,8912.50,0.0,NaN,8.71
4,2023-01-01 01:00:00,2023-01-01 01:15:00,9433.25,1325.5,301.00,1,1,6,52,1,...,10.50,10107.75,393.75,56152.0,9714.00,845.50,8868.50,0.0,17417.25,8.71

In [378]:
# Save DataFrame to CSV file
merged_df10.to_csv('merged_df10.csv', index=False)

In [380]:
#########################################

In [382]:
Generation_Forecast_Intraday = pd.read_csv("Generation_Forecast_Intraday_202301010000_202503050000_Quarterhour.csv", 
                                                      on_bad_lines='skip', delimiter=';', low_memory=False)

In [384]:
Generation_Forecast_Intraday.head()

,Start date,End date,Photovoltaics and wind [MWh] Original resolutions,Wind offshore [MWh] Original resolutions,Wind onshore [MWh] Original resolutions,Photovoltaics [MWh] Original resolutions
0,"Jan 1, 2023 12:00 AM","Jan 1, 2023 12:15 AM","8,419.50",608.75,"7,810.75",0.00
1,"Jan 1, 2023 12:15 AM","Jan 1, 2023 12:30 AM","8,119.25",590.25,"7,529.00",0.00
2,"Jan 1, 2023 12:30 AM","Jan 1, 2023 12:45 AM","7,909.50",597.00,"7,312.50",0.00
3,"Jan 1, 2023 12:45 AM","Jan 1, 2023 1:00 AM","7,961.50",552.75,"7,408.75",0.00
4,"Jan 1, 2023 1:00 AM","Jan 1, 2023 1:15 AM","7,748.25",535.25,"7,213.00",0.00

In [386]:
# Ensure 'Start date' and 'End date' are in datetime format
Generation_Forecast_Intraday['Start date'] = pd.to_datetime(Generation_Forecast_Intraday['Start date'], format='%b %d, %Y %I:%M %p')
Generation_Forecast_Intraday['End date'] = pd.to_datetime(Generation_Forecast_Intraday['End date'], format='%b %d, %Y %I:%M %p')

# Extract time-based features
Generation_Forecast_Intraday['hour'] = Generation_Forecast_Intraday['Start date'].dt.hour
Generation_Forecast_Intraday['day'] = Generation_Forecast_Intraday['Start date'].dt.day
Generation_Forecast_Intraday['week'] = Generation_Forecast_Intraday['Start date'].dt.isocalendar().week
Generation_Forecast_Intraday['weekday'] = Generation_Forecast_Intraday['Start date'].dt.weekday  # 0=Monday, 6=Sunday
Generation_Forecast_Intraday['month'] = Generation_Forecast_Intraday['Start date'].dt.month
Generation_Forecast_Intraday['year'] = Generation_Forecast_Intraday['Start date'].dt.year

In [388]:
# Convert target columns to numeric
target_columns = [
    "Photovoltaics and wind [MWh] Original resolutions",
    "Wind offshore [MWh] Original resolutions",
    "Wind onshore [MWh] Original resolutions",
    "Photovoltaics [MWh] Original resolutions"
]

for col in target_columns:
    Generation_Forecast_Intraday[col] = Generation_Forecast_Intraday[col].replace({'-': np.nan, ',': ''}, regex=True)
    Generation_Forecast_Intraday[col] = pd.to_numeric(Generation_Forecast_Intraday[col], errors='coerce')

# Replace infinite values with NaN
Generation_Forecast_Intraday.replace([np.inf, -np.inf], np.nan, inplace=True)

In [390]:
Generation_Forecast_Intraday.rename(columns={'Photovoltaics and wind [MWh] Original resolutions': 'Generation_Forecast_Intraday_Photovoltaics and wind [MWh]'}, 
                                    inplace=True)

In [392]:
Generation_Forecast_Intraday.rename(columns={'Wind offshore [MWh] Original resolutions': 'Generation_Forecast_Intraday_Wind offshore [MWh]'}, 
                                    inplace=True)

In [394]:
Generation_Forecast_Intraday.rename(columns={'Wind onshore [MWh] Original resolutions': 'Generation_Forecast_Intraday_Wind onshore [MWh]'}, 
                                    inplace=True)

In [396]:
Generation_Forecast_Intraday.rename(columns={'Photovoltaics [MWh] Original resolutions': 'Generation_Forecast_Intraday_Photovoltaics [MWh]'}, 
                                    inplace=True)

In [402]:
Generation_Forecast_Intraday.head()

,Start date,End date,Generation_Forecast_Intraday_Photovoltaics and wind [MWh],Generation_Forecast_Intraday_Wind offshore [MWh],Generation_Forecast_Intraday_Wind onshore [MWh],Generation_Forecast_Intraday_Photovoltaics [MWh],hour,day,week,weekday,month,year
0,2023-01-01 00:00:00,2023-01-01 00:15:00,8419.50,608.75,7810.75,0.0,0,1,52,6,1,2023
1,2023-01-01 00:15:00,2023-01-01 00:30:00,8119.25,590.25,7529.00,0.0,0,1,52,6,1,2023
2,2023-01-01 00:30:00,2023-01-01 00:45:00,7909.50,597.00,7312.50,0.0,0,1,52,6,1,2023
3,2023-01-01 00:45:00,2023-01-01 01:00:00,7961.50,552.75,7408.75,0.0,0,1,52,6,1,2023
4,2023-01-01 01:00:00,2023-01-01 01:15:00,7748.25,535.25,7213.00,0.0,1,1,52,6,1,2023

In [398]:
Generation_Forecast_Intraday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76224 entries, 0 to 76223
Data columns (total 12 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Start date                                                 76224 non-null  datetime64[ns]
 1   End date                                                   76224 non-null  datetime64[ns]
 2   Generation_Forecast_Intraday_Photovoltaics and wind [MWh]  76224 non-null  float64
 3   Generation_Forecast_Intraday_Wind offshore [MWh]           76224 non-null  float64
 4   Generation_Forecast_Intraday_Wind onshore [MWh]            76224 non-null  float64
 5   Generation_Forecast_Intraday_Photovoltaics [MWh]           76224 non-null  float64
 6   hour                                                       76224 non-null  int32
 7   day                                                        76224 non-null  int32
 8   week                                                       76224 non-null  UInt32
 9   weekday                                                    76224 non-null  int32
 10  month                                                      76224 non-null  int32
 11  year                                                       76224 non-null  int32
dtypes: UInt32(1), datetime64[ns](2), float64(4), int32(5)
memory usage: 5.3 MB

In [400]:
#########################################

In [404]:
# Merge the two dataframes
merged_df11 = pd.merge(
    merged_df10, 
    Generation_Forecast_Intraday, 
    on=['Start date', 'End date', 'hour', 'day', 'weekday', 'week', 'month', 'year'], 
    how='inner'
)

# Check the result
merged_df11.info()
merged_df11.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92592 entries, 0 to 92591
Data columns (total 88 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Start date                                                 92592 non-null  datetime64[ns]
 1   End date                                                   92592 non-null  datetime64[ns]
 2   Actual_consumption_Total (grid load) [MWh]                 92575 non-null  float64
 3   Actual_consumption_Residual load [MWh]                     92038 non-null  float64
 4   Actual_consumption_Hydro pumped storage [MWh]              92575 non-null  float64
 5   hour                                                       92592 non-null  int32
 6   day                                                        92592 non-null  int32
 7   weekday                                                    92592 non-null  int32
 8   week                                                       92592 non-null  UInt32
 9   month                                                      92592 non-null  int32
 10  year                                                       92592 non-null  int32
 11  Biomass [MWh] Original resolutions                         92575 non-null  float64
 12  Hydropower [MWh] Original resolutions                      92575 non-null  float64
 13  Wind offshore [MWh] Original resolutions                   92576 non-null  float64
 14  Wind onshore [MWh] Original resolutions                    92575 non-null  float64
 15  Photovoltaics [MWh] Original resolutions                   92575 non-null  float64
 16  Other renewable [MWh] Original resolutions                 92575 non-null  float64
 17  Nuclear [MWh] Original resolutions                         46058 non-null  float64
 18  Lignite [MWh] Original resolutions                         92575 non-null  float64
 19  Hard coal [MWh] Original resolutions                       92575 non-null  float64
 20  Fossil gas [MWh] Original resolutions                      92575 non-null  float64
 21  Hydro pumped storage [MWh] Original resolutions            92575 non-null  float64
 22  Other conventional [MWh] Original resolutions              92575 non-null  float64
 23  Total Generation [MWh]                                     92592 non-null  float64
 24  Volume activated (+) [MWh] Original resolutions            38196 non-null  float64
 25  Volume activated (-) [MWh] Original resolutions            38196 non-null  float64
 26  Volume procured (+) [MW] Original resolutions              17372 non-null  float64
 27  Volume procured (-) [MW] Original resolutions              17372 non-null  float64
 28  Procurement price (+) [€/MW] Original resolutions          17372 non-null  float64
 29  Procurement price (-) [€/MW] Original resolutions          17372 non-null  float64
 30  Price [€/MWh] Original resolutions                         92520 non-null  float64
 31  Net income [€] Original resolutions                        23 non-null     float64
 32  Balancing services [€] Original resolutions                92 non-null     float64
 33  Network security of the TSOs [€] Original resolutions      96 non-null     float64
 34  Countertrading [€] Original resolutions                    96 non-null     float64
 35  Net export [MWh] Original resolutions                      92557 non-null  float64
 36  Netherlands (export) [MWh] Original resolutions            92577 non-null  float64
 37  Netherlands (import) [MWh] Original resolutions            92577 non-null  float64
 38  Switzerland (export) [MWh] Original resolutions            92576 non-null  float64
 39  Switzerland (import) [MWh] Original resolutions            92576 non-null  float64
 40  Denmark (export) [MWh] Original resolutions                92576 non-null  float64
 41  Denmark (import) [MWh] Original resolutions                92577 non-null  float64
 42  Czech Republic (export) [MWh] Original resolutions         92568 non-null  float64
 43  Czech Republic (import) [MWh] Original resolutions         92568 non-null  float64
 44  Luxembourg (export) [MWh] Original resolutions             92577 non-null  float64
 45  Luxembourg (import) [MWh] Original resolutions             92577 non-null  float64
 46  Sweden (export) [MWh] Original resolutions                 92576 non-null  float64
 47  Sweden (import) [MWh] Original resolutions                 92576 non-null  float64
 48  Austria (export) [MWh] Original resolutions                92579 non-null  float64
 49  Austria (import) [MWh] Original resolutions                92579 non-null  float64
 50  France (export) [MWh] Original resolutions                 92576 non-null  float64
 51  France (import) [MWh] Original resolutions                 92576 non-null  float64
 52  Poland (export) [MWh] Original resolutions                 92570 non-null  float64
 53  Poland (import) [MWh] Original resolutions                 92568 non-null  float64
 54  Norway (export) [MWh] Original resolutions                 92577 non-null  float64
 55  Norway (import) [MWh] Original resolutions                 92577 non-null  float64
 56  Belgium (export) [MWh] Original resolutions                92578 non-null  float64
 57  Belgium (import) [MWh] Original resolutions                92578 non-null  float64
 58  Germany/Luxembourg [€/MWh] Original resolutions            92592 non-null  float64
 59  ∅ DE/LU neighbours [€/MWh] Original resolutions            92592 non-null  float64
 60  Belgium [€/MWh] Original resolutions                       92592 non-null  float64
 61  Denmark 1 [€/MWh] Original resolutions                     92592 non-null  float64
 62  Denmark 2 [€/MWh] Original resolutions                     92592 non-null  float64
 63  France [€/MWh] Original resolutions                        92592 non-null  float64
 64  Netherlands [€/MWh] Original resolutions                   92592 non-null  float64
 65  Norway 2 [€/MWh] Original resolutions                      92592 non-null  float64
 66  Austria [€/MWh] Original resolutions                       92592 non-null  float64
 67  Poland [€/MWh] Original resolutions                        92592 non-null  float64
 68  Sweden 4 [€/MWh] Original resolutions                      92592 non-null  float64
 69  Switzerland [€/MWh] Original resolutions                   92592 non-null  float64
 70  Czech Republic [€/MWh] Original resolutions                92592 non-null  float64
 71  Northern Italy [€/MWh] Original resolutions                86544 non-null  float64
 72  Slovenia [€/MWh] Original resolutions                      92588 non-null  float64
 73  Hungary [€/MWh] Original resolutions                       92592 non-null  float64
 74  Austria [MWh] Original resolutions                         40245 non-null  float64
 75  Forecasted_consumption_Total (grid load) [MWh]             92592 non-null  float64
 76  Forecasted_consumption_Residual load [MWh]                 91351 non-null  float64
 77  Forecasted_generation_Total [MWh]                          23100 non-null  float64
 78  Forecasted_generation_Photovoltaics and wind [MWh]         92496 non-null  float64
 79  Forecasted_generation_Wind offshore [MWh]                  92592 non-null  float64
 80  Forecasted_generation_Wind onshore [MWh]                   92496 non-null  float64
 81  Forecasted_generation_Photovoltaics [MWh]                  92496 non-null  float64
 82  Forecasted_generation_Other [MWh]                          23100 non-null  float64
 83  Frequency_Containment_Reserve_Procurement price [€/MW]     17372 non-null  float64
 84  Generation_Forecast_Intraday_Photovoltaics and wind [MWh]  92592 non-null  float64
 85  Generation_Forecast_Intraday_Wind offshore [MWh]           92592 non-null  float64
 86  Generation_Forecast_Intraday_Wind onshore [MWh]            92592 non-null  float64
 87  Generation_Forecast_Intraday_Photovoltaics [MWh]           92592 non-null  float64
dtypes: UInt32(1), datetime64[ns](2), float64(80), int32(5)
memory usage: 60.1 MB

,Start date,End date,Actual_consumption_Total (grid load) [MWh],Actual_consumption_Residual load [MWh],Actual_consumption_Hydro pumped storage [MWh],hour,day,weekday,week,month,...,Forecasted_generation_Photovoltaics and wind [MWh],Forecasted_generation_Wind offshore [MWh],Forecasted_generation_Wind onshore [MWh],Forecasted_generation_Photovoltaics [MWh],Forecasted_generation_Other [MWh],Frequency_Containment_Reserve_Procurement price [€/MW],Generation_Forecast_Intraday_Photovoltaics and wind [MWh],Generation_Forecast_Intraday_Wind offshore [MWh],Generation_Forecast_Intraday_Wind onshore [MWh],Generation_Forecast_Intraday_Photovoltaics [MWh]
0,2023-01-01 00:00:00,2023-01-01 00:15:00,9673.00,1842.5,494.00,0,1,6,52,1,...,9561.00,867.25,8693.75,0.0,17018.25,8.71,8419.50,608.75,7810.75,0.0
1,2023-01-01 00:15:00,2023-01-01 00:30:00,9593.50,1691.5,502.50,0,1,6,52,1,...,9834.50,869.25,8965.25,0.0,NaN,8.71,8119.25,590.25,7529.00,0.0
2,2023-01-01 00:30:00,2023-01-01 00:45:00,9562.00,1442.5,561.00,0,1,6,52,1,...,9814.25,870.25,8944.00,0.0,NaN,8.71,7909.50,597.00,7312.50,0.0
3,2023-01-01 00:45:00,2023-01-01 01:00:00,9517.50,1598.5,519.25,0,1,6,52,1,...,9784.00,871.50,8912.50,0.0,NaN,8.71,7961.50,552.75,7408.75,0.0
4,2023-01-01 01:00:00,2023-01-01 01:15:00,9433.25,1325.5,301.00,1,1,6,52,1,...,9714.00,845.50,8868.50,0.0,17417.25,8.71,7748.25,535.25,7213.00,0.0

In [408]:
# Save DataFrame to CSV file
merged_df11.to_csv('merged_df11.csv', index=False)

In [406]:
#########################################

In [410]:
Imported_balancing_services = pd.read_csv("Imported_balancing_services_202301010000_202503050000_Quarterhour.csv", 
                                                      on_bad_lines='skip', delimiter=';', low_memory=False)

In [412]:
Imported_balancing_services.head()

,Start date,End date,Austria [MWh] Original resolutions
0,"Jan 1, 2023 12:00 AM","Jan 1, 2023 12:15 AM",0.25
1,"Jan 1, 2023 12:15 AM","Jan 1, 2023 12:30 AM",0.00
2,"Jan 1, 2023 12:30 AM","Jan 1, 2023 12:45 AM",0.00
3,"Jan 1, 2023 12:45 AM","Jan 1, 2023 1:00 AM",0.00
4,"Jan 1, 2023 1:00 AM","Jan 1, 2023 1:15 AM",0.00

In [414]:
# Ensure 'Start date' and 'End date' are in datetime format
Imported_balancing_services['Start date'] = pd.to_datetime(Imported_balancing_services['Start date'], format='%b %d, %Y %I:%M %p', errors='coerce')
Imported_balancing_services['End date'] = pd.to_datetime(Imported_balancing_services['End date'], format='%b %d, %Y %I:%M %p', errors='coerce')

# Extract time-based features
Imported_balancing_services['hour'] = Imported_balancing_services['Start date'].dt.hour
Imported_balancing_services['day'] = Imported_balancing_services['Start date'].dt.day
Imported_balancing_services['week'] = Imported_balancing_services['Start date'].dt.isocalendar().week
Imported_balancing_services['weekday'] = Imported_balancing_services['Start date'].dt.weekday  # 0=Monday, 6=Sunday
Imported_balancing_services['month'] = Imported_balancing_services['Start date'].dt.month
Imported_balancing_services['year'] = Imported_balancing_services['Start date'].dt.year

# Convert Austria column to numeric
Imported_balancing_services["Austria [MWh] Original resolutions"] = pd.to_numeric(
    Imported_balancing_services["Austria [MWh] Original resolutions"], errors='coerce'
)

# Replace infinite values with NaN
Imported_balancing_services.replace([np.inf, -np.inf], np.nan, inplace=True)

In [416]:
Imported_balancing_services.rename(columns={'Austria [MWh] Original resolutions': 'Imported_balancing_services_Austria [MWh]'}, 
                                    inplace=True)

In [418]:
Imported_balancing_services.head()

,Start date,End date,Imported_balancing_services_Austria [MWh],hour,day,week,weekday,month,year
0,2023-01-01 00:00:00,2023-01-01 00:15:00,0.25,0,1,52,6,1,2023
1,2023-01-01 00:15:00,2023-01-01 00:30:00,0.00,0,1,52,6,1,2023
2,2023-01-01 00:30:00,2023-01-01 00:45:00,0.00,0,1,52,6,1,2023
3,2023-01-01 00:45:00,2023-01-01 01:00:00,0.00,0,1,52,6,1,2023
4,2023-01-01 01:00:00,2023-01-01 01:15:00,0.00,1,1,52,6,1,2023

In [420]:
Imported_balancing_services.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76224 entries, 0 to 76223
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Start date                                 76224 non-null  datetime64[ns]
 1   End date                                   76224 non-null  datetime64[ns]
 2   Imported_balancing_services_Austria [MWh]  32061 non-null  float64
 3   hour                                       76224 non-null  int32
 4   day                                        76224 non-null  int32
 5   week                                       76224 non-null  UInt32
 6   weekday                                    76224 non-null  int32
 7   month                                      76224 non-null  int32
 8   year                                       76224 non-null  int32
dtypes: UInt32(1), datetime64[ns](2), float64(1), int32(5)
memory usage: 3.6 MB

In [422]:
#########################################

In [424]:
# Merge the two dataframes
merged_df12 = pd.merge(
    merged_df11, 
    Imported_balancing_services, 
    on=['Start date', 'End date', 'hour', 'day', 'weekday', 'week', 'month', 'year'], 
    how='inner'
)

# Check the result
merged_df12.info()
merged_df12.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108976 entries, 0 to 108975
Data columns (total 89 columns):
 #   Column                                                     Non-Null Count   Dtype
---  ------                                                     --------------   -----
 0   Start date                                                 108976 non-null  datetime64[ns]
 1   End date                                                   108976 non-null  datetime64[ns]
 2   Actual_consumption_Total (grid load) [MWh]                 108959 non-null  float64
 3   Actual_consumption_Residual load [MWh]                     108422 non-null  float64
 4   Actual_consumption_Hydro pumped storage [MWh]              108959 non-null  float64
 5   hour                                                       108976 non-null  int32
 6   day                                                        108976 non-null  int32
 7   weekday                                                    108976 non-null  int32
 8   week                                                       108976 non-null  UInt32
 9   month                                                      108976 non-null  int32
 10  year                                                       108976 non-null  int32
 11  Biomass [MWh] Original resolutions                         108959 non-null  float64
 12  Hydropower [MWh] Original resolutions                      108959 non-null  float64
 13  Wind offshore [MWh] Original resolutions                   108960 non-null  float64
 14  Wind onshore [MWh] Original resolutions                    108959 non-null  float64
 15  Photovoltaics [MWh] Original resolutions                   108959 non-null  float64
 16  Other renewable [MWh] Original resolutions                 108959 non-null  float64
 17  Nuclear [MWh] Original resolutions                         54250 non-null   float64
 18  Lignite [MWh] Original resolutions                         108959 non-null  float64
 19  Hard coal [MWh] Original resolutions                       108959 non-null  float64
 20  Fossil gas [MWh] Original resolutions                      108959 non-null  float64
 21  Hydro pumped storage [MWh] Original resolutions            108959 non-null  float64
 22  Other conventional [MWh] Original resolutions              108959 non-null  float64
 23  Total Generation [MWh]                                     108976 non-null  float64
 24  Volume activated (+) [MWh] Original resolutions            46388 non-null   float64
 25  Volume activated (-) [MWh] Original resolutions            46388 non-null   float64
 26  Volume procured (+) [MW] Original resolutions              17372 non-null   float64
 27  Volume procured (-) [MW] Original resolutions              17372 non-null   float64
 28  Procurement price (+) [€/MW] Original resolutions          17372 non-null   float64
 29  Procurement price (-) [€/MW] Original resolutions          17372 non-null   float64
 30  Price [€/MWh] Original resolutions                         108904 non-null  float64
 31  Net income [€] Original resolutions                        23 non-null      float64
 32  Balancing services [€] Original resolutions                92 non-null      float64
 33  Network security of the TSOs [€] Original resolutions      96 non-null      float64
 34  Countertrading [€] Original resolutions                    96 non-null      float64
 35  Net export [MWh] Original resolutions                      108941 non-null  float64
 36  Netherlands (export) [MWh] Original resolutions            108961 non-null  float64
 37  Netherlands (import) [MWh] Original resolutions            108961 non-null  float64
 38  Switzerland (export) [MWh] Original resolutions            108960 non-null  float64
 39  Switzerland (import) [MWh] Original resolutions            108960 non-null  float64
 40  Denmark (export) [MWh] Original resolutions                108960 non-null  float64
 41  Denmark (import) [MWh] Original resolutions                108961 non-null  float64
 42  Czech Republic (export) [MWh] Original resolutions         108952 non-null  float64
 43  Czech Republic (import) [MWh] Original resolutions         108952 non-null  float64
 44  Luxembourg (export) [MWh] Original resolutions             108961 non-null  float64
 45  Luxembourg (import) [MWh] Original resolutions             108961 non-null  float64
 46  Sweden (export) [MWh] Original resolutions                 108960 non-null  float64
 47  Sweden (import) [MWh] Original resolutions                 108960 non-null  float64
 48  Austria (export) [MWh] Original resolutions                108963 non-null  float64
 49  Austria (import) [MWh] Original resolutions                108963 non-null  float64
 50  France (export) [MWh] Original resolutions                 108960 non-null  float64
 51  France (import) [MWh] Original resolutions                 108960 non-null  float64
 52  Poland (export) [MWh] Original resolutions                 108954 non-null  float64
 53  Poland (import) [MWh] Original resolutions                 108952 non-null  float64
 54  Norway (export) [MWh] Original resolutions                 108961 non-null  float64
 55  Norway (import) [MWh] Original resolutions                 108961 non-null  float64
 56  Belgium (export) [MWh] Original resolutions                108962 non-null  float64
 57  Belgium (import) [MWh] Original resolutions                108962 non-null  float64
 58  Germany/Luxembourg [€/MWh] Original resolutions            108976 non-null  float64
 59  ∅ DE/LU neighbours [€/MWh] Original resolutions            108976 non-null  float64
 60  Belgium [€/MWh] Original resolutions                       108976 non-null  float64
 61  Denmark 1 [€/MWh] Original resolutions                     108976 non-null  float64
 62  Denmark 2 [€/MWh] Original resolutions                     108976 non-null  float64
 63  France [€/MWh] Original resolutions                        108976 non-null  float64
 64  Netherlands [€/MWh] Original resolutions                   108976 non-null  float64
 65  Norway 2 [€/MWh] Original resolutions                      108976 non-null  float64
 66  Austria [€/MWh] Original resolutions                       108976 non-null  float64
 67  Poland [€/MWh] Original resolutions                        108976 non-null  float64
 68  Sweden 4 [€/MWh] Original resolutions                      108976 non-null  float64
 69  Switzerland [€/MWh] Original resolutions                   108976 non-null  float64
 70  Czech Republic [€/MWh] Original resolutions                108976 non-null  float64
 71  Northern Italy [€/MWh] Original resolutions                102928 non-null  float64
 72  Slovenia [€/MWh] Original resolutions                      108972 non-null  float64
 73  Hungary [€/MWh] Original resolutions                       108976 non-null  float64
 74  Austria [MWh] Original resolutions                         48437 non-null   float64
 75  Forecasted_consumption_Total (grid load) [MWh]             108976 non-null  float64
 76  Forecasted_consumption_Residual load [MWh]                 107735 non-null  float64
 77  Forecasted_generation_Total [MWh]                          27196 non-null   float64
 78  Forecasted_generation_Photovoltaics and wind [MWh]         108880 non-null  float64
 79  Forecasted_generation_Wind offshore [MWh]                  108976 non-null  float64
 80  Forecasted_generation_Wind onshore [MWh]                   108880 non-null  float64
 81  Forecasted_generation_Photovoltaics [MWh]                  108880 non-null  float64
 82  Forecasted_generation_Other [MWh]                          27196 non-null   float64
 83  Frequency_Containment_Reserve_Procurement price [€/MW]     17372 non-null   float64
 84  Generation_Forecast_Intraday_Photovoltaics and wind [MWh]  108976 non-null  float64
 85  Generation_Forecast_Intraday_Wind offshore [MWh]           108976 non-null  float64
 86  Generation_Forecast_Intraday_Wind onshore [MWh]            108976 non-null  float64
 87  Generation_Forecast_Intraday_Photovoltaics [MWh]           108976 non-null  float64
 88  Imported_balancing_services_Austria [MWh]                  48437 non-null   float64
dtypes: UInt32(1), datetime64[ns](2), float64(81), int32(5)
memory usage: 71.6 MB

,Start date,End date,Actual_consumption_Total (grid load) [MWh],Actual_consumption_Residual load [MWh],Actual_consumption_Hydro pumped storage [MWh],hour,day,weekday,week,month,...,Forecasted_generation_Wind offshore [MWh],Forecasted_generation_Wind onshore [MWh],Forecasted_generation_Photovoltaics [MWh],Forecasted_generation_Other [MWh],Frequency_Containment_Reserve_Procurement price [€/MW],Generation_Forecast_Intraday_Photovoltaics and wind [MWh],Generation_Forecast_Intraday_Wind offshore [MWh],Generation_Forecast_Intraday_Wind onshore [MWh],Generation_Forecast_Intraday_Photovoltaics [MWh],Imported_balancing_services_Austria [MWh]
0,2023-01-01 00:00:00,2023-01-01 00:15:00,9673.00,1842.5,494.00,0,1,6,52,1,...,867.25,8693.75,0.0,17018.25,8.71,8419.50,608.75,7810.75,0.0,0.25
1,2023-01-01 00:15:00,2023-01-01 00:30:00,9593.50,1691.5,502.50,0,1,6,52,1,...,869.25,8965.25,0.0,NaN,8.71,8119.25,590.25,7529.00,0.0,0.00
2,2023-01-01 00:30:00,2023-01-01 00:45:00,9562.00,1442.5,561.00,0,1,6,52,1,...,870.25,8944.00,0.0,NaN,8.71,7909.50,597.00,7312.50,0.0,0.00
3,2023-01-01 00:45:00,2023-01-01 01:00:00,9517.50,1598.5,519.25,0,1,6,52,1,...,871.50,8912.50,0.0,NaN,8.71,7961.50,552.75,7408.75,0.0,0.00
4,2023-01-01 01:00:00,2023-01-01 01:15:00,9433.25,1325.5,301.00,1,1,6,52,1,...,845.50,8868.50,0.0,17417.25,8.71,7748.25,535.25,7213.00,0.0,0.00

In [426]:
# Save DataFrame to CSV file
merged_df12.to_csv('merged_df12.csv', index=False)

In [428]:
#########################################

In [430]:
Installed_generation_capacity = pd.read_csv("Installed_generation_capacity_202301010000_202503050000_Year.csv", 
                                                      on_bad_lines='skip', delimiter=';', low_memory=False)

In [432]:
Installed_generation_capacity.head()

,Start date,End date,Biomass [MW] Original resolutions,Hydropower [MW] Original resolutions,Wind offshore [MW] Original resolutions,Wind onshore [MW] Original resolutions,Photovoltaics [MW] Original resolutions,Other renewable [MW] Original resolutions,Nuclear [MW] Original resolutions,Lignite [MW] Original resolutions,Hard coal [MW] Original resolutions,Fossil gas [MW] Original resolutions,Hydro pumped storage [MW] Original resolutions,Other conventional [MW] Original resolutions
0,"Jan 1, 2023","Jan 1, 2024","8,467.00","5,049.00","8,129.00","57,590.00","63,066.00",440.0,"4,056.00","17,692.00","18,559.00","31,808.00","9,379.00","8,958.00"
1,"Jan 1, 2024","Jan 1, 2025","8,577.00","5,112.00","8,456.00","59,841.00","76,601.00",410.0,-,"18,363.00","18,411.00","36,255.00","9,449.00","8,813.00"
2,"Jan 1, 2025","Jan 1, 2026","8,766.00","5,350.00","9,215.00","63,192.00","86,408.00",446.0,-,"15,176.00","17,509.00","36,614.00","9,384.00","12,971.00"

In [434]:
Installed_generation_capacity["Start date"] = pd.to_datetime(Installed_generation_capacity["Start date"], format="%b %d, %Y", errors="coerce")
Installed_generation_capacity["End date"] = pd.to_datetime(Installed_generation_capacity["End date"], format="%b %d, %Y", errors="coerce")

In [436]:
# Extract time-based features
Installed_generation_capacity['hour'] = Installed_generation_capacity['Start date'].dt.hour
Installed_generation_capacity['day'] = Installed_generation_capacity['Start date'].dt.day
Installed_generation_capacity['week'] = Installed_generation_capacity['Start date'].dt.isocalendar().week
Installed_generation_capacity['weekday'] = Installed_generation_capacity['Start date'].dt.weekday  # 0=Monday, 6=Sunday
Installed_generation_capacity['month'] = Installed_generation_capacity['Start date'].dt.month
Installed_generation_capacity['year'] = Installed_generation_capacity['Start date'].dt.year

In [438]:
# Convert target columns to numeric
target_columns = [
     'Biomass [MW] Original resolutions',
     'Hydropower [MW] Original resolutions',
     'Wind offshore [MW] Original resolutions',
     'Wind onshore [MW] Original resolutions',
     'Photovoltaics [MW] Original resolutions',
     'Other renewable [MW] Original resolutions',
     'Nuclear [MW] Original resolutions',
     'Lignite [MW] Original resolutions',
     'Hard coal [MW] Original resolutions',
     'Fossil gas [MW] Original resolutions',
     'Hydro pumped storage [MW] Original resolutions',
     'Other conventional [MW] Original resolutions'
]

for col in target_columns:
    Installed_generation_capacity[col] = Installed_generation_capacity[col].replace({'-': np.nan, ',': ''}, regex=True)
    Installed_generation_capacity[col] = pd.to_numeric(Installed_generation_capacity[col], errors='coerce')

In [440]:
Installed_generation_capacity.head()

,Start date,End date,Biomass [MW] Original resolutions,Hydropower [MW] Original resolutions,Wind offshore [MW] Original resolutions,Wind onshore [MW] Original resolutions,Photovoltaics [MW] Original resolutions,Other renewable [MW] Original resolutions,Nuclear [MW] Original resolutions,Lignite [MW] Original resolutions,Hard coal [MW] Original resolutions,Fossil gas [MW] Original resolutions,Hydro pumped storage [MW] Original resolutions,Other conventional [MW] Original resolutions,hour,day,week,weekday,month,year
0,2023-01-01,2024-01-01,8467.0,5049.0,8129.0,57590.0,63066.0,440.0,4056.0,17692.0,18559.0,31808.0,9379.0,8958.0,0,1,52,6,1,2023
1,2024-01-01,2025-01-01,8577.0,5112.0,8456.0,59841.0,76601.0,410.0,NaN,18363.0,18411.0,36255.0,9449.0,8813.0,0,1,1,0,1,2024
2,2025-01-01,2026-01-01,8766.0,5350.0,9215.0,63192.0,86408.0,446.0,NaN,15176.0,17509.0,36614.0,9384.0,12971.0,0,1,1,2,1,2025

In [442]:
Installed_generation_capacity.rename(columns={'Biomass [MW] Original resolutions': 'Installed_generation_capacity_Biomass [MW]'}, 
                                    inplace=True)

In [444]:
Installed_generation_capacity.rename(columns={'Hydropower [MW] Original resolutions': 'Installed_generation_capacity_Hydropower [MW]'}, 
                                    inplace=True)

In [446]:
Installed_generation_capacity.rename(columns={'Wind offshore [MW] Original resolutions': 'Installed_generation_capacity_Wind offshore [MW]'}, 
                                    inplace=True)

In [448]:
Installed_generation_capacity.rename(columns={'Wind onshore [MW] Original resolutions': 'Installed_generation_capacity_Wind onshore [MW]'}, 
                                    inplace=True)

In [450]:
Installed_generation_capacity.rename(columns={'Photovoltaics [MW] Original resolutions': 'Installed_generation_capacity_Photovoltaics [MW]'}, 
                                    inplace=True)

In [452]:
Installed_generation_capacity.rename(columns={'Other renewable [MW] Original resolutions': 'Installed_generation_capacity_Other renewable [MW]'}, 
                                    inplace=True)

In [454]:
Installed_generation_capacity.rename(columns={'Nuclear [MW] Original resolutions': 'Installed_generation_capacity_Nuclear [MW]'}, 
                                    inplace=True)

In [456]:
Installed_generation_capacity.rename(columns={'Lignite [MW] Original resolutions': 'Installed_generation_capacity_Lignite [MW]'}, 
                                    inplace=True)

In [458]:
Installed_generation_capacity.rename(columns={'Hard coal [MW] Original resolutions': 'Installed_generation_capacity_Hard coal [MW]'}, 
                                    inplace=True)

In [460]:
Installed_generation_capacity.rename(columns={'Fossil gas [MW] Original resolutions': 'Installed_generation_capacity_Fossil gas [MW]'}, 
                                    inplace=True)

In [462]:
Installed_generation_capacity.rename(columns={'Hydro pumped storage [MW] Original resolutions': 'Installed_generation_capacity_Hydro pumped storage [MW]'}, 
                                    inplace=True)

In [464]:
Installed_generation_capacity.rename(columns={'Other conventional [MW] Original resolutions': 'Installed_generation_capacity_Other conventional [MW]'}, 
                                    inplace=True)

In [466]:
Installed_generation_capacity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 20 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Start date                                               3 non-null      datetime64[ns]
 1   End date                                                 3 non-null      datetime64[ns]
 2   Installed_generation_capacity_Biomass [MW]               3 non-null      float64
 3   Installed_generation_capacity_Hydropower [MW]            3 non-null      float64
 4   Installed_generation_capacity_Wind offshore [MW]         3 non-null      float64
 5   Installed_generation_capacity_Wind onshore [MW]          3 non-null      float64
 6   Installed_generation_capacity_Photovoltaics [MW]         3 non-null      float64
 7   Installed_generation_capacity_Other renewable [MW]       3 non-null      float64
 8   Installed_generation_capacity_Nuclear [MW]               1 non-null      float64
 9   Installed_generation_capacity_Lignite [MW]               3 non-null      float64
 10  Installed_generation_capacity_Hard coal [MW]             3 non-null      float64
 11  Installed_generation_capacity_Fossil gas [MW]            3 non-null      float64
 12  Installed_generation_capacity_Hydro pumped storage [MW]  3 non-null      float64
 13  Installed_generation_capacity_Other conventional [MW]    3 non-null      float64
 14  hour                                                     3 non-null      int32
 15  day                                                      3 non-null      int32
 16  week                                                     3 non-null      UInt32
 17  weekday                                                  3 non-null      int32
 18  month                                                    3 non-null      int32
 19  year                                                     3 non-null      int32
dtypes: UInt32(1), datetime64[ns](2), float64(12), int32(5)
memory usage: 543.0 bytes

In [474]:
Installed_generation_capacity.head()

,Start date,End date,Installed_generation_capacity_Biomass [MW],Installed_generation_capacity_Hydropower [MW],Installed_generation_capacity_Wind offshore [MW],Installed_generation_capacity_Wind onshore [MW],Installed_generation_capacity_Photovoltaics [MW],Installed_generation_capacity_Other renewable [MW],Installed_generation_capacity_Nuclear [MW],Installed_generation_capacity_Lignite [MW],Installed_generation_capacity_Hard coal [MW],Installed_generation_capacity_Fossil gas [MW],Installed_generation_capacity_Hydro pumped storage [MW],Installed_generation_capacity_Other conventional [MW],hour,day,week,weekday,month,year
0,2023-01-01,2024-01-01,8467.0,5049.0,8129.0,57590.0,63066.0,440.0,4056.0,17692.0,18559.0,31808.0,9379.0,8958.0,0,1,52,6,1,2023
1,2024-01-01,2025-01-01,8577.0,5112.0,8456.0,59841.0,76601.0,410.0,NaN,18363.0,18411.0,36255.0,9449.0,8813.0,0,1,1,0,1,2024
2,2025-01-01,2026-01-01,8766.0,5350.0,9215.0,63192.0,86408.0,446.0,NaN,15176.0,17509.0,36614.0,9384.0,12971.0,0,1,1,2,1,2025

In [468]:
#########################################

In [478]:
# Merge the two dataframes
merged_df13 = pd.merge(
    merged_df12, 
    Installed_generation_capacity, 
    on=['hour', 'day', 'weekday', 'week', 'month', 'year'], 
    how='left'
)

# Check the result
merged_df13.info()
merged_df13.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108976 entries, 0 to 108975
Columns: 103 entries, Start date_x to Installed_generation_capacity_Other conventional [MW]
dtypes: UInt32(1), datetime64[ns](4), float64(93), int32(5)
memory usage: 83.2 MB

,Start date_x,End date_x,Actual_consumption_Total (grid load) [MWh],Actual_consumption_Residual load [MWh],Actual_consumption_Hydro pumped storage [MWh],hour,day,weekday,week,month,...,Installed_generation_capacity_Wind offshore [MW],Installed_generation_capacity_Wind onshore [MW],Installed_generation_capacity_Photovoltaics [MW],Installed_generation_capacity_Other renewable [MW],Installed_generation_capacity_Nuclear [MW],Installed_generation_capacity_Lignite [MW],Installed_generation_capacity_Hard coal [MW],Installed_generation_capacity_Fossil gas [MW],Installed_generation_capacity_Hydro pumped storage [MW],Installed_generation_capacity_Other conventional [MW]
0,2023-01-01 00:00:00,2023-01-01 00:15:00,9673.00,1842.5,494.00,0,1,6,52,1,...,8129.0,57590.0,63066.0,440.0,4056.0,17692.0,18559.0,31808.0,9379.0,8958.0
1,2023-01-01 00:15:00,2023-01-01 00:30:00,9593.50,1691.5,502.50,0,1,6,52,1,...,8129.0,57590.0,63066.0,440.0,4056.0,17692.0,18559.0,31808.0,9379.0,8958.0
2,2023-01-01 00:30:00,2023-01-01 00:45:00,9562.00,1442.5,561.00,0,1,6,52,1,...,8129.0,57590.0,63066.0,440.0,4056.0,17692.0,18559.0,31808.0,9379.0,8958.0
3,2023-01-01 00:45:00,2023-01-01 01:00:00,9517.50,1598.5,519.25,0,1,6,52,1,...,8129.0,57590.0,63066.0,440.0,4056.0,17692.0,18559.0,31808.0,9379.0,8958.0
4,2023-01-01 01:00:00,2023-01-01 01:15:00,9433.25,1325.5,301.00,1,1,6,52,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [480]:
merged_df13.columns.tolist()

['Start date_x',
 'End date_x',
 'Actual_consumption_Total (grid load) [MWh]',
 'Actual_consumption_Residual load [MWh]',
 'Actual_consumption_Hydro pumped storage [MWh]',
 'hour',
 'day',
 'weekday',
 'week',
 'month',
 'year',
 'Biomass [MWh] Original resolutions',
 'Hydropower [MWh] Original resolutions',
 'Wind offshore [MWh] Original resolutions',
 'Wind onshore [MWh] Original resolutions',
 'Photovoltaics [MWh] Original resolutions',
 'Other renewable [MWh] Original resolutions',
 'Nuclear [MWh] Original resolutions',
 'Lignite [MWh] Original resolutions',
 'Hard coal [MWh] Original resolutions',
 'Fossil gas [MWh] Original resolutions',
 'Hydro pumped storage [MWh] Original resolutions',
 'Other conventional [MWh] Original resolutions',
 'Total Generation [MWh]',
 'Volume activated (+) [MWh] Original resolutions',
 'Volume activated (-) [MWh] Original resolutions',
 'Volume procured (+) [MW] Original resolutions',
 'Volume procured (-) [MW] Original resolutions',
 'Procurement price (+) [€/MW] Original resolutions',
 'Procurement price (-) [€/MW] Original resolutions',
 'Price [€/MWh] Original resolutions',
 'Net income [€] Original resolutions',
 'Balancing services [€] Original resolutions',
 'Network security of the TSOs [€] Original resolutions',
 'Countertrading [€] Original resolutions',
 'Net export [MWh] Original resolutions',
 'Netherlands (export) [MWh] Original resolutions',
 'Netherlands (import) [MWh] Original resolutions',
 'Switzerland (export) [MWh] Original resolutions',
 'Switzerland (import) [MWh] Original resolutions',
 'Denmark (export) [MWh] Original resolutions',
 'Denmark (import) [MWh] Original resolutions',
 'Czech Republic (export) [MWh] Original resolutions',
 'Czech Republic (import) [MWh] Original resolutions',
 'Luxembourg (export) [MWh] Original resolutions',
 'Luxembourg (import) [MWh] Original resolutions',
 'Sweden (export) [MWh] Original resolutions',
 'Sweden (import) [MWh] Original resolutions',
 'Austria (export) [MWh] Original resolutions',
 'Austria (import) [MWh] Original resolutions',
 'France (export) [MWh] Original resolutions',
 'France (import) [MWh] Original resolutions',
 'Poland (export) [MWh] Original resolutions',
 'Poland (import) [MWh] Original resolutions',
 'Norway (export) [MWh] Original resolutions',
 'Norway (import) [MWh] Original resolutions',
 'Belgium (export) [MWh] Original resolutions',
 'Belgium (import) [MWh] Original resolutions',
 'Germany/Luxembourg [€/MWh] Original resolutions',
 '∅ DE/LU neighbours [€/MWh] Original resolutions',
 'Belgium [€/MWh] Original resolutions',
 'Denmark 1 [€/MWh] Original resolutions',
 'Denmark 2 [€/MWh] Original resolutions',
 'France [€/MWh] Original resolutions',
 'Netherlands [€/MWh] Original resolutions',
 'Norway 2 [€/MWh] Original resolutions',
 'Austria [€/MWh] Original resolutions',
 'Poland [€/MWh] Original resolutions',
 'Sweden 4 [€/MWh] Original resolutions',
 'Switzerland [€/MWh] Original resolutions',
 'Czech Republic [€/MWh] Original resolutions',
 'Northern Italy [€/MWh] Original resolutions',
 'Slovenia [€/MWh] Original resolutions',
 'Hungary [€/MWh] Original resolutions',
 'Austria [MWh] Original resolutions',
 'Forecasted_consumption_Total (grid load) [MWh]',
 'Forecasted_consumption_Residual load [MWh]',
 'Forecasted_generation_Total [MWh]',
 'Forecasted_generation_Photovoltaics and wind [MWh]',
 'Forecasted_generation_Wind offshore [MWh]',
 'Forecasted_generation_Wind onshore [MWh]',
 'Forecasted_generation_Photovoltaics [MWh]',
 'Forecasted_generation_Other [MWh]',
 'Frequency_Containment_Reserve_Procurement price [€/MW]',
 'Generation_Forecast_Intraday_Photovoltaics and wind [MWh]',
 'Generation_Forecast_Intraday_Wind offshore [MWh]',
 'Generation_Forecast_Intraday_Wind onshore [MWh]',
 'Generation_Forecast_Intraday_Photovoltaics [MWh]',
 'Imported_balancing_services_Austria [MWh]',
 'Start date_y',
 'End date_y',
 'Installed_generation_capacity_Biomass [MW]',
 'Installed_generation_capacity_Hydropower [MW]',
 'Installed_generation_capacity_Wind offshore [MW]',
 'Installed_generation_capacity_Wind onshore [MW]',
 'Installed_generation_capacity_Photovoltaics [MW]',
 'Installed_generation_capacity_Other renewable [MW]',
 'Installed_generation_capacity_Nuclear [MW]',
 'Installed_generation_capacity_Lignite [MW]',
 'Installed_generation_capacity_Hard coal [MW]',
 'Installed_generation_capacity_Fossil gas [MW]',
 'Installed_generation_capacity_Hydro pumped storage [MW]',
 'Installed_generation_capacity_Other conventional [MW]']

In [482]:
# Rename column names
merged_df13.rename(columns={'Start date_x': 'Start date', 'End date_x': 'End date'}, inplace=True)

# Drop temporary columns
merged_df13.drop(columns=['Start date_y', 'End date_y'], inplace=True)

In [510]:
merged_df13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108976 entries, 0 to 108975
Columns: 101 entries, Start date to Installed_generation_capacity_Other conventional [MW]
dtypes: UInt32(1), datetime64[ns](2), float64(93), int32(5)
memory usage: 81.6 MB

In [484]:
merged_df13.columns.tolist()

['Start date',
 'End date',
 'Actual_consumption_Total (grid load) [MWh]',
 'Actual_consumption_Residual load [MWh]',
 'Actual_consumption_Hydro pumped storage [MWh]',
 'hour',
 'day',
 'weekday',
 'week',
 'month',
 'year',
 'Biomass [MWh] Original resolutions',
 'Hydropower [MWh] Original resolutions',
 'Wind offshore [MWh] Original resolutions',
 'Wind onshore [MWh] Original resolutions',
 'Photovoltaics [MWh] Original resolutions',
 'Other renewable [MWh] Original resolutions',
 'Nuclear [MWh] Original resolutions',
 'Lignite [MWh] Original resolutions',
 'Hard coal [MWh] Original resolutions',
 'Fossil gas [MWh] Original resolutions',
 'Hydro pumped storage [MWh] Original resolutions',
 'Other conventional [MWh] Original resolutions',
 'Total Generation [MWh]',
 'Volume activated (+) [MWh] Original resolutions',
 'Volume activated (-) [MWh] Original resolutions',
 'Volume procured (+) [MW] Original resolutions',
 'Volume procured (-) [MW] Original resolutions',
 'Procurement price (+) [€/MW] Original resolutions',
 'Procurement price (-) [€/MW] Original resolutions',
 'Price [€/MWh] Original resolutions',
 'Net income [€] Original resolutions',
 'Balancing services [€] Original resolutions',
 'Network security of the TSOs [€] Original resolutions',
 'Countertrading [€] Original resolutions',
 'Net export [MWh] Original resolutions',
 'Netherlands (export) [MWh] Original resolutions',
 'Netherlands (import) [MWh] Original resolutions',
 'Switzerland (export) [MWh] Original resolutions',
 'Switzerland (import) [MWh] Original resolutions',
 'Denmark (export) [MWh] Original resolutions',
 'Denmark (import) [MWh] Original resolutions',
 'Czech Republic (export) [MWh] Original resolutions',
 'Czech Republic (import) [MWh] Original resolutions',
 'Luxembourg (export) [MWh] Original resolutions',
 'Luxembourg (import) [MWh] Original resolutions',
 'Sweden (export) [MWh] Original resolutions',
 'Sweden (import) [MWh] Original resolutions',
 'Austria (export) [MWh] Original resolutions',
 'Austria (import) [MWh] Original resolutions',
 'France (export) [MWh] Original resolutions',
 'France (import) [MWh] Original resolutions',
 'Poland (export) [MWh] Original resolutions',
 'Poland (import) [MWh] Original resolutions',
 'Norway (export) [MWh] Original resolutions',
 'Norway (import) [MWh] Original resolutions',
 'Belgium (export) [MWh] Original resolutions',
 'Belgium (import) [MWh] Original resolutions',
 'Germany/Luxembourg [€/MWh] Original resolutions',
 '∅ DE/LU neighbours [€/MWh] Original resolutions',
 'Belgium [€/MWh] Original resolutions',
 'Denmark 1 [€/MWh] Original resolutions',
 'Denmark 2 [€/MWh] Original resolutions',
 'France [€/MWh] Original resolutions',
 'Netherlands [€/MWh] Original resolutions',
 'Norway 2 [€/MWh] Original resolutions',
 'Austria [€/MWh] Original resolutions',
 'Poland [€/MWh] Original resolutions',
 'Sweden 4 [€/MWh] Original resolutions',
 'Switzerland [€/MWh] Original resolutions',
 'Czech Republic [€/MWh] Original resolutions',
 'Northern Italy [€/MWh] Original resolutions',
 'Slovenia [€/MWh] Original resolutions',
 'Hungary [€/MWh] Original resolutions',
 'Austria [MWh] Original resolutions',
 'Forecasted_consumption_Total (grid load) [MWh]',
 'Forecasted_consumption_Residual load [MWh]',
 'Forecasted_generation_Total [MWh]',
 'Forecasted_generation_Photovoltaics and wind [MWh]',
 'Forecasted_generation_Wind offshore [MWh]',
 'Forecasted_generation_Wind onshore [MWh]',
 'Forecasted_generation_Photovoltaics [MWh]',
 'Forecasted_generation_Other [MWh]',
 'Frequency_Containment_Reserve_Procurement price [€/MW]',
 'Generation_Forecast_Intraday_Photovoltaics and wind [MWh]',
 'Generation_Forecast_Intraday_Wind offshore [MWh]',
 'Generation_Forecast_Intraday_Wind onshore [MWh]',
 'Generation_Forecast_Intraday_Photovoltaics [MWh]',
 'Imported_balancing_services_Austria [MWh]',
 'Installed_generation_capacity_Biomass [MW]',
 'Installed_generation_capacity_Hydropower [MW]',
 'Installed_generation_capacity_Wind offshore [MW]',
 'Installed_generation_capacity_Wind onshore [MW]',
 'Installed_generation_capacity_Photovoltaics [MW]',
 'Installed_generation_capacity_Other renewable [MW]',
 'Installed_generation_capacity_Nuclear [MW]',
 'Installed_generation_capacity_Lignite [MW]',
 'Installed_generation_capacity_Hard coal [MW]',
 'Installed_generation_capacity_Fossil gas [MW]',
 'Installed_generation_capacity_Hydro pumped storage [MW]',
 'Installed_generation_capacity_Other conventional [MW]']

In [486]:
#########################################

In [488]:
Manual_Frequency_Restoration_Reserve = pd.read_csv("Manual_Frequency_Restoration_Reserve_202301010000_202503050000_Quarterhour.csv", 
                                                      on_bad_lines='skip', delimiter=';', low_memory=False)

In [490]:
Manual_Frequency_Restoration_Reserve.head()

,Start date,End date,Volume activated (+) [MWh] Original resolutions,Volume activated (-) [MWh] Original resolutions,Activation price (+) [€/MWh] Original resolutions,Activation price (-) [€/MWh] Original resolutions,Volume procured (+) [MW] Original resolutions,Volume procured (-) [MW] Original resolutions,Procurement price (+) [€/MW] Original resolutions,Procurement price (-) [€/MW] Original resolutions
0,"Jan 1, 2023 12:00 AM","Jan 1, 2023 12:15 AM",-,-,-,-,977.00,358.00,0.06,1.66
1,"Jan 1, 2023 12:15 AM","Jan 1, 2023 12:30 AM",-,-,-,-,977.00,355.00,0.06,1.66
2,"Jan 1, 2023 12:30 AM","Jan 1, 2023 12:45 AM",-,-,-,-,977.00,355.00,0.06,1.66
3,"Jan 1, 2023 12:45 AM","Jan 1, 2023 1:00 AM",-,-,-,-,977.00,355.00,0.06,1.66
4,"Jan 1, 2023 1:00 AM","Jan 1, 2023 1:15 AM",-,-,-,-,977.00,355.00,0.06,1.66

In [492]:
# Replace '-' with NaN and convert columns to numeric for the Manual_Frequency_Restoration_Reserve dataset
cols_to_clean = [
    'Volume activated (+) [MWh] Original resolutions',
    'Volume activated (-) [MWh] Original resolutions',
    'Activation price (+) [€/MWh] Original resolutions',
    'Activation price (-) [€/MWh] Original resolutions',
    'Volume procured (+) [MW] Original resolutions',
    'Volume procured (-) [MW] Original resolutions',
    'Procurement price (+) [€/MW] Original resolutions',
    'Procurement price (-) [€/MW] Original resolutions'
]

for col in cols_to_clean:
    Manual_Frequency_Restoration_Reserve[col] = Manual_Frequency_Restoration_Reserve[col].replace({'-': np.nan, ',': ''}, regex=True)
    Manual_Frequency_Restoration_Reserve[col] = pd.to_numeric(Manual_Frequency_Restoration_Reserve[col], errors='coerce')

# Check the cleaned dataset
Manual_Frequency_Restoration_Reserve.head()

C:\Users\yunus\AppData\Local\Temp\ipykernel_11472\3133847167.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Manual_Frequency_Restoration_Reserve[col] = Manual_Frequency_Restoration_Reserve[col].replace({'-': np.nan, ',': ''}, regex=True)

,Start date,End date,Volume activated (+) [MWh] Original resolutions,Volume activated (-) [MWh] Original resolutions,Activation price (+) [€/MWh] Original resolutions,Activation price (-) [€/MWh] Original resolutions,Volume procured (+) [MW] Original resolutions,Volume procured (-) [MW] Original resolutions,Procurement price (+) [€/MW] Original resolutions,Procurement price (-) [€/MW] Original resolutions
0,"Jan 1, 2023 12:00 AM","Jan 1, 2023 12:15 AM",NaN,NaN,NaN,NaN,977.0,358.0,0.06,1.66
1,"Jan 1, 2023 12:15 AM","Jan 1, 2023 12:30 AM",NaN,NaN,NaN,NaN,977.0,355.0,0.06,1.66
2,"Jan 1, 2023 12:30 AM","Jan 1, 2023 12:45 AM",NaN,NaN,NaN,NaN,977.0,355.0,0.06,1.66
3,"Jan 1, 2023 12:45 AM","Jan 1, 2023 1:00 AM",NaN,NaN,NaN,NaN,977.0,355.0,0.06,1.66
4,"Jan 1, 2023 1:00 AM","Jan 1, 2023 1:15 AM",NaN,NaN,NaN,NaN,977.0,355.0,0.06,1.66

In [494]:
# Convert 'Start date' to datetime
Manual_Frequency_Restoration_Reserve['Start date'] = pd.to_datetime(Manual_Frequency_Restoration_Reserve['Start date'], format='%b %d, %Y %I:%M %p')
Manual_Frequency_Restoration_Reserve['End date'] = pd.to_datetime(Manual_Frequency_Restoration_Reserve['End date'], format='%b %d, %Y %I:%M %p')

# Extract time-based features
Manual_Frequency_Restoration_Reserve['hour'] = Manual_Frequency_Restoration_Reserve['Start date'].dt.hour
Manual_Frequency_Restoration_Reserve['day'] = Manual_Frequency_Restoration_Reserve['Start date'].dt.day
Manual_Frequency_Restoration_Reserve['week'] = Manual_Frequency_Restoration_Reserve['Start date'].dt.isocalendar().week
Manual_Frequency_Restoration_Reserve['weekday'] = Manual_Frequency_Restoration_Reserve['Start date'].dt.weekday  # 0=Monday, 6=Sunday
Manual_Frequency_Restoration_Reserve['month'] = Manual_Frequency_Restoration_Reserve['Start date'].dt.month
Manual_Frequency_Restoration_Reserve['year'] = Manual_Frequency_Restoration_Reserve['Start date'].dt.year

In [496]:
# Drop columns that are completely empty (contain only NaN values)
cols_to_drop = [
    'Volume activated (+) [MWh] Original resolutions',
    'Volume activated (-) [MWh] Original resolutions',
    'Activation price (+) [€/MWh] Original resolutions',
    'Activation price (-) [€/MWh] Original resolutions'
]

# Drop these columns from the dataset
Manual_Frequency_Restoration_Reserve.drop(columns=cols_to_drop, inplace=True)

# Check the dataset after dropping the columns
Manual_Frequency_Restoration_Reserve.head()

,Start date,End date,Volume procured (+) [MW] Original resolutions,Volume procured (-) [MW] Original resolutions,Procurement price (+) [€/MW] Original resolutions,Procurement price (-) [€/MW] Original resolutions,hour,day,week,weekday,month,year
0,2023-01-01 00:00:00,2023-01-01 00:15:00,977.0,358.0,0.06,1.66,0,1,52,6,1,2023
1,2023-01-01 00:15:00,2023-01-01 00:30:00,977.0,355.0,0.06,1.66,0,1,52,6,1,2023
2,2023-01-01 00:30:00,2023-01-01 00:45:00,977.0,355.0,0.06,1.66,0,1,52,6,1,2023
3,2023-01-01 00:45:00,2023-01-01 01:00:00,977.0,355.0,0.06,1.66,0,1,52,6,1,2023
4,2023-01-01 01:00:00,2023-01-01 01:15:00,977.0,355.0,0.06,1.66,1,1,52,6,1,2023

In [498]:
Manual_Frequency_Restoration_Reserve.rename(columns={'Volume procured (+) [MW] Original resolutions': 'Manual_Frequency_Restoration_Reserve_Volume procured (+) [MW]'}, 
                                    inplace=True)

In [500]:
Manual_Frequency_Restoration_Reserve.rename(columns={'Volume procured (-) [MW] Original resolutions': 'Manual_Frequency_Restoration_Reserve_Volume procured (-) [MW]'}, 
                                    inplace=True)

In [502]:
Manual_Frequency_Restoration_Reserve.rename(columns={'Procurement price (+) [€/MW] Original resolutions': 'Manual_Frequency_Restoration_Reserve_Procurement price (+) [€/MW]'}, 
                                    inplace=True)

In [504]:
Manual_Frequency_Restoration_Reserve.rename(columns={'Procurement price (-) [€/MW] Original resolutions': 'Manual_Frequency_Restoration_Reserve_Procurement price (-) [€/MW]'}, 
                                    inplace=True)

In [506]:
Manual_Frequency_Restoration_Reserve.head()

,Start date,End date,Manual_Frequency_Restoration_Reserve_Volume procured (+) [MW],Manual_Frequency_Restoration_Reserve_Volume procured (-) [MW],Manual_Frequency_Restoration_Reserve_Procurement price (+) [€/MW],Manual_Frequency_Restoration_Reserve_Procurement price (-) [€/MW],hour,day,week,weekday,month,year
0,2023-01-01 00:00:00,2023-01-01 00:15:00,977.0,358.0,0.06,1.66,0,1,52,6,1,2023
1,2023-01-01 00:15:00,2023-01-01 00:30:00,977.0,355.0,0.06,1.66,0,1,52,6,1,2023
2,2023-01-01 00:30:00,2023-01-01 00:45:00,977.0,355.0,0.06,1.66,0,1,52,6,1,2023
3,2023-01-01 00:45:00,2023-01-01 01:00:00,977.0,355.0,0.06,1.66,0,1,52,6,1,2023
4,2023-01-01 01:00:00,2023-01-01 01:15:00,977.0,355.0,0.06,1.66,1,1,52,6,1,2023

In [508]:
Manual_Frequency_Restoration_Reserve.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76224 entries, 0 to 76223
Data columns (total 12 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Start date                                                         76224 non-null  datetime64[ns]
 1   End date                                                           76224 non-null  datetime64[ns]
 2   Manual_Frequency_Restoration_Reserve_Volume procured (+) [MW]      17372 non-null  float64
 3   Manual_Frequency_Restoration_Reserve_Volume procured (-) [MW]      17372 non-null  float64
 4   Manual_Frequency_Restoration_Reserve_Procurement price (+) [€/MW]  17372 non-null  float64
 5   Manual_Frequency_Restoration_Reserve_Procurement price (-) [€/MW]  17372 non-null  float64
 6   hour                                                               76224 non-null  int32
 7   day                                                                76224 non-null  int32
 8   week                                                               76224 non-null  UInt32
 9   weekday                                                            76224 non-null  int32
 10  month                                                              76224 non-null  int32
 11  year                                                               76224 non-null  int32
dtypes: UInt32(1), datetime64[ns](2), float64(4), int32(5)
memory usage: 5.3 MB

In [512]:
#########################################

In [514]:
# Merge the two dataframes
merged_df14 = pd.merge(
    merged_df13, 
    Manual_Frequency_Restoration_Reserve, 
    on=['Start date', 'End date', 'hour', 'day', 'weekday', 'week', 'month', 'year'], 
    how='inner'
)

# Check the result
merged_df14.info()
merged_df14.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141744 entries, 0 to 141743
Columns: 105 entries, Start date to Manual_Frequency_Restoration_Reserve_Procurement price (-) [€/MW]
dtypes: UInt32(1), datetime64[ns](2), float64(97), int32(5)
memory usage: 110.4 MB

,Start date,End date,Actual_consumption_Total (grid load) [MWh],Actual_consumption_Residual load [MWh],Actual_consumption_Hydro pumped storage [MWh],hour,day,weekday,week,month,...,Installed_generation_capacity_Nuclear [MW],Installed_generation_capacity_Lignite [MW],Installed_generation_capacity_Hard coal [MW],Installed_generation_capacity_Fossil gas [MW],Installed_generation_capacity_Hydro pumped storage [MW],Installed_generation_capacity_Other conventional [MW],Manual_Frequency_Restoration_Reserve_Volume procured (+) [MW],Manual_Frequency_Restoration_Reserve_Volume procured (-) [MW],Manual_Frequency_Restoration_Reserve_Procurement price (+) [€/MW],Manual_Frequency_Restoration_Reserve_Procurement price (-) [€/MW]
0,2023-01-01 00:00:00,2023-01-01 00:15:00,9673.00,1842.5,494.00,0,1,6,52,1,...,4056.0,17692.0,18559.0,31808.0,9379.0,8958.0,977.0,358.0,0.06,1.66
1,2023-01-01 00:15:00,2023-01-01 00:30:00,9593.50,1691.5,502.50,0,1,6,52,1,...,4056.0,17692.0,18559.0,31808.0,9379.0,8958.0,977.0,355.0,0.06,1.66
2,2023-01-01 00:30:00,2023-01-01 00:45:00,9562.00,1442.5,561.00,0,1,6,52,1,...,4056.0,17692.0,18559.0,31808.0,9379.0,8958.0,977.0,355.0,0.06,1.66
3,2023-01-01 00:45:00,2023-01-01 01:00:00,9517.50,1598.5,519.25,0,1,6,52,1,...,4056.0,17692.0,18559.0,31808.0,9379.0,8958.0,977.0,355.0,0.06,1.66
4,2023-01-01 01:00:00,2023-01-01 01:15:00,9433.25,1325.5,301.00,1,1,6,52,1,...,NaN,NaN,NaN,NaN,NaN,NaN,977.0,355.0,0.06,1.66

In [516]:
# Save DataFrame to CSV file
merged_df14.to_csv('merged_df14.csv', index=False)

In [518]:
#########################################

In [574]:
Scheduled_commercial_exchanges = pd.read_csv("Scheduled_commercial_exchanges_202301010000_202503050000_Quarterhour.csv", 
                                                      on_bad_lines='skip', delimiter=';', low_memory=False)

In [576]:
Scheduled_commercial_exchanges.head()

,Start date,End date,Net export [MWh] Original resolutions,Netherlands (export) [MWh] Original resolutions,Netherlands (import) [MWh] Original resolutions,Switzerland (export) [MWh] Original resolutions,Switzerland (import) [MWh] Original resolutions,Denmark (export) [MWh] Original resolutions,Denmark (import) [MWh] Original resolutions,Czech Republic (export) [MWh] Original resolutions,...,Austria (export) [MWh] Original resolutions,Austria (import) [MWh] Original resolutions,France (export) [MWh] Original resolutions,France (import) [MWh] Original resolutions,Poland (export) [MWh] Original resolutions,Poland (import) [MWh] Original resolutions,Norway (export) [MWh] Original resolutions,Norway (import) [MWh] Original resolutions,Belgium (export) [MWh] Original resolutions,Belgium (import) [MWh] Original resolutions
0,"Jan 1, 2023 12:00 AM","Jan 1, 2023 12:15 AM","3,161.29",378.80,-165.75,197.99,0.00,767.00,-92.98,15.50,...,547.03,0.0,859.99,0.00,6.43,-1.43,322.25,0.0,112.90,0.00
1,"Jan 1, 2023 12:15 AM","Jan 1, 2023 12:30 AM","3,135.99",378.80,-165.75,197.99,0.00,767.00,-92.98,15.50,...,547.03,0.0,859.99,0.00,6.43,-1.43,322.25,0.0,87.60,0.00
2,"Jan 1, 2023 12:30 AM","Jan 1, 2023 12:45 AM","3,131.54",378.80,-165.75,197.99,0.00,767.00,-92.98,15.50,...,547.03,0.0,859.99,0.00,6.43,-1.43,322.25,0.0,83.15,0.00
3,"Jan 1, 2023 12:45 AM","Jan 1, 2023 1:00 AM","3,128.84",378.80,-165.75,197.99,0.00,767.00,-92.98,15.50,...,547.03,0.0,859.99,0.00,6.43,-1.43,322.25,0.0,80.45,0.00
4,"Jan 1, 2023 1:00 AM","Jan 1, 2023 1:15 AM","3,852.52",501.15,-95.00,199.81,0.00,751.15,-108.90,177.38,...,723.36,0.0,"1,368.55",0.00,189.40,-5.88,322.25,0.0,131.65,-501.63

In [578]:
Scheduled_commercial_exchanges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76224 entries, 0 to 76223
Data columns (total 25 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Start date                                          76224 non-null  object
 1   End date                                            76224 non-null  object
 2   Net export [MWh] Original resolutions               76224 non-null  object
 3   Netherlands (export) [MWh] Original resolutions     76224 non-null  object
 4   Netherlands (import) [MWh] Original resolutions     76224 non-null  object
 5   Switzerland (export) [MWh] Original resolutions     76224 non-null  float64
 6   Switzerland (import) [MWh] Original resolutions     76224 non-null  object
 7   Denmark (export) [MWh] Original resolutions         76224 non-null  object
 8   Denmark (import) [MWh] Original resolutions         76224 non-null  object
 9   Czech Republic (export) [MWh] Original resolutions  76224 non-null  float64
 10  Czech Republic (import) [MWh] Original resolutions  76224 non-null  float64
 11  Luxembourg (export) [MWh] Original resolutions      76224 non-null  float64
 12  Luxembourg (import) [MWh] Original resolutions      76224 non-null  float64
 13  Sweden (export) [MWh] Original resolutions          76224 non-null  float64
 14  Sweden (import) [MWh] Original resolutions          76224 non-null  float64
 15  Austria (export) [MWh] Original resolutions         76224 non-null  object
 16  Austria (import) [MWh] Original resolutions         76224 non-null  float64
 17  France (export) [MWh] Original resolutions          76224 non-null  object
 18  France (import) [MWh] Original resolutions          76224 non-null  object
 19  Poland (export) [MWh] Original resolutions          76224 non-null  float64
 20  Poland (import) [MWh] Original resolutions          76224 non-null  float64
 21  Norway (export) [MWh] Original resolutions          76224 non-null  float64
 22  Norway (import) [MWh] Original resolutions          76224 non-null  float64
 23  Belgium (export) [MWh] Original resolutions         76224 non-null  float64
 24  Belgium (import) [MWh] Original resolutions         76224 non-null  float64
dtypes: float64(14), object(11)
memory usage: 14.5+ MB

In [580]:
# Convert 'Start date' and 'End date' to datetime
Scheduled_commercial_exchanges['Start date'] = pd.to_datetime(Scheduled_commercial_exchanges['Start date'], format='%b %d, %Y %I:%M %p')
Scheduled_commercial_exchanges['End date'] = pd.to_datetime(Scheduled_commercial_exchanges['End date'], format='%b %d, %Y %I:%M %p')

# Identify numerical columns (excluding 'Start date' and 'End date')
num_cols = Scheduled_commercial_exchanges.columns.difference(['Start date', 'End date'])

# Replace standalone '-' with NaN (but keep negative numbers)
Scheduled_commercial_exchanges[num_cols] = Scheduled_commercial_exchanges[num_cols].replace({'^-?$': np.nan, ',': ''}, regex=True)

# Convert to numeric
Scheduled_commercial_exchanges[num_cols] = Scheduled_commercial_exchanges[num_cols].apply(pd.to_numeric, errors='coerce')

# Replace infinite values with NaN
Scheduled_commercial_exchanges.replace([np.inf, -np.inf], np.nan, inplace=True)

# Sort data by 'Start date'
Scheduled_commercial_exchanges = Scheduled_commercial_exchanges.sort_values(by='Start date').reset_index(drop=True)

# Display processed data
Scheduled_commercial_exchanges.head()

,Start date,End date,Net export [MWh] Original resolutions,Netherlands (export) [MWh] Original resolutions,Netherlands (import) [MWh] Original resolutions,Switzerland (export) [MWh] Original resolutions,Switzerland (import) [MWh] Original resolutions,Denmark (export) [MWh] Original resolutions,Denmark (import) [MWh] Original resolutions,Czech Republic (export) [MWh] Original resolutions,...,Austria (export) [MWh] Original resolutions,Austria (import) [MWh] Original resolutions,France (export) [MWh] Original resolutions,France (import) [MWh] Original resolutions,Poland (export) [MWh] Original resolutions,Poland (import) [MWh] Original resolutions,Norway (export) [MWh] Original resolutions,Norway (import) [MWh] Original resolutions,Belgium (export) [MWh] Original resolutions,Belgium (import) [MWh] Original resolutions
0,2023-01-01 00:00:00,2023-01-01 00:15:00,3161.29,378.80,-165.75,197.99,0.0,767.00,-92.98,15.50,...,547.03,0.0,859.99,0.0,6.43,-1.43,322.25,0.0,112.90,0.00
1,2023-01-01 00:15:00,2023-01-01 00:30:00,3135.99,378.80,-165.75,197.99,0.0,767.00,-92.98,15.50,...,547.03,0.0,859.99,0.0,6.43,-1.43,322.25,0.0,87.60,0.00
2,2023-01-01 00:30:00,2023-01-01 00:45:00,3131.54,378.80,-165.75,197.99,0.0,767.00,-92.98,15.50,...,547.03,0.0,859.99,0.0,6.43,-1.43,322.25,0.0,83.15,0.00
3,2023-01-01 00:45:00,2023-01-01 01:00:00,3128.84,378.80,-165.75,197.99,0.0,767.00,-92.98,15.50,...,547.03,0.0,859.99,0.0,6.43,-1.43,322.25,0.0,80.45,0.00
4,2023-01-01 01:00:00,2023-01-01 01:15:00,3852.52,501.15,-95.00,199.81,0.0,751.15,-108.90,177.38,...,723.36,0.0,1368.55,0.0,189.40,-5.88,322.25,0.0,131.65,-501.63

In [581]:
# Data Processing for Scheduled_commercial_exchanges
# Extract time-based features
Scheduled_commercial_exchanges['hour'] = Scheduled_commercial_exchanges['Start date'].dt.hour
Scheduled_commercial_exchanges['day'] = Scheduled_commercial_exchanges['Start date'].dt.day
Scheduled_commercial_exchanges['week'] = Scheduled_commercial_exchanges['Start date'].dt.isocalendar().week
Scheduled_commercial_exchanges['weekday'] = Scheduled_commercial_exchanges['Start date'].dt.weekday  # 0=Monday, 6=Sunday
Scheduled_commercial_exchanges['month'] = Scheduled_commercial_exchanges['Start date'].dt.month
Scheduled_commercial_exchanges['year'] = Scheduled_commercial_exchanges['Start date'].dt.year

In [582]:
Scheduled_commercial_exchanges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76224 entries, 0 to 76223
Data columns (total 31 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Start date                                          76224 non-null  datetime64[ns]
 1   End date                                            76224 non-null  datetime64[ns]
 2   Net export [MWh] Original resolutions               76224 non-null  float64
 3   Netherlands (export) [MWh] Original resolutions     76224 non-null  float64
 4   Netherlands (import) [MWh] Original resolutions     76224 non-null  float64
 5   Switzerland (export) [MWh] Original resolutions     76224 non-null  float64
 6   Switzerland (import) [MWh] Original resolutions     76224 non-null  float64
 7   Denmark (export) [MWh] Original resolutions         76224 non-null  float64
 8   Denmark (import) [MWh] Original resolutions         76224 non-null  float64
 9   Czech Republic (export) [MWh] Original resolutions  76224 non-null  float64
 10  Czech Republic (import) [MWh] Original resolutions  76224 non-null  float64
 11  Luxembourg (export) [MWh] Original resolutions      76224 non-null  float64
 12  Luxembourg (import) [MWh] Original resolutions      76224 non-null  float64
 13  Sweden (export) [MWh] Original resolutions          76224 non-null  float64
 14  Sweden (import) [MWh] Original resolutions          76224 non-null  float64
 15  Austria (export) [MWh] Original resolutions         76224 non-null  float64
 16  Austria (import) [MWh] Original resolutions         76224 non-null  float64
 17  France (export) [MWh] Original resolutions          76224 non-null  float64
 18  France (import) [MWh] Original resolutions          76224 non-null  float64
 19  Poland (export) [MWh] Original resolutions          76224 non-null  float64
 20  Poland (import) [MWh] Original resolutions          76224 non-null  float64
 21  Norway (export) [MWh] Original resolutions          76224 non-null  float64
 22  Norway (import) [MWh] Original resolutions          76224 non-null  float64
 23  Belgium (export) [MWh] Original resolutions         76224 non-null  float64
 24  Belgium (import) [MWh] Original resolutions         76224 non-null  float64
 25  hour                                                76224 non-null  int32
 26  day                                                 76224 non-null  int32
 27  week                                                76224 non-null  UInt32
 28  weekday                                             76224 non-null  int32
 29  month                                               76224 non-null  int32
 30  year                                                76224 non-null  int32
dtypes: UInt32(1), datetime64[ns](2), float64(23), int32(5)
memory usage: 16.4 MB

In [586]:
Scheduled_commercial_exchanges.columns.tolist()

['Start date',
 'End date',
 'Net export [MWh] Original resolutions',
 'Netherlands (export) [MWh] Original resolutions',
 'Netherlands (import) [MWh] Original resolutions',
 'Switzerland (export) [MWh] Original resolutions',
 'Switzerland (import) [MWh] Original resolutions',
 'Denmark (export) [MWh] Original resolutions',
 'Denmark (import) [MWh] Original resolutions',
 'Czech Republic (export) [MWh] Original resolutions',
 'Czech Republic (import) [MWh] Original resolutions',
 'Luxembourg (export) [MWh] Original resolutions',
 'Luxembourg (import) [MWh] Original resolutions',
 'Sweden (export) [MWh] Original resolutions',
 'Sweden (import) [MWh] Original resolutions',
 'Austria (export) [MWh] Original resolutions',
 'Austria (import) [MWh] Original resolutions',
 'France (export) [MWh] Original resolutions',
 'France (import) [MWh] Original resolutions',
 'Poland (export) [MWh] Original resolutions',
 'Poland (import) [MWh] Original resolutions',
 'Norway (export) [MWh] Original resolutions',
 'Norway (import) [MWh] Original resolutions',
 'Belgium (export) [MWh] Original resolutions',
 'Belgium (import) [MWh] Original resolutions',
 'hour',
 'day',
 'week',
 'weekday',
 'month',
 'year']

In [588]:
# Define a renaming function
def rename_columns(col):
    if col in ['Start date', 'End date', 'hour', 'day', 'week', 'weekday', 'month', 'year']:
        return col  # Keep datetime columns unchanged
    return f"Scheduled_commercial_exchanges_{col.replace(' Original resolutions', '')}"

# Apply renaming
Scheduled_commercial_exchanges.rename(columns=rename_columns, inplace=True)

# Display the new column names
print(Scheduled_commercial_exchanges.columns)

Index(['Start date', 'End date',
       'Scheduled_commercial_exchanges_Net export [MWh]',
       'Scheduled_commercial_exchanges_Netherlands (export) [MWh]',
       'Scheduled_commercial_exchanges_Netherlands (import) [MWh]',
       'Scheduled_commercial_exchanges_Switzerland (export) [MWh]',
       'Scheduled_commercial_exchanges_Switzerland (import) [MWh]',
       'Scheduled_commercial_exchanges_Denmark (export) [MWh]',
       'Scheduled_commercial_exchanges_Denmark (import) [MWh]',
       'Scheduled_commercial_exchanges_Czech Republic (export) [MWh]',
       'Scheduled_commercial_exchanges_Czech Republic (import) [MWh]',
       'Scheduled_commercial_exchanges_Luxembourg (export) [MWh]',
       'Scheduled_commercial_exchanges_Luxembourg (import) [MWh]',
       'Scheduled_commercial_exchanges_Sweden (export) [MWh]',
       'Scheduled_commercial_exchanges_Sweden (import) [MWh]',
       'Scheduled_commercial_exchanges_Austria (export) [MWh]',
       'Scheduled_commercial_exchanges_Austria (import) [MWh]',
       'Scheduled_commercial_exchanges_France (export) [MWh]',
       'Scheduled_commercial_exchanges_France (import) [MWh]',
       'Scheduled_commercial_exchanges_Poland (export) [MWh]',
       'Scheduled_commercial_exchanges_Poland (import) [MWh]',
       'Scheduled_commercial_exchanges_Norway (export) [MWh]',
       'Scheduled_commercial_exchanges_Norway (import) [MWh]',
       'Scheduled_commercial_exchanges_Belgium (export) [MWh]',
       'Scheduled_commercial_exchanges_Belgium (import) [MWh]', 'hour', 'day',
       'week', 'weekday', 'month', 'year'],
      dtype='object')

In [590]:
###############################################

In [592]:
# Merge the two dataframes
merged_df15 = pd.merge(
    merged_df14, 
    Scheduled_commercial_exchanges, 
    on=['Start date', 'End date', 'hour', 'day', 'weekday', 'week', 'month', 'year'], 
    how='inner'
)

# Check the result
merged_df15.info()
merged_df15.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207280 entries, 0 to 207279
Columns: 128 entries, Start date to Scheduled_commercial_exchanges_Belgium (import) [MWh]
dtypes: UInt32(1), datetime64[ns](2), float64(120), int32(5)
memory usage: 197.9 MB

,Start date,End date,Actual_consumption_Total (grid load) [MWh],Actual_consumption_Residual load [MWh],Actual_consumption_Hydro pumped storage [MWh],hour,day,weekday,week,month,...,Scheduled_commercial_exchanges_Austria (export) [MWh],Scheduled_commercial_exchanges_Austria (import) [MWh],Scheduled_commercial_exchanges_France (export) [MWh],Scheduled_commercial_exchanges_France (import) [MWh],Scheduled_commercial_exchanges_Poland (export) [MWh],Scheduled_commercial_exchanges_Poland (import) [MWh],Scheduled_commercial_exchanges_Norway (export) [MWh],Scheduled_commercial_exchanges_Norway (import) [MWh],Scheduled_commercial_exchanges_Belgium (export) [MWh],Scheduled_commercial_exchanges_Belgium (import) [MWh]
0,2023-01-01 00:00:00,2023-01-01 00:15:00,9673.00,1842.5,494.00,0,1,6,52,1,...,547.03,0.0,859.99,0.0,6.43,-1.43,322.25,0.0,112.90,0.00
1,2023-01-01 00:15:00,2023-01-01 00:30:00,9593.50,1691.5,502.50,0,1,6,52,1,...,547.03,0.0,859.99,0.0,6.43,-1.43,322.25,0.0,87.60,0.00
2,2023-01-01 00:30:00,2023-01-01 00:45:00,9562.00,1442.5,561.00,0,1,6,52,1,...,547.03,0.0,859.99,0.0,6.43,-1.43,322.25,0.0,83.15,0.00
3,2023-01-01 00:45:00,2023-01-01 01:00:00,9517.50,1598.5,519.25,0,1,6,52,1,...,547.03,0.0,859.99,0.0,6.43,-1.43,322.25,0.0,80.45,0.00
4,2023-01-01 01:00:00,2023-01-01 01:15:00,9433.25,1325.5,301.00,1,1,6,52,1,...,723.36,0.0,1368.55,0.0,189.40,-5.88,322.25,0.0,131.65,-501.63

In [594]:
# Save DataFrame to CSV file
merged_df15.to_csv('merged_df15.csv', index=False)

In [596]:
# End of the script